<div class="widget-output-container" fxLayout="column">
    <div class="widget-title" #widgetTitle *ngIf="editMode">
        <div class="title-label">
            <span class="navbar-item">Widget name:</span>
        </div>
        <span fxFlex="1 1 100%" fxLayout="row" class="title-content">
            <inline-editable class="navbar-item"
                showEditIcon="true"
                [fieldValue]="widget.settings.title"
                [minLength]="3"
                [maxLength]="100"
                (updatedValue)="setTitle($event)">
            </inline-editable>
        </span>
        <graph-type (change)="changeWidgetType($event)" selected="DonutWidgetComponent"></graph-type>
    </div>
    <div class="widget-output" #widgetoutput>
        <div id="container" #container [ngClass]="{
            'display-legend-right': widget.settings.legend.display && widget.settings.legend.position=='right',
            'display-legend-left': widget.settings.legend.display && widget.settings.legend.position=='left'}">
            <div class="chart"
                D3PieChart
                [options]="options"
                [size]="size"
                ></div>
            <span class="legend" [style.maxWidth]="size.legendWidth + 'px'" [style.height]="size.height - 30 + 'px'" [style.display]="size.legendWidth>=80 ? 'inline-block':'none'" #chartLegend></span>
        </div>
        <!--<div class="loading-spinner size-s color-primary" *ngIf="nQueryDataLoading > 0"></div>-->
        <div class="gif-spinner" *ngIf="nQueryDataLoading > 0">
            <img src="/assets/spinner-26x26.gif" />
        </div>
        <div class="error" *ngIf="error" (click)="showError()">
            <mat-icon>error</mat-icon>
        </div>
        <div class="debug" *ngIf="debugData" (click)="showDebug()">
            <mat-icon>info</mat-icon> {{ this.widget.id }}
        </div>
    </div>
</div>
<!-- NOTE: This needs to move to other component -->
<div class="widget-controls-container" *ngIf="editMode">
    <!-- tabs with config content -->
    <div class="widget-control-steps has-scroller">
        <div class="is-scroller">
            <div class="step-section query-section is-visible" #stepqueries>
                <div class="step-section-label">
                    <span class="step-section-label-text" (click)="toggleConfigSection('queries', $event);scrollToElement(stepqueries)">
                        <span>1. Queries </span>
                        <mat-icon fontSet="denali" [fontIcon]="visibleSections.queries ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.queries">
                    <widget-config-metric-queries [options]="{enableSummarizer: true, enableMultipleQueries:true}" [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-metric-queries>
                </div>
            </div>
            <div class="step-section query-section is-visible" #steptime>
                <div class="step-section-label">
                    <span class="step-section-label-text" (click)="toggleConfigSection('time', $event);scrollToElement(steptime);">
                        <span>2. Time Configuration </span>
                        <mat-icon fontSet="denali" [fontIcon]="visibleSections.time ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon></span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.time">
                    <widget-config-time [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-time>
                </div>
            </div>
            <div class="step-section query-section is-visible" #stepvisuals>
                <div class="step-section-label">
                    <span class="step-section-label-text" (click)="toggleConfigSection('visuals', $event);scrollToElement(stepvisuals);">
                        <span>3. Display </span>
                        <mat-icon fontSet="denali" [fontIcon]="visibleSections.visuals ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.visuals">
                    <widget-config-visual-appearance [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-visual-appearance>
                    <widget-config-sorting [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-sorting>
                </div>
            </div>
            <div class="step-section query-section is-visible" #steplegend>
                <div class="step-section-label">
                    <span class="step-section-label-text" (click)="toggleConfigSection('legend', $event);scrollToElement(steplegend);">
                        <span>4. Legend </span>
                        <mat-icon fontSet="denali" [fontIcon]="visibleSections.legend ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.legend">
                    <donutchart-legend [widget]="widget" (widgetChange)="updateConfig($event);"></donutchart-legend>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-actions">
        <!-- controls to save/cancel -->
        <button mat-raised-button color="primary" class="mat-elevation-z0"  (click)="applyConfig()">Apply to Dashboard</button>
        <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="closeViewEditMode()">Cancel</button>
    </div>
</div>
