@mixin donut-widget-component-base() {
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    // .widget-panel-content.donut-widget { }

    // when we are in edit view
    // .edit-view-container.is-active {
    //    .widget-panel-content.donut-widget { }
    // }

    .widget-panel-content.donutchart-widget {
        flex: 1;
        display: flex;
        max-height: 100%;

        .widget-output {
            padding: 5px 0px;
            width: 100%;
            height: 100%;
            max-height: 100%;
            display: flex;

            .loading-spinner,
            .gif-spinner {
                position: absolute;
                left: 5px;
                bottom: 5px;
                z-index: 1;
                /*width: 24px;
                height: 24px;
                background-image: url(/assets/denali-loader.svg);
                background-color: transparent;*/
            }

            .apply-tpl-status {
                position: absolute;
                right: -5px;
                top: 0px;
                z-index: 1;
                .mat-icon {
                    font-size: 16px;
                    color: rgb(216, 216, 215);
                }
            }

            .error{
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 30px;
                height: 30px;
                color: red;
            }

            .debug{
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 30px;
                height: 30px;
                color: rgb(75, 9, 228);
            }
        }

        #container {
            margin: 20px 0px 0px 0px;
            display:flex;
            justify-content: center;
            &.display-legend-right {
                flex-direction: row;
                align-items: center;
            }
            &.display-legend-left {
                flex-direction: row-reverse;
                align-items: center;
            }
            text {
                font-family: 'Ubuntu';
            }
            rect {
                cursor: pointer;
                stroke-width: 1;
            }
            rect.disabled {
                fill: transparent !important;
            }

            /* tooltip */
            .tooltip{
                background: #eee;
                box-shadow: 0 0 5px #999999;
                color: #333;
                display: none;
                font-size: 12px;
                padding: 5px;
                position: absolute;
                min-width: 100px;
                z-index: 10;
                top:10px;
                left: 10px;
		    }

            .chart {
                display: inline-block;
                position: relative;
            }
            .chart svg {
                width: 100%;
            }

            .legend {
                display: inline-block;
                min-width: 80px;
                height: 100%;
                overflow: overlay;
            }

            .legend svg {
                position: relative!important;
            }

            .legend text {
                cursor: pointer;
                fill: slategray;
            }

        }
    }
}

@mixin donut-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    // .widget-panel-content.donut-widget { }

}

