<div fxLayout="column" fxFlexFill ttBoundaryListener>
    <!-- need to figure out how to toggle on/off depending on whether there is template variables -->
    <!--<variable-template-bar *ngIf="!viewEditMode" [dbSettingsVariables]="variables" ></variable-template-bar> -->
    <template-variable-panel #tplVariablePanel *ngIf="viewEditMode !== true && !snapshot"
        [ngClass]="{'is-edit-mode': !variablePanelMode.view}"
        [mode]="variablePanelMode"
        [widgets]="widgets"
        [tagKeysByNamespaces] = "tagKeysByNamespaces"
        [tplVariables]="tplVariables"
        (modeChange)="changeVarPanelMode($event)">
    </template-variable-panel>
    <!--<div class="widget-title" #widgetTitle *ngIf="snapshot">
        <span fxFlex="1 1 100%" fxLayout="row" class="title-content">
            <span class="navbar-item">This snapshot created from the dashboard by user.syed on 12/12/2010 09:00 pm</span>
        </span>
        <button mat-flat-button class="snapshot-button" matTooltip="Snapshot" matTooltipPosition="below">
            <mat-icon fontSet="denali" fontIcon="d-camera"></mat-icon>
        </button>
    </div>-->
    <app-dboard-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch"
        [newWidget]="newWidget"
        [mWidget]="mWidget"
        (widgetsLayoutUpdate)="widgetsLayoutUpdate($event)"
        [rerender]="rerender"
        [widgets]="widgets"
        [dashboardMode]="dashboardMode$ | async">
    </app-dboard-content>
</div>
<ng-template #dashboardNavbarTmpl>
    <inline-editable class="navbar-item"
        [fieldValue]="dbSettings.meta.title"
        [minLength]="3"
        [maxLength]="50"
        (updatedValue)="setTitle($event)"
        style="margin-left: 5px;"
        *ngIf="(dashboardMode$ | async) !== 'explore' && activeMediaQuery !== 'xs'">
    </inline-editable>
    <span class="navbar-item nav-title-readonly" *ngIf="(dashboardMode$ | async) === 'explore'">Explore: {{ editViewModeMeta.title }}</span>

    <span class="navbar-item navbar-icon-item nav-dashboard-favorite-trigger" *ngIf="viewEditMode !== true && !snapshot && activeMediaQuery !== 'xs' && dbid !=='_new_'">
        <button mat-icon-button class="mat-elevation-z0"
            [ngClass]="{'dashboard-faved': isUserFavorited}"
            (click)="dashboardFavoriteAction(isUserFavorited)">
            <mat-icon fontSet="denali" [fontIcon]="isUserFavorited ? 'd-star-solid' : 'd-star'"></mat-icon>
        </button>
    </span>
    <span class="flex-spacer"></span>

    <span class="navbar-item nav-add-new-widget" *ngIf="viewEditMode !== true &&!snapshot && activeMediaQuery !== 'xs' && !viewEditMode">
        <button mat-flat-button class=""
            [ngClass]="{'menu-trigger-underline': availableWidgetsMenuIsOpen}"
            [matMenuTriggerFor]="dashboardAvailableWidgetsMenu"
            #availableWidgetsMenuTrigger>
            <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
            <span>Add Widget</span>
        </button>
        <!-- paste from widget clipboard
             TODO: add functionality-->
        <button mat-flat-button class="widget-clipboard-paste-trigger"
            [ngClass]="{'menu-trigger-underline': availableWidgetsMenuIsOpen}"
            [matMenuTriggerFor]="dashboardAvailableWidgetsMenu"
            matTooltip="Paste from widget clipboard"
            #availableWidgetsMenuTrigger>
            <mat-icon fontSet="denali" fontIcon="d-file-add"></mat-icon>
        </button>
        <mat-menu #dashboardAvailableWidgetsMenu="matMenu" [xPosition]="menuXAlignValue" [overlapTrigger]="false" class="nav-bar-dropmenu dashboard-available-widgets-menu" xPosition="before">
            <ng-template matMenuContent>
                <div class="available-widget-output">
                    <div class="widget-types">
                        <button mat-raised-button class="widget-type-selector mat-elevation-z0"
                        *ngFor="let wtype of availableWidgetTypes"
                        (click)="addNewWidget(wtype)">
                            <span class="widget-type-icon {{ wtype.iconClass }}"></span>
                            <span class="widget-type-label">{{ wtype.label }}</span>
                        </button>
                    </div>
                </div>
            </ng-template>
        </mat-menu>
    </span>
    <time-picker class="navbar-item nav-date-time-picker"
        (newChange)="handleTimePickerChanges($event)"
        [downsample]="dbDownsample"
        [tot]="dbToT"
        [timezone]="dbTime.zone"
        [startTime]="dbTime.start"
        [endTime]="dbTime.end"
        [isEditMode] = "viewEditMode"
        [refresh]="refresh$ | async"
        [xPosition]="menuXAlignValue">
    </time-picker>
    <span class="navbar-item nav-timezone-toggle">
        <navbar-timezone-toggle [timezone]="dbTime.zone" (change)="setTimezone($event);"></navbar-timezone-toggle>
    </span>

    <span class="navbar-item nav-dashboard-actions" *ngIf="activeMediaQuery !== 'xs' && (!viewEditMode || snapshot)">
        <navbar-dashboard-actions-menu *ngIf="!viewEditMode" mat-button [needsSaving]="doesUserHaveWriteAccess()" [id]="dbid" [dbSettingsMeta]="meta" (dashboardAction)="receiveDashboardAction($event)"></navbar-dashboard-actions-menu>
        <button mat-flat-button class="save-dashboard-button" *ngIf="snapshot && doesUserHaveWriteAccess()" (click)="saveSnapshot()">
            <mat-icon fontSet="denali" fontIcon="d-save"></mat-icon>
        </button>
    </span>
    <navbar-clipboard-menu class="navbar-item nav"></navbar-clipboard-menu>
    <span class="navbar-item nav-explore-close" *ngIf="(dashboardMode$ | async) === 'explore' || (dashboardMode$ | async) === 'edit'" (click)="closeViewEditMode()">
        <button mat-flat-button class="explore-close-button"><mat-icon fontSet="denali" fontIcon="d-close"></mat-icon></button>
    </span>
</ng-template>
