<div fxLayout="column" fxFlexFill ttBoundaryListener>
    <!-- need to figure out how to toggle on/off depending on whether there is template variables -->
    <template-variable-panel #tplVariablePanel *ngIf="viewEditMode !== true"
        [ngClass]="{'is-edit-mode': !variablePanelMode.view}"
        [mode]="variablePanelMode"
        [widgets]="widgets"
        [tagKeysByNamespaces] = "tagKeysByNamespaces"
        [tplVariables]="tplVariables"
        (modeChange)="changeVarPanelMode($event)">
    </template-variable-panel>
    <app-dboard-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch"
        [newWidget]="newWidget"
        [mWidget]="mWidget"
        (widgetsLayoutUpdate)="widgetsLayoutUpdate($event)"
        [rerender]="rerender"
        [widgets]="widgets"
        [dashboardMode]="dashboardMode$ | async">
    </app-dboard-content>
</div>
<ng-template #dashboardNavbarTmpl>
    <inline-editable class="navbar-item"
        [fieldValue]="dbSettings.meta.title"
        [minLength]="3"
        [maxLength]="50"
        (updatedValue)="setTitle($event)"
        style="margin-left: 5px;"
        *ngIf="activeMediaQuery !== 'xs'">
    </inline-editable>

    <span class="navbar-item navbar-icon-item nav-dashboard-favorite-trigger" *ngIf="activeMediaQuery !== 'xs' && dbid !=='_new_'">
        <button mat-icon-button class="mat-elevation-z0"
            [ngClass]="{'dashboard-faved': isUserFavorited}"
            (click)="dashboardFavoriteAction(isUserFavorited)">
            <mat-icon fontSet="denali" [fontIcon]="isUserFavorited ? 'd-star-solid' : 'd-star'"></mat-icon>
        </button>
    </span>
    <span class="flex-spacer"></span>
    <span class="navbar-item nav-add-new-widget" *ngIf="activeMediaQuery !== 'xs' && !viewEditMode">
        <button mat-raised-button class="mat-elevation-z0"
            [ngClass]="{'menu-trigger-underline': availableWidgetsMenuIsOpen}"
            [matMenuTriggerFor]="dashboardAvailableWidgetsMenu"
            #availableWidgetsMenuTrigger>
            <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
            <span>Add Widget</span>
        </button>
        <mat-menu #dashboardAvailableWidgetsMenu="matMenu" [xPosition]="menuXAlignValue" [overlapTrigger]="false" class="nav-bar-dropmenu dashboard-available-widgets-menu" xPosition="before">
            <ng-template matMenuContent>
                <div class="available-widget-output">
                    <div class="widget-types">
                        <button mat-raised-button class="widget-type-selector mat-elevation-z0"
                        *ngFor="let wtype of availableWidgetTypes"
                        (click)="addNewWidget(wtype)">
                            <span class="widget-type-icon {{ wtype.iconClass }}"></span>
                            <span class="widget-type-label">{{ wtype.label }}</span>
                        </button>
                    </div>
                </div>
            </ng-template>
        </mat-menu>
    </span>
    <time-picker class="navbar-item nav-date-time-picker"
        (newChange)="handleTimePickerChanges($event)"
        [downsample]="dbDownsample"
        [tot]="dbToT"
        [timezone]="dbTime.zone"
        [startTime]="dbTime.start"
        [endTime]="dbTime.end"
        [isEditMode] = "viewEditMode"
        [refresh]="refresh$ | async"
        [xPosition]="menuXAlignValue">
    </time-picker>
    <span class="navbar-item nav-timezone-toggle">
        <navbar-timezone-toggle [timezone]="dbTime.zone" (change)="setTimezone($event);"></navbar-timezone-toggle>
    </span>
    <span class="navbar-item nav-dashboard-actions" *ngIf="activeMediaQuery !== 'xs' && !viewEditMode">
        <navbar-dashboard-actions-menu mat-button [needsSaving]="doesUserHaveWriteAccess()" [id]="dbid" [dbSettingsMeta]="meta" (dashboardAction)="receiveDashboardAction($event)"></navbar-dashboard-actions-menu>
    </span>
</ng-template>
