/* DASHBOARD CONTAINER COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin dashboard-component-base() {
    .app-dashboard {
        display: flex;
        flex: 1 1 100%;
        * {
            animation: none !important;
            transition-property: none !important;
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
        }
    }

    .app-navbar {
        // title
        inline-editable {
            padding-left: 15px;
            input {
                // padding-left: 0px;
                &.mat-input-element {
                    &.mat-form-field-autofill-control {
                        padding-left: 0px;
                    }
                }
            }
            .mat-form-field-flex {
                .mat-form-field-infix {
                    width: 400px;
                    padding-left: 0px;
                }
            }
        }
    }


    // NAVBAR PORTAL ITEMS 
    /*.nav-close-edit-view {
        .mat-raised-button {
            ///@include mat-elevation-transition;
            @include transition-property(background-color);
            @include transition-duration(.3s);
            @include mat-elevation(0);
            padding: 0;
            min-width: 38px;
            margin-left: 20px;
            

            &,
            .mat-icon {
                width: 38px;
                height: 38px;
                line-height: 36px;
            }
        }
    }*/

    .nav-add-new-widget,
    .nav-dashboard-actions,
    .nav-refresh-icon,
    .nav-dashboard-template-var-trigger {
        .mat-raised-button,
        .mat-flat-button {
            line-height: 24px;
            font-size: 12px;
            
            .mat-icon {
                font-size: 1.2em;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                
                &:first-child {
                    margin-right: 6px;
                }

                &:last-child {
                    margin-left: 6px;
                }
            }
        }
    }

    .nav-add-new-widget,
    .nav-dashboard-template-var-trigger {
        .mat-raised-button,
        .mat-flat-button {
            padding-left: 6px;
        }
    }

    .nav-dashboard-actions {
        .mat-raised-button,
        .mat-flat-button {
            padding-right: 0;
        }
    }

    .nav-refresh-icon {
        &.navbar-item {
            margin-right: 0;
        }
        
        .mat-raised-button,
        .mat-flat-button {
            min-width: auto;
            padding: 0;

            .mat-icon {
                &,
                &:last-child,
                &:first-child {
                    margin-left: 3px;
                    margin-right: 3px;
                }
            }
        }
    }

    .nav-date-time-picker.dtp-time-picker {
        &.navbar-item {
            margin: 0 5px 0 2px;
        }
    }

    .app-navbar .navbar-item.nav-dashboard-config-trigger {
        margin-left: 0;
    }

    // cdk items
    .dashboard-actions-menu {
        width: 150px;
    }


    .dashboard-available-widgets-menu.mat-menu-panel {
        max-width: 390px;
        position: relative;
        overflow: initial;
        //max-width: initial;

        .timerange-picker-container {
            padding: 0 12px;
        }

        .available-widget-output {
            margin: auto 10px;
        }

        .widget-types {
            
            .widget-type-selector {
                padding: 8px 16px 0 16px;
                width: 110px;

                &:not(:last-child) {
                    margin-right: 12px;
                    margin-bottom: 12px;
                }

                .mat-button-wrapper {
                    display: inline-flex;
                    flex-direction: column;
                }
        
                .widget-type-label,
                .widget-type-icon {
                    width: 100%;
                    line-height: 32px;
                }
        
                //.widget-type-label {}
        
                .widget-type-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
        
                    &::after {
                        content: '';
                        display: block;
                        overflow: hidden;
                        width: 50px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-size: 200px; // four columns of icons * 50px = 200px
                        background-image: url(/assets/widget-icon-sprite.png);
                    }

                    &.widget-icon-bar-graph::after {
                        background-position: -50px 0px;
                    }
        
                    &.widget-icon-area-graph::after {
                        background-position: 0px 0px;
                    }

                    &.widget-icon-line-chart::after {
                        background-position: -100px -50px    
                    }

                    &.widget-icon-heatmap::after {
                        background-position: -50px -50px
                    }

                    &.widget-icon-topn-chart::after {
                        background-position: -150px -50px
                    }

                    &.widget-icon-big-number::after {
                        background-position: -100px 0px;
                    }

                    &.widget-icon-donut-chart::after {
                        background-position: 0px -50px;
                    }

                    &.widget-icon-statuses::after {
                        background-position: -150px 0px;
                    }

                    &.widget-icon-notes::after {
                        background-position: 0px -100px;
                    }

                    &.widget-icon-events::after {
                        background-position: -50px -100px;
                    }
                    
                    /*&::after {
                        content: '';
                        display: block;
                        width: 50px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: 100%;
                    }
        
                    &.widget-icon-bar-graph::after {
                        background-image: url(/assets/widget-icon-bar-graph.png);
                    }
        
                    &.widget-icon-area-graph::after {
                        background-image: url(/assets/widget-icon-area-graph.png);
                    }

                    &.widget-icon-line-chart::after {
                        background-image: url(/assets/widget-icon-line-chart.png);
                    }
                    &.widget-icon-topn-chart::after {
                        background-image: url(/assets/widget-icon-topn-chart.png);
                    }
                    &.widget-icon-heatmap::after {
                        background-image: url(/assets/widget-icon-heatmap.png);
                    }

                    &.widget-icon-big-number::after {
                        background-image: url(/assets/widget-icon-big-number.png);
                    }

                    &.widget-icon-donut-chart::after {
                        background-image: url(/assets/widget-icon-donut-chart.png);
                    }

                    &.widget-icon-statuses::after {
                        background-image: url(/assets/widget-icon-statuses.png);
                    }

                    &.widget-icon-notes::after {
                        background-image: url(/assets/widget-icon-notes.png);
                    }*/
                }
            }
        }
    }
}

@mixin dashboard-component-theme($theme-config) {

    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    $close-button-background: map-get($accent, A400);
    $close-button-text: map-get($foreground, navbar-text);

    /*@if $is-dark {
        $close-button-background: map-get($foreground, navbar-icons);
        $close-button-text: map-get($background, navbar);
    }*/

    //.app-dashboard { }

    // 
    /*.nav-close-edit-view {

        .mat-raised-button {
            // reversed since it is a blocked element
            background-color: $close-button-background;
            color: $close-button-text;

            &:hover {
                background-color: lighten($close-button-background, 15%);
            }
        }
    }*/

    .nav-add-new-widget,
    .nav-dashboard-actions,
    .nav-refresh-icon,
    .nav-dashboard-template-var-trigger {
        .mat-raised-button,
        .mat-flat-button {
            background-color: darken(map-get($background, navbar), 4%);
            color: map-get($foreground, navbar-text);

            &:hover {
                background-color: lighten(map-get($background, navbar), 8%);
            }
        }
    }

    // cdk items
    /*.dashboard-actions-menu {
        .mat-menu-item {
            .mat-icon {
                color: map-get($foreground, link);
            }
        }
    }*/

    .dashboard-available-widgets-menu {
        &::after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: map-get($background, menu); // actual color of arrow
        }

        .widget-types {
            .widget-type-selector {
                // need a background color here
                background-color: map-get($widget, widget-icons-background);

                &:hover {
                    background-color: map-get($widget, widget-icons-background-hover);
                }
            }
        }
    }
}
