@use '~@angular/material' as mat;
@mixin metric-function-component-theme() {

    .metric-function-component {
        .mat-form-field {
            .mat-form-field-prefix {
                color: mat.get-color-from-palette($foreground, text, .5)
            }

            .mat-form-field-underline {
                background-color: mat.get-color-from-palette($foreground, link);
            }

            &.mat-focused {
                &:not(.readonly-mode) {
                    background-color: mat.get-color-from-palette($foreground, link, 0.04)
                }

                .mat-form-field-underline {
                    background-color: mat.get-color-from-palette($foreground, link);
                }
            }

            .mat-form-field-suffix {
                .mat-mini-fab {
                    background-color: if($is-dark, $white, $black)
                }
            }

            &.group-by-fx {
                    border: 1px solid rgba($black, 0.04);
            }
        }
    }
}
