@use '~@angular/material' as mat;
@mixin landing-page-content-component-theme() {
    .landing-page-content {
        border-right: 2px solid mat-get-color-from-palette($foreground, divider);

        .landing-page-hero {
            background-color: mat-get-color-from-palette($background, card);
        }

        .landing-page-utilities {

            .mat-toolbar {
                background: transparent;
            }

            .search-utility {
                background-color: mat-get-color-from-palette($background, card);

                .search-query-form-field {
                    .mat-icon {
                        color: mat-get-color-from-palette($primary, default);
                    }

                    .mat-form-field-underline {

                        .mat-form-field-ripple {
                            background-color: mat-get-color-from-palette($primary, default);
                        }
                    }
                }
            }
        }
    }
 }
