@use '~@angular/material' as mat;
@mixin markdown-widget-component-theme() {

    .markdown-widget {
        textarea {
            background: if($is-dark, $black, $white);
            color: if($is-dark, $white, $black);
        }
    }

    .markdown-note {
        background: mat.get-color-from-palette($background, background);
        color: if($is-dark, $white, $black);
        border: none;

        a:visited {
            color: if($is-dark, $white, $black);
        }
    }

}
