@use '~@angular/material' as mat;
@mixin inline-editable-component-theme() {

    .inline-editable,
    .mat-toolbar .inline-editable {
        .mat-form-field-underline {
            background-color: transparent;
        }

        .mat-form-field {

            .save-button.mat-mini-fab {
                background-color: mat.get-color-from-palette($success, default);
            }

            .edit-button {
                color: mat.get-color-from-palette($foreground, link);
            }

            &.readonly-mode {
                .mat-form-field-underline {
                    background-color: transparent;
                }

                &:hover {
                    background-color: mat.get-color-from-palette($primary, default, 0.08);

                    .mat-form-field-underline {
                        background-color: mat.get-color-from-palette($foreground, link);
                        color: mat.get-color-from-palette($foreground, link);
                    }
                }
            }

            &.editing-mode {
                background-color: mat.get-color-from-palette($primary, default, 0.08);

                .mat-form-field-underline {
                    background-color: mat.get-color-from-palette($foreground, link);
                    color: mat.get-color-from-palette($foreground, link);
                }
            }

            &.mat-focused {
                .mat-form-field-ripple {
                    background-color: mat.get-color-from-palette($foreground, link);
                    color: mat.get-color-from-palette($foreground, link);
                }
            }
        }
    }
}
