/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin conditional-formatter-component-base() {
    .conditional-formatter {
        .mat-table {
            width: 100%;
            .mat-header-row {
                height: 30px;
                border-bottom: 1px solid #0000001f;
            }

            .mat-header-cell {
                text-transform: uppercase;

                &:first-child {
                    padding-left: 10px;
                }
            }

            .mat-row {
                height: 50px;
                border-bottom: 1px solid #0000001f;
                .mat-cell:first-child {
                    width: 70%;
                }
                .mat-cell {
                    line-height: 1;
                }

            }
        }

        .text {
            padding: 10px;
        }

        .operator {
            width: 12%;
            min-width: 50px;
        }

        .value {
            width: 25%;
            min-width: 100px
        }

        .trash-button {
            .mat-icon {
                @include sizeDenaliIcon(14px);
            }
        }

        .action {
            margin-top: 20px;

            .mat-stroked-button {
                line-height: 24px;
                font-size: 12px;

                .mat-icon {
                    @include sizeDenaliIcon(14px);
                    margin-right: 4px;
                }
            }

        }

    }
}

@mixin conditional-formatter-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $success: map-get($theme-config, success);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    $good-green: if($is-dark, map-get($success, default), map-get($success, 600));

    .conditional-formatter {
    }
}

