@import 'loader-base';

:host.notification-editor {
    align-items: stretch;
    min-height: calc(100% - 30px);

    &,
    .notification-form,
    .notification-details {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    > strong {
        font-size: 16px;
    }

    .notification-type,
    .notification-summary,
    .notification-details {
        margin-top: 16px;

        > label {
            font-weight: bold;
        }
    }

    .notification-type .mat-radio-group {
        margin-left: 6px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .mat-button,
        .mat-flat-button,
        .mat-stroked-button {
            + .mat-button,
            + .mat-flat-button,
            + .mat-stroked-button {
                margin-left: 8px;
            }
        }
    }

    .notification-summary .mat-form-field.mat-form-field-type-mat-input {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        flex: 1 1 100%;
        flex-direction: column;

        ::ng-deep {

            .mat-form-field-wrapper,
            .mat-form-field-flex,
            .mat-form-field-infix {
                height: 100%;
                width: 100%;
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
            }

            .mat-input-element {
                flex: 1;
            }
        }

    }

    .notification-details .mat-form-field.mat-form-field-type-mat-input {
        height: 100%;
        width: 100%;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        ::ng-deep {
            .mat-form-field-wrapper,
            .mat-form-field-flex,
            .mat-form-field-infix {
                height: 100%;
                width: 100%;
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
            }

            .mat-form-field-flex,
            .mat-form-field-infix {
                min-height: 100px;
            }

            .mat-input-element {
                min-height: 100px;
                height: 100%;
                flex: 1;
            }

            textarea {
                background: transparent;
            }
        }
    }

    .detail-preview {
        width: 100%;
        min-height: 100px;
        flex: 1 1 100%;
        padding: 8px;
        margin: 8px 0;
        background-color: $white;
    }
}

//* THEMING **/
//@each $theme-name, $theme-config in $app-available-themes {

    //* Theme config parts */
    //$primary: map-get($theme-config, primary);
    //$accent: map-get($theme-config, accent);
    //$warn: map-get($theme-config, warn);
    //$foreground: map-get($theme-config, foreground);
    //$background: map-get($theme-config, background);
    //$is-dark: map-get($theme-config, is-dark);

    //* [[  THEME  ]] (#{$theme-name}) - notification editor component  */
    //@at-root [theme='#{$theme-name}'] {
    //    :host.notification-editor {
    //    }
    //}
//}
