@mixin time-selector-component-base() {
    .time-selector-component {
       
        .view-mode { }

        .edit-mode {
            width: 200px;
            .time-button {
                width: 100%;
    
                .mat-button-wrapper {
                    display: flex;
                    justify-content: space-between;
    
                    .mat-select-arrow-wrapper {
                        align-self: center;
                    }
                }
            }
        }
    }

    .cdk-time-menu {
        .mat-menu-item {
            height: 36px;
            line-height: 36px;
        }

        .cdk-custom-time {
            height: 60px;
            line-height: 48px;
        }
    }
}

@mixin time-selector-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);
    $chip-bg: rgba(map-get($primary, default), .1);
    $alias-bg: if($is-dark, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    $alias-text: if($is-dark, rgba(255, 255, 255, .5), rgba(0, 0, 0, .5));

    $link: map-get($foreground, link);

    $widgets: map-get($theme-config, widgets);

    $card-background: map-get($background, card);
    $divider: map-get($foreground, divider);

    $query-marker-bg: map-get($widgets, query-editor-marker);
    $query-marker-text: map-get($widgets, query-editor-marker-text);
    $query-block-bg: map-get($widgets, query-editor-block-bg);
    $query-block-selected-border: map-get($widgets, query-editor-selected-border);

    $brand-color: map-get($background, navbar);
    $brand-color-inverse: map-get($foreground, navbar-text);
    
    $lighter-divider: rgba(0,0,0,0.04);

    .time-selector-component {

        .time-button {
            background-color: rgba(map-get($primary, default), 0.08)
        }
    
    }
}