<div class="tooltip-output shift-{{yShift}} shift-{{xShift}}" #tooltipOutput>
    <!--<p><span class="color-chip" [style.color]="_ttData.color" *ngIf="_ttData.color"></span> {{_ttData.label}}</p>
    <p *ngIf="_ttData.value">Value: {{_ttData.value.n}} <span *ngIf="_ttData.value.s">({{_ttData.value.s}})</span></p>
    <ng-container *ngIf="_ttData.tags && _ttData.tags.length > 0">
        <p *ngFor="let tag of _ttData.tags">{{tag.key}}: {{tag.value}}</p>
    </ng-container>-->

    <div class="value-marker">
        <span class="value" [style.color]="_ttData.colorContrast" [style.background]="_ttData.color">{{_ttData.value.n}} <span *ngIf="_ttData.value.s">({{_ttData.value.s}})</span></span>
        <span class="label">{{_ttData.label}}</span>
    </div>
    <div class="other-data">
        <ng-container *ngIf="_ttData.tags && _ttData.tags.length > 0">
            <p *ngFor="let tag of _ttData.tags">{{tag.key}}: {{tag.value}}</p>
        </ng-container>
    </div>
</div>
