<div class="cps" [style.height]="heightOfComponent + 'px'">

    <color-picker-hsv-selector [selectedColor]="selectedColor" (colorChanged)="changeColorValue($event)"></color-picker-hsv-selector>

    <color-picker-hue-slider [selectedColor]="selectedColor" (hueChanged)="changeHueColor($event)"></color-picker-hue-slider>

    <!-- Input Color -->
    <div class="selected-color">
        <div class="color-sample" [style.background]="selectedColor"></div>
        <div [formGroup]="hexForm" class="color-form">
            <mat-form-field appearance="fill" class="hex-input">
                <input matInput maxlength="7" formControlName="hexCode" [value]="selectedColor" (keyup.enter)="enterKeyedOnInputBox()"/>
            </mat-form-field>
        </div>   
    </div>

    <div class="preset-color">
        <div class="title">Preset Colors</div>
        <div class="colors">
            <button class="btn-preset-color" *ngFor="let color of presetColors" mat-flat-button [style.backgroundColor]="color.hex" (click)="changeColorValue(color.rgb)"></button>
        </div>
    </div>

    <!-- Apply and Cancel -->
    <div class="button-options" *ngIf="pickerMode != embedded">
        <button mat-button id="cancel" (click)="userClickedCancel()"> Cancel </button>
        <button mat-button id="apply" (click)="enterKeyedOnInputBox()"> Apply </button>
    </div>
</div>