@mixin name-alert-dialog-component-base() {

    .name-alert-dialog-component {


        .mat-dialog-content {
            overflow: initial;
            margin-bottom: 24px;

            .mat-form-field {
                width: 100%;
            }
        }

        .mat-dialog-actions {
            margin-bottom: initial;
            margin-top: 8px;

            .mat-button,
            .mat-flat-button,
            .mat-stroked-button {
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }

    // cdk items
    .name-alert-dialog-panel {

    }
}

@mixin name-alert-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    .name-alert-dialog-component {

    }
}