//** APP COMPONENT*/
 @import 'loader-base';

 :host.app-root {
     display: flex;
     flex: 1 1 100%;
     flex-direction: column;
     overflow: hidden;
 }

 //** THEMING **/
 @each $theme-name, $theme-config in $app-available-themes {

     //* Theme config parts
     $primary: map-get($theme-config, primary);
     $accent: map-get($theme-config, accent);
     $warn: map-get($theme-config, warn);
     $foreground: map-get($theme-config, foreground);
     $background: map-get($theme-config, background);
     $is-dark: map-get($theme-config, is-dark);

     $divider: map-get($foreground, divider);

     /* [[  THEME  ]] (#{$theme-name}) - app component */
     @at-root [theme='#{$theme-name}'] {
         :host.app-root {
            // styles here
         }
     }
 }


