@mixin donut-data-tooltip-component-base() {
    .donut-data-tooltip {
        .tooltip-output {
            .value-marker {
                display: flex;

                span {
                    display: inline-block;
                    padding: 4px 8px;
                    font-size: 14px;

                    &.value {
                        font-weight: bold;
                    }

                    &.time {
                        flex: 1;
                    }
                }
            }
            .other-data {
                padding: 4px 8px;
                margin-top: 2px;
                font-size: 10px
            }
        }
    }
}

@mixin donut-data-tooltip-component-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    $vm-background: map-get($foreground, text);
    $vm-text: find-color-invert($vm-background);

    .donut-data-tooltip {
        .tooltip-output {
            .value-marker,
            .other-data {
                background: rgba($vm-background, .65);
                color: $vm-text;
            }
        }
    }
}
