/server/node_modules
/server/public
!/server/public/README

/frontend/bower_components
/frontend/typings
/frontend/src/**/*.js
/frontend/src/**/*.map
/.idea
/.vscode

node_modules
artifacts/coverage
typings
artifacts

/**/*.js.map
frontend/vendor.js
frontend/polyfills.js
frontend/src/**/*.js
!frontend/src/app/shared/**/*.js
**/*.log

/frontend/e2e/*.js
/frontend/e2e/*.map

*.log.*

.DS_Store
**/.DS_Store
**/.DS_Store

package-lock.json
