/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin big-number-visual-appearance-component-base() {

    .big-number-visual-appearance {
        //margin-left: 0px;

        &.has-columns .column {
            display: flex;
            flex-direction: column;

            // column title/label
            .mat-body-strong {
                //border-bottom: 1px solid black;
                margin-bottom: 8px;
            }

            // individual columns - specific width
            &.labels-container {
                flex: 1 1 calc(100% - 10px);
                margin-right: 30px;
            }

            &.color-container {
                margin-right: 5px;
                // flex: 1 0 calc(20% - 10px);
            }

            // &.options-container {
            //     flex: 1 0 calc(20% - 10px);
            // }
        }

        .labels-container {

            .config-control {
                display: flex;
                justify-content: center;
                align-items: center;

                > .mat-label {
                    width: 70px;
                    display: inline-flex;
                    line-height: 24px;
                }

                dropdown-unit-type  {
                    display: flex;
                    flex: 1;
                }

                .mat-form-field {
                    flex: 1;

                    &.has-right-items {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .mat-form-field-infix {
                        //display: flex;
                        //padding: 0 0 0 8px;
                    }

                    .mat-input-element {
                        flex: 1;
                    }
                }

                .mat-button-toggle-group {
                    @include mat-elevation(0);
                    border-radius: 0;
                    border: none;

                    .mat-button-toggle-label-content {
                        line-height: 1.125;
                        padding: 8px 16px;
                    }

                    .mat-icon {
                        font-size: 14px;
                        width: initial;
                        height: initial;
                    }
                }
            }
            
        }

        .color-container {

            .color-picker-control {
                width: 186px;
            }
            
            .mat-button-toggle-group {
                box-shadow: none;
                border: none;

                .mat-button-toggle-label-content {
                    line-height: 32px;
                }

                .mat-button-toggle {
                    height: 32px;

                    button { // background button
                        width: 108px;
                    }
                }

                #text {
                    width: 78px;
                }

                #text-button {
                    width: 78px;
                }
            }

            .card {
                &.cp{
                    // margin-left: 12px;
                    background: transparent;
                }
            }
        }
    }
}

@mixin big-number-visual-appearance-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $chip-bg: rgba(map-get($primary, default), .1);

    $input-background: map-get($primary, default);

    .big-number-visual-appearance {
        /*.query-side-panel {
            background-color: $chip-bg;
        }*/
    
        .is-selected {
            // background-color: map-get($background, background);
            background-color: white;
            border-left: 3px solid #18BDED;
        }

        .labels-container {

            .mat-button-toggle-group {
                .mat-button-toggle {
                    background-color: rgba($input-background, 0.08);
                }

                .mat-button-toggle-checked {
                    background-color: rgba($input-background, 0.18);
                    //color: mat-color($foreground, secondary-text);
                }
            
                .mat-button-toggle-disabled {
                    background-color: rgba($input-background, 0.08);
                    //color: mat-color($foreground, disabled-button);
                
                    &.mat-button-toggle-checked {
                        background-color: rgba($input-background, 0.14);
                    }
                }
            }
        }

        .color-container {
            .mat-button-toggle {
                border-bottom: 2px solid transparent;
                background-color: transparent;
                color: #18BDED;
                box-shadow: none;
            }

            .mat-button-toggle-checked {
                border-bottom: 2px solid  #18BDED;
                color: black;
            }

            .color-picker-container {
                border: 1px solid lightgrey;
            }

            .card {
                border-top: none;
            }
        }
    }

    // CDK menu for custom unit
    .custom-unit-menu-item {
        background-color: $chip-bg;

        .mat-menu-ripple {
            background-color: $chip-bg;
        }
    }
}