<div class="config-control" style="display: flex;">
  <div class="order-title" style="align-self: center;">Sort</div>
  <mat-button-toggle-group class="mat-button-toggle-group-horizontal" name="sortOrder" [value]="order" (change)="orderChanged($event)">
    <mat-button-toggle value="top">Top</mat-button-toggle>
    <mat-button-toggle value="bottom">Bottom</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="config-control" *ngIf="widget.settings.component_type === 'TopnWidgetComponent'">
  <div class="form-label">Decimals</div>
  <mat-form-field appearance="fill">
    <input matInput
    type="number"
    [value]="decimals"
    (input)="setDecimals($event.target.value)"
    autocomplete="off"
    min="0"
    max="100"/>
</mat-form-field>
</div>

<div class="config-control">
  <div class="form-label">Decimals</div>
  <mat-form-field appearance="fill">
    <input matInput
    type="number"
    [value]="decimals"
    (input)="setDecimals($event.target.value)"
    autocomplete="off"
    min="0"
    max="1000"/>
</mat-form-field>
</div>

<div class="config-control">
  <div class="limit-title">
    Limit
  </div>

  <mat-form-field [formGroup]="limitForm" appearance="fill">
      <input matInput
      id="limitInput"
      #limitInput
      type="number"
      formControlName="limitInput"
      (input)="limitInputChanged()"
      autocomplete="off"
      min="1"
      max="1000"/>
  </mat-form-field>

  <div *ngIf="formFields.limitInput.errors" class="invalid-feedback">
    <mat-error> <div> Please enter an integer between 1 and 1000.</div></mat-error>
  </div>
</div>
