<mat-toolbar class="panel-toolbar" [ngClass]="{'is-master-panel': currentPanelIndex === 0}">
    <mat-toolbar-row fxLayout fxLayoutAlign="start stretch">
        <div class="nav-item icon-nav"
            matTooltip="Dashboard Navigator Home"
            [ngClass]="{'is-active': currentPanelTab === 'personal'}">
            <button mat-icon-button (click)="navtoPanelTab('personal')">
                <mat-icon fontSet="denali" fontIcon="d-home"></mat-icon>
            </button>
        </div>
        <div class="nav-item icon-nav"
            matTooltip="My Favorites"
            [ngClass]="{'is-active': currentPanelTab === 'favorites'}">
            <button mat-icon-button (click)="navtoPanelTab('favorites')">
                <mat-icon fontSet="denali" fontIcon="d-star"></mat-icon>
            </button>
        </div>
        <div class="nav-item icon-nav"
            matTooltip="My Recent History"
            [ngClass]="{'is-active': currentPanelTab === 'recent'}">
            <button mat-icon-button (click)="navtoPanelTab('recent')">
                <mat-icon fontSet="denali" fontIcon="d-time-history"></mat-icon>
            </button>
        </div>
        <div class="nav-item icon-nav"
            matTooltip="View All Users"
            [ngClass]="{'is-active': currentPanelTab === 'users'}">
            <button mat-icon-button (click)="navtoPanelTab('users')">
                <mat-icon fontSet="denali" fontIcon="d-user-group"></mat-icon>
            </button>
        </div>
        <div class="nav-item icon-nav"
            matTooltip="View all Namespaces"
            [ngClass]="{'is-active': currentPanelTab === 'namespaces'}">
            <button mat-icon-button (click)="navtoPanelTab('namespaces')">
                <mat-icon fontSet="denali" fontIcon="d-network-platform"></mat-icon>
            </button>
        </div>
        <div class="nav-item icon-nav"
            matTooltip="Create New Dashboard">
            <button mat-icon-button (click)="createDashboard()">
                <mat-icon fontSet="denali" fontIcon="d-dashboard-tile-add"></mat-icon>
            </button>
        </div>
        <!--
        <div class="nav-item panel-label" (click)="navtoMasterPanel()">
            <strong *ngIf="panels[currentPanelIndex] && !panels[currentPanelIndex].dynamic">Dashboards</strong>
            <strong *ngIf="panels[currentPanelIndex] && panels[currentPanelIndex].dynamic && dynamicFolderPaths.includes(panels[currentPanelIndex].folderResource)">{{getResource(panels[currentPanelIndex].folderResource).name}}</strong>
        </div>-->
        <span class="flex-spacer"></span>
        <div class="nav-item icon-nav">
            <button mat-icon-button (click)="closeDrawer()">
                <mat-icon fontSet="denali" fontIcon="d-close-square"></mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<navigator-panel #navPanel>
    <ng-container *ngFor="let panel of panels; let i = index;">
        <ng-container *navigatorPanelItem>
            <!--<div class="panel-title" *ngIf="panels.length === 1 && currentPanelIndex === 0">
                <strong *ngIf="currentPanelTab === 'personal'">{{user.alias | titlecase}}&nbsp;</strong> <span>{{(getResource(panels[0].folderResource)).name}}</span>
            </div>-->
            <ng-container>
                <!--<ng-container *ngTemplateOutlet="pathTree;context:{panels: panels, i: i}"></ng-container>-->
                <ng-container *ngTemplateOutlet="breadcrumbPath;context:{panels: panels, i: i}"></ng-container>
            </ng-container>
            <!-- root folder -->
            <ng-container *ngIf="panel.folderResource === ':panel-root:'">
                <ng-container *ngTemplateOutlet="rootPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
            <!-- default folder -->
            <ng-container *ngIf="!panel.synthetic && !panel.root && !panel.dynamic && !panel.trashFolder">
                <ng-container *ngTemplateOutlet="defaultPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
            <!-- trash folder-->
            <ng-container *ngIf="panel.trashFolder">
                <ng-container *ngTemplateOutlet="trashPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
            <!-- dynamic folder-->
            <ng-container *ngIf="panel.dynamic">
                <ng-container *ngTemplateOutlet="dynamicPanel;context:{panel: panel, panelIndex: i}"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</navigator-panel>

<ng-template #rootPanel let-panel="panel" let-panelIndex="panelIndex">
    <ng-container *ngTemplateOutlet="createDashboardButton"></ng-container>
    <div class="dynamic-scroller has-scroller">
        <div class="is-scroller">
            <div class="dnav-folders">
                <mat-nav-list class="folder-list">
                    <mat-list-item *ngFor="let folder of panel.personal; let i = index;" class="folder-nav-item" (click)="gotoFolder(folder.fullPath)">
                        <ng-container *ngTemplateOutlet="nsFolderDisplay;context:{data: folder, icon: folder.icon, showcount: true}"></ng-container>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="block-header folders-header">
                <div class="block-header-label">
                    <span class="header-label">My Namespaces</span>
                </div>
                <span class="flex-spacer"></span>
            </div>
            <div class="dnav-folders">
                <mat-nav-list class="folder-list">
                    <mat-list-item *ngFor="let folder of panel.namespaces; let i = index;" class="folder-nav-item" (click)="gotoTopFolder(folder.namespace, 'namespace')">
                        <ng-container *ngTemplateOutlet="nsFolderDisplay;context:{data: folder, icon: folder.icon, showcount: true}"></ng-container>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #defaultPanel let-panel="panel" let-panelIndex="panelIndex">
    <!--<ng-container *ngTemplateOutlet="createDashboardButton"></ng-container>-->
    <div class="dynamic-scroller has-scroller">
        <div class="is-scroller">
            <ng-container *ngTemplateOutlet="folderList;context:{folders: panel.subfolders, panelIndex: panelIndex, locked: (panel.locked || false)}"></ng-container>
            <ng-container *ngTemplateOutlet="dashboardList;context:{dashboards: panel.files, panelIndex: panelIndex, locked: (panel.locked || false)}"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #trashPanel let-panel="panel" let-panelIndex="panelIndex">
    <ng-container *ngTemplateOutlet="trashFolderList;context:{folders: panel.subfolders, panelIndex: panelIndex, locked: (panel.locked || false)}"></ng-container>
    <ng-container *ngTemplateOutlet="trashDashboardList;context:{dashboards: panel.files, panelIndex: panelIndex, locked: (panel.locked || false)}"></ng-container>
</ng-template>

<ng-template #dynamicPanel let-panel="panel" let-panelIndex="panelIndex">
    <ng-container *ngIf="panel.folderResource === ':list-namespaces:'">
        <div class="dnav-loading-resources" *ngIf="namespacesList.length === user.memberNamespaces.length" style="padding: 8px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div>Loading Namespace List</div>
            <div class="loading-spinner color-primary" ></div>
        </div>
        <div class="filter-list-control" *ngIf="namespacesList.length > user.memberNamespaces.length">
            <mat-form-field appearance="fill" color="primary">
                <mat-icon matPrefix fontSet="denali" fontIcon="d-search"></mat-icon>
                <input matInput (keyup)="applyNamespacesListFilter($event.target.value)" placeholder="Filter Namespaces" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="dnav-folders dynamic-scroller" *ngIf="namespacesList.length > user.memberNamespaces.length">
            <mat-nav-list class="folder-list">
                <cdk-virtual-scroll-viewport itemSize="36" class="example-viewport">
                <mat-list-item *cdkVirtualFor="let ns of namespacesDataSource; let i = index;" class="folder-nav-item" (click)="loadingItem = ns.alias; gotoTopFolder(ns.alias, 'namespace')">
                    <ng-container *ngTemplateOutlet="nsFolderDisplay;context:{data: ns, icon: 'd-dashboard-tile', loading: (loadingItem === ns.alias)}"></ng-container>
                </mat-list-item>
                </cdk-virtual-scroll-viewport>
            </mat-nav-list>
        </div>
    </ng-container>
    <ng-container *ngIf="panel.folderResource === ':list-users:'">
        <div class="dnav-loading-resources" *ngIf="usersList.length === 1" style="padding: 8px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div>Loading Users List</div>
            <div class="loading-spinner color-primary" ></div>
        </div>
        <div class="filter-list-control" *ngIf="usersList.length > 1">
            <mat-form-field appearance="fill" color="primary">
                <mat-icon matPrefix fontSet="denali" fontIcon="d-search"></mat-icon>
                <input matInput (keyup)="applyUsersListFilter($event.target.value)" placeholder="Filter Users" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="dnav-folders dynamic-scroller" *ngIf="usersList.length > 1">
            <mat-nav-list class="folder-list">
                <cdk-virtual-scroll-viewport itemSize="36" class="example-viewport">
                <mat-list-item *cdkVirtualFor="let user of usersDataSource; let i = index;" class="folder-nav-item" (click)="loadingItem = user.alias; gotoTopFolder(user.alias, 'user')">
                    <ng-container *ngTemplateOutlet="simpleFolderDisplay;context:{data: user, icon: 'd-user-single-solid', loading: (loadingItem === user.alias)}"></ng-container>
                </mat-list-item>
                </cdk-virtual-scroll-viewport>
            </mat-nav-list>
        </div>
    </ng-container>
    <ng-container *ngIf="panel.folderResource === ':user-favorites:'">
        <div class="filter-list-control" *ngIf="userFavorites.length > 0">
            <mat-form-field appearance="fill" color="primary">
                <mat-icon matPrefix fontSet="denali" fontIcon="d-search"></mat-icon>
                <input matInput (keyup)="applyUserFavoritesFilter($event.target.value)" placeholder="Filter Favorites">
            </mat-form-field>
        </div>
        <div class="dnav-folders dynamic-scroller" *ngIf="userFavorites">
            <mat-nav-list class="favorites-list">
                <cdk-virtual-scroll-viewport itemSize="36" class="example-viewport">
                    <mat-list-item *ngIf="userFavorites.length === 0" class="no-item-message">
                        <span class="mat-caption no-item-message">You have no favorites.</span>
                    </mat-list-item>
                    <mat-list-item *cdkVirtualFor="let fav of userFavoritesDataSource; let i = index;">
                        <ng-container *ngTemplateOutlet="userFavoriteItem;context:{data: fav, panelIndex: panelIndex}"></ng-container>
                    </mat-list-item>
                </cdk-virtual-scroll-viewport>
            </mat-nav-list>
        </div>

    </ng-container>
    <ng-container *ngIf="panel.folderResource === ':user-recent:'">
        <div class="filter-list-control" *ngIf="userRecents.length > 0">
            <mat-form-field appearance="fill" color="primary">
                <mat-icon matPrefix fontSet="denali" fontIcon="d-search"></mat-icon>
                <input matInput (keyup)="applyUserRecentsFilter($event.target.value)" placeholder="Filter Recents">
            </mat-form-field>
        </div>
        <div class="dnav-folders dynamic-scroller" *ngIf="userRecents">
            <mat-nav-list class="recents-list">
                <cdk-virtual-scroll-viewport itemSize="36" class="example-viewport">
                    <mat-list-item *ngIf="userRecents.length === 0" class="no-item-message">
                        <span class="mat-caption no-item-message">You have no Recents.</span>
                    </mat-list-item>
                    <mat-list-item *cdkVirtualFor="let recent of userRecentsDataSource; let i = index;">
                        <ng-container *ngTemplateOutlet="userRecentItem;context:{data: recent, panelIndex: panelIndex}"></ng-container>
                    </mat-list-item>
                </cdk-virtual-scroll-viewport>
            </mat-nav-list>
        </div>
    </ng-container>
</ng-template>

<!-- BREAD CRUMBS -->
<ng-template #pathTree let-panels="panels", let-i="i">
    <mat-nav-list class="path-tree">
        <ng-container *ngFor="let leaf of panels; let n = index;">
            <mat-list-item class="path-tree-item leaf-{{n}}"
                *ngIf="leaf.folderResource !== ':panel-root:' && n <= i"
                [ngClass]="{'is-active': n === i}"
                (click)="navtoSpecificPanel(n, i)">
                <mat-icon class="path-icon" fontSet="denali" [fontIcon]="folders[leaf.folderResource].icon ? folders[leaf.folderResource].icon : 'd-folder'"></mat-icon>
                <span>{{folders[leaf.folderResource].name}}</span>
            </mat-list-item>
        </ng-container>
    </mat-nav-list>
</ng-template>

<ng-template #breadcrumbPath let-panels="panels" let-i="i">
    <div class="breadcrumb-path">
        <ng-container *ngFor="let leaf of panels; let n = index; let first = first; let last = last;">
            <mat-basic-chip *ngIf="first" (click)="navtoSpecificPanel(n, i)">
                <mat-icon fontSet="denali" [fontIcon]="folders[leaf.folderResource].icon || 'd-home'"></mat-icon>
                <span *ngIf="currentPanelTab === 'personal'">{{user.alias | titlecase}}&nbsp;</span>
                <span>{{folders[leaf.folderResource].name | titlecase}}</span>
            </mat-basic-chip>
            <mat-basic-chip *ngIf="!first" [ngClass]="{'is-active': n === i}" (click)="navtoSpecificPanel(n, i)">
                <span>{{folders[leaf.folderResource].name | titlecase}}</span>
            </mat-basic-chip>
            <mat-icon class="path-seperator" fontSet="denali" fontIcon="d-arrowhead-right" *ngIf="!last"></mat-icon>
        </ng-container>
    </div>
</ng-template>

<!-- CREATE DASHBOARD BUTTON-->
<ng-template #createDashboardButton>
    <div class="create-dashboard">
        <button mat-flat-button (click)="createDashboard()">
            <mat-icon fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
            <span>Create Dashboard</span>
        </button>
    </div>
</ng-template>

<!-- FOLDER TEMPLATES -->

<ng-template #folderList let-folders="folders" let-panelIndex="panelIndex" let-panelLock="locked">
    <div class="dnav-folders">
        <div class="block-header folders-header" [ngClass]="{'has-create-actions': !panelLock && edit.panel === panelIndex && edit.mode === 'create' && activeMediaQuery !== 'xs', 'has-edit-actions': !panelLock && bulkEdit && activeMediaQuery !== 'xs'}">
            <div class="block-header-label">
                <span class="header-label">{{ (folders.length > 0 || activeMediaQuery === 'xs') ? 'Folders' : 'Add Folder' }}</span>
                <span class="counter" *ngIf="folders.length > 0">
                    <span class="chip-count">{{folders.length}}</span>
                </span>
            </div>
            <div class="edit-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button class="remove-folders-button" (click)="removeFolders()" [disabled]="foldersToRemove.length === 0" [ngClass]="{'is-active': foldersToRemove.length > 0}">
                    <span>Move to trash</span>
                </button>
            </div>
            <span class="flex-spacer"></span>
            <div class="display-actions" *ngIf="!panelLock && activeMediaQuery !== 'xs'">
                <button mat-icon-button (click)="createFolder()">
                    <mat-icon fontSet="denali" fontIcon="d-folder-add"></mat-icon>
                </button>
                <button mat-icon-button (click)="editFolders()" *ngIf="folders.length > 0">
                    <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                </button>
            </div>
            <div class="edit-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button (click)="doneEditFolders()">
                    <span>Done</span>
                </button>
            </div>
            <div class="create-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button (click)="cancelCreateFolder()">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        <mat-nav-list class="folder-list">
            <mat-list-item *ngIf="folders.length === 0" class="no-item-message">
                <span class="mat-caption">There are no folders.</span>
            </mat-list-item>
            <mat-list-item *ngIf="edit.mode === 'create' && edit.panel === panelIndex && activeMediaQuery !== 'xs'">
                <ng-container *ngTemplateOutlet="folderItem;context:{folder: {name: 'new'}, panelIndex: panelIndex, mode: 'create'}"></ng-container>
            </mat-list-item>
            <mat-list-item *ngFor="let folder of folders; let i = index;" class="folder-nav-item" (click)="gotoFolder(folder.fullPath)">
                <ng-container *ngTemplateOutlet="folderItem;context:{folder: folder, panelIndex: panelIndex, mode: (currentPanelIndex === panelIndex) ? (folder.name === 'Trash') ? 'display' : bulkEdit ? 'edit' : 'display' : 'display'}"></ng-container>
            </mat-list-item>
        </mat-nav-list>
    </div>
</ng-template>

<ng-template #folderItem let-folder="folder" let-panelIndex="panelIndex" let-mode="mode">
    <div class="dnav-folder-item" [ngClass]="{'is-editing': mode === 'create', 'dnav-menu-opened': menuIsOpen === folder.fullPath || miniNavOpen === folder.fullPath}">
        <ng-container *ngIf="mode === 'create' && folderForm.controls">
        <!-- NEW -->
        <div class="list-item edit-form" [formGroup]="folderForm">
            <mat-form-field appearance="fill" [floatLabel]="'never'">
                <input matInput placeholder="Enter folder Name" formControlName="fc_FolderName" (keyup.enter)="folderInputSave(panelIndex)" autocomplete="off">
                <mat-icon matPrefix fontSet="denali" fontIcon="d-folder-add"></mat-icon>
                <button mat-icon-button matSuffix class="save-folder-name" (click)="folderInputSave(panelIndex)" >
                    <mat-icon fontSet="denali" fontIcon="d-check"></mat-icon>
                </button>
                <mat-error>
                    <span *ngIf="!folderForm.get('fc_FolderName').valid && folderForm.get('fc_FolderName').touched">Please enter a valid folder name</span>
                </mat-error>
            </mat-form-field>
        </div>
        </ng-container>
        <ng-container *ngIf="mode === 'edit' && folderForm.controls">
        <!-- EDIT-->
        <div class="list-item edit-form" *ngIf="edit.id !== folder.id">
            <mat-checkbox (change)="folderCheckboxChange(folder.fullPath, $event)" color="primary" [checked]="foldersToRemove.indexOf(folder.fullPath) >= 0"></mat-checkbox>
            <div class="flex-spacer" (dblclick)="folderMenuAction('editName', folder)">{{folder.name}}</div>
            <span class="dnav-folder-menu">
                <button mat-icon-button (click)="clickMoreMenu(folder.id, 'folder', $event)">
                    <mat-icon fontSet="denali" fontIcon="d-more-vertical"></mat-icon>
                </button>
            </span>
        </div>
        <div class="list-item edit-form" *ngIf="edit.id === folder.id" [formGroup]="folderForm">
            <mat-form-field appearance="fill" [floatLabel]="'never'">
                <input matInput placeholder="Edit folder Name" formControlName="fc_FolderName" autocomplete="off">
                <mat-icon matPrefix fontSet="denali" fontIcon="d-pencil"></mat-icon>
                <button mat-icon-button matSuffix class="save-folder-name" (click)="folderInputSave(panelIndex, folder)" >
                    <mat-icon fontSet="denali" fontIcon="d-check"></mat-icon>
                </button>
            </mat-form-field>
        </div>
        <span class="dnav-menu-trigger"
            id="folder-more-{{folder.id}}"
            [matMenuTriggerFor]="dnavFolderItemMenu"
            [matMenuTriggerData]="{data: folder, panelIndex: panelIndex, type: 'folder'}"
            (menuOpened)="menuState(folder.fullPath)"
            (menuClosed)="menuState(false)"
            #moreMenuTrigger></span>
        <span class="dnav-menu-trigger last-child"
            [matMenuTriggerFor]="dnavMiniNavigator"
            [matMenuTriggerData]="{data: folder, panelIndex: panelIndex, type: 'folder'}"
            (menuOpened)="menuState(folder.fullPath, true);"
            (menuClosed)="menuState(false, true);"
            #miniNavTrigger></span>
        </ng-container>

        <ng-container *ngIf="mode === 'display'">
        <!-- DISPLAY -->
        <div class="list-item">
            <mat-icon class="folder-icon" fontSet="denali" [fontIcon]="folder.icon || 'd-folder'"></mat-icon>
        </div>
        <div class="list-item folder-name flex-spacer">
            <span>{{folder.name || 'BROKEN'}}</span>
        </div>
        <div class="list-item">
            <span class="counter">
                <span class="chip-count">{{((folder.subfolders) ? folder.subfolders.length : 0) + ((folder.files) ? folder.files.length : 0)}}</span>
            </span>
        </div>
        <div class="list-item goto-next-folder">
            <button mat-icon-button >
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-right"></mat-icon>
            </button>
        </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #trashFolderList let-folders="folders" let-panelIndex="panelIndex" let-panelLock="locked">
    <div class="dnav-folders">
        <div class="block-header folders-header" [ngClass]="{'has-edit-actions': !panelLock && bulkEdit && activeMediaQuery !== 'xs'}">
            <div class="block-header-label" [ngClass]="{'edit-actions': bulkEdit}">
                <span class="header-label">Folders</span>
                <span class="counter">
                    <span class="chip-count">{{folders.length}}</span>
                </span>
            </div>
            <span class="flex-spacer"></span>
            <div class="display-actions" *ngIf="!panelLock && activeMediaQuery !== 'xs'">
                <button mat-icon-button (click)="editFolders()" *ngIf="folders.length > 0">
                    <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                </button>
            </div>
            <div class="edit-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button (click)="doneEditFolders()">
                    <span>Done</span>
                </button>
            </div>
        </div>
        <mat-nav-list class="folder-list">
            <mat-list-item *ngIf="folders.length === 0" class="no-item-message">
                <span class="mat-caption">There are no folders.</span>
            </mat-list-item>
            <mat-list-item *ngIf="edit.mode === 'create' && edit.panel === panelIndex && activeMediaQuery !== 'xs'">
                <ng-container *ngTemplateOutlet="trashFolderItem;context:{folder: {name: 'new'}, panelIndex: panelIndex, mode: 'create'}"></ng-container>
            </mat-list-item>
            <mat-list-item *ngFor="let folder of folders; let i = index;" class="folder-nav-item" (click)="gotoFolder(folder.fullPath)">
                <ng-container *ngTemplateOutlet="trashFolderItem;context:{folder: folder, panelIndex: panelIndex, mode: (currentPanelIndex === panelIndex) ? (folder.name === 'Trash') ? 'display' : bulkEdit ? 'edit' : 'display' : 'display'}"></ng-container>
            </mat-list-item>
        </mat-nav-list>
    </div>
</ng-template>

<ng-template #trashFolderItem let-folder="folder" let-panelIndex="panelIndex" let-mode="mode">
    <div class="dnav-folder-item" [ngClass]="{'is-editing': mode === 'create', 'dnav-menu-opened': menuIsOpen === folder.fullPath || miniNavOpen === folder.fullPath}">
        <div class="list-item">
            <mat-icon class="folder-icon" fontSet="denali" [fontIcon]="folder.icon || 'd-folder'"></mat-icon>
        </div>
        <ng-container *ngIf="mode === 'edit' && folderForm.controls">
        <!-- EDIT-->
        <div class="list-item edit-form" *ngIf="edit.id !== folder.id">
            <div class="flex-spacer">{{folder.name}}</div>
            <span class="dnav-folder-menu">
                <button mat-icon-button (click)="clickMoreMenu(folder.id, 'folder', $event)">
                    <mat-icon fontSet="denali" fontIcon="d-more-vertical"></mat-icon>
                </button>
            </span>
        </div>
        <span class="dnav-menu-trigger"
            id="folder-more-{{folder.id}}"
            [matMenuTriggerFor]="dnavFolderItemMenu"
            [matMenuTriggerData]="{data: folder, panelIndex: panelIndex, type: 'folder'}"
            (menuOpened)="menuState(folder.fullPath)"
            (menuClosed)="menuState(false)"
            #moreMenuTrigger></span>
        <span class="dnav-menu-trigger last-child"
            [matMenuTriggerFor]="dnavMiniNavigator"
            [matMenuTriggerData]="{data: folder, panelIndex: panelIndex, type: 'folder'}"
            (menuOpened)="menuState(folder.fullPath, true);"
            (menuClosed)="menuState(false, true);"
            #miniNavTrigger></span>
        </ng-container>

        <ng-container *ngIf="mode === 'display'">
        <!-- DISPLAY -->
        <div class="list-item folder-name flex-spacer">
            <span>{{folder.name || 'BROKEN'}}</span>
        </div>
        <div class="list-item">
            <span class="counter">
                <span class="chip-count">{{((folder.subfolders) ? folder.subfolders.length : 0) + ((folder.files) ? folder.files.length : 0)}}</span>
            </span>
        </div>
        <div class="list-item goto-next-folder">
            <button mat-icon-button >
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-right"></mat-icon>
            </button>
        </div>
        </ng-container>
    </div>
</ng-template>

<!-- DASHBOARD TEMPLATES -->
<ng-template #dashboardList let-dashboards="dashboards" let-panelIndex="panelIndex" let-panelLock="locked">
    <div class="block-header dashboards-header">
        <span class="header-label">Dashboards</span>
        <span class="counter" *ngIf="dashboards.length > 0">
            <span class="chip-count">{{dashboards.length}}</span>
        </span>
        <span class="flex-spacer"></span>
        <button mat-icon-button *ngIf="!panelLock && activeMediaQuery !== 'xs'" (click)="createDashboard()">
            <mat-icon fontSet="denali" fontIcon="d-dashboard-tile-add"></mat-icon>
        </button>
        <button mat-icon-button *ngIf="!panelLock && dashboards.length > 0 && activeMediaQuery !== 'xs'" style="display: none;">
            <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
        </button>
    </div>
    <mat-nav-list class="dashboard-list">
        <mat-list-item *ngIf="dashboards.length === 0" class="no-item-message">
            <span class="mat-caption no-item-message">There are no dashboards.</span>
        </mat-list-item>
        <mat-list-item *ngFor="let dashboard of dashboards" [ngClass]="{'matched-dashboard': dashboard.id === curDashboardId}">
            <ng-container *ngTemplateOutlet="dashboardItem;context:{dashboard: dashboard, panelIndex: panelIndex}"></ng-container>
        </mat-list-item>
    </mat-nav-list>
</ng-template>

<ng-template #trashDashboardList let-dashboards="dashboards" let-panelIndex="panelIndex" let-panelLock="locked">
    <div class="block-header dashboards-header">
        <span class="header-label">Dashboards</span>
        <span class="counter">
            <span class="chip-count">{{dashboards.length}}</span>
        </span>
        <span class="flex-spacer"></span>
    </div>
    <mat-nav-list class="dashboard-list">
        <mat-list-item *ngIf="dashboards.length === 0" class="no-item-message">
            <span class="mat-caption no-item-message">There are no dashboards.</span>
        </mat-list-item>
        <mat-list-item *ngFor="let dashboard of dashboards">
            <ng-container *ngTemplateOutlet="dashboardItem;context:{dashboard: dashboard, panelIndex: panelIndex}"></ng-container>
        </mat-list-item>
    </mat-nav-list>
</ng-template>

<ng-template #dashboardItem let-dashboard="dashboard" let-panelIndex="panelIndex">
    <div class="dnav-dashboard-item" [ngClass]="{'dnav-menu-opened': menuIsOpen === dashboard.fullPath || miniNavOpen === dashboard.fullPath, 'matched-dashboard': dashboard.id === curDashboardId}">
        <a routerLink="/d/{{dashboard.id}}{{dashboard.fullPath}}" (click)="fileMenuAction('navigateTo', dashboard)" class="dnav-dashboard-link flex-spacer">
            <mat-icon class="dnav-dashboard-icon" fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
            <span class="dnav-dashboard-label">{{dashboard.name}}</span>
        </a>
        <span class="dnav-dashboard-menu">
            <button mat-icon-button (click)="clickMoreMenu(dashboard.id, 'file', $event)">
                <mat-icon fontSet="denali" fontIcon="d-more-vertical"></mat-icon>
            </button>
        </span>
        <span class="dnav-menu-trigger"
            [matMenuTriggerFor]="dnavDashboardItemMenu"
            [matMenuTriggerData]="{data: dashboard, panelIndex: panelIndex, type: 'file'}"
            (menuOpened)="menuState(dashboard.fullPath)"
            (menuClosed)="menuState(false)"
            #moreMenuTrigger></span>
        <span class="dnav-menu-trigger last-child"
            [matMenuTriggerFor]="dnavMiniNavigator"
            [matMenuTriggerData]="{data: dashboard, panelIndex: panelIndex, type: 'file'}"
            (menuOpened)="menuState(dashboard.fullPath, true);"
            (menuClosed)="menuState(false, true);"
            #miniNavTrigger></span>
    </div>
</ng-template>

<!-- OTHER TEMPLATES -->
<!-- TODO: logic for folder/namespace when we decide to add folders to favorites -->
<!-- TODO: For now, support only dashboards -->
<ng-template #userFavoriteItem let-data="data" let-panelIndex="panelIndex">
    <div class="dnav-favorite-item" [ngClass]="{'dnav-menu-opened': menuIsOpen === data.fullPath, 'matched-dashboard': data.id === curDashboardId}">
        <a class="dnav-favorite-link flex-spacer" routerLink="/d/{{data.id}}{{data.fullPath}}" (click)="fileMenuAction('navigateTo', data)">
            <mat-icon class="dnav-dashboard-icon" fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
            <span class="dnav-favorite-detail">
                <span class="root-path">Belongs to: {{data.rootPath}}</span>
                <span class="dnav-favorite-label">{{data.name}}</span>
                <span class="favorite-date">Added: {{data.favorited | date:'medium'}}</span>
            </span>
        </a>
        <span class="dnav-favorite-menu">
            <button mat-icon-button (click)="clickMoreMenu(data.id, 'favorite', $event)">
                <mat-icon fontSet="denali" fontIcon="d-more-vertical"></mat-icon>
            </button>
        </span>
        <span class="dnav-menu-trigger"
            [matMenuTriggerFor]="dnavFavoriteItemMenu"
            [matMenuTriggerData]="{data: data, panelIndex: panelIndex, type: 'favorite'}"
            (menuOpened)="menuState(data.fullPath)"
            (menuClosed)="menuState(false)"
            #moreMenuTrigger></span>
    </div>
</ng-template>

<!-- TODO: logic for folder/namespace when we decide to add folders to favorites -->
<!-- TODO: For now, support only dashboards -->
<ng-template #userRecentItem let-data="data" let-panelIndex="panelIndex">
    <div class="dnav-recent-item">
        <a class="dnav-recent-link flex-spacer" routerLink="/d/{{data.id}}{{data.fullPath}}" (click)="fileMenuAction('navigateTo', data)">
            <mat-icon class="dnav-dashboard-icon" fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
            <span class="dnav-recent-detail">
                <span class="root-path">Belongs to: {{data.rootPath}}</span>
                <span class="dnav-recent-label">{{data.name}}</span>
                <span class="recent-date">Visited: {{data.visited | date:'medium'}}</span>
            </span>
        </a>
    </div>
</ng-template>


<ng-template #simpleFolderDisplay let-data="data" let-icon="icon" let-loading="loading" let-showcount="showcount">
    <div class="dnav-folder-item">
        <div class="list-item">
            <mat-icon class="folder-icon" fontSet="denali" [fontIcon]="icon || 'd-dashboard-tile'"></mat-icon>
        </div>
        <div class="list-item folder-name flex-spacer">
            <span>{{data.alias}}{{data.name? ' (' + data.name + ')' : '' }}</span>
        </div>
        <div class="list-item" *ngIf="showcount">
            <span class="counter">
                <span class="chip-count">{{((data.subfolders) ? data.subfolders.length : 0) + ((data.files) ? data.files.length : 0)}}</span>
            </span>
        </div>
        <div class="list-item goto-next-folder">
            <div class="loading-spinner size-s color-primary" *ngIf="loading"></div>
            <button mat-icon-button *ngIf="!loading">
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-right"></mat-icon>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #nsFolderDisplay let-data="data" let-icon="icon" let-loading="loading" let-showcount="showcount">
    <div class="dnav-folder-item">
        <div class="list-item">
            <mat-icon class="folder-icon" fontSet="denali" [fontIcon]="icon || 'd-dashboard-tile'"></mat-icon>
        </div>
        <div class="list-item folder-name flex-spacer">
            <span>{{data.name}}</span>
        </div>
        <div class="list-item" *ngIf="showcount && data.fullPath !== ':user-favorites:' && data.fullPath !== ':user-recent:'">
            <span class="counter">
                <span class="chip-count">{{((data.subfolders) ? data.subfolders.length : 0) + ((data.files) ? data.files.length : 0)}}</span>
            </span>
        </div>
        <div class="list-item" *ngIf="showcount && (data.fullPath === ':user-favorites:' || data.fullPath === ':user-recent:')">
            <span class="counter">
                <span class="chip-count">{{(data.fullPath === ':user-favorites:') ? userFavorites.length : userRecents.length}}</span>
            </span>
        </div>
        <div class="list-item goto-next-folder">
            <div class="loading-spinner size-s color-primary" *ngIf="loading"></div>
            <button mat-icon-button *ngIf="!loading">
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-right"></mat-icon>
            </button>
        </div>
    </div>
</ng-template>

<!-- MENUS -->
<mat-menu class="dnav-cdk-favorite-menu"
    xPosition="after"
    style="transform-origin: top left -32px;"
    #dnavFavoriteItemMenu="matMenu">
    <ng-template matMenuContent let-data="data" let-panelIndex="panelIndex">
        <button mat-menu-item (click)="favoriteMenuAction('removeFromFavorites', data)">
            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
            <span>Remove from favorites</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu class="dnav-cdk-folder-menu"
    xPosition="after"
    style="transform-origin: top left -48px;"
    #dnavFolderItemMenu="matMenu">
    <ng-template matMenuContent let-folder="data" let-panelIndex="panelIndex">
        <button mat-menu-item (click)="folderMenuAction('editName', folder)">
            <mat-icon fontSet="denali" fontIcon="d-external"></mat-icon>
            <span>Edit name</span>
        </button>
        <button mat-menu-item (click)="folderMenuAction('moveFolder', folder, $event)">
            <mat-icon fontSet="denali" fontIcon="d-folder-merge"></mat-icon>
            <span>Move folder</span>
        </button>
        <button mat-menu-item (click)="folderMenuAction('deleteFolder', folder)" *ngIf="!folder.parentPath.includes('/trash')">
            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
            <span>Move to trash</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu class="dnav-cdk-dashboard-menu"
    xPosition="after"
    style="transform: translate3d(30px,-32px,0);"
    #dnavDashboardItemMenu="matMenu">
    <ng-template matMenuContent let-file="data" let-panelIndex="panelIndex">
        <button mat-menu-item (click)="fileMenuAction('openNewTab', file)">
            <mat-icon fontSet="denali" fontIcon="d-external"></mat-icon>
            <span>Open in new tab</span>
        </button>
        <button mat-menu-item (click)="fileMenuAction('moveDashboard', file, $event)" *ngIf="!file.locked">
            <mat-icon fontSet="denali" fontIcon="d-folder-merge"></mat-icon>
            <span>Move Dashboard</span>
        </button>
        <button mat-menu-item (click)="fileMenuAction('deleteDashboard', file)" *ngIf="!file.locked && !file.parentPath.includes('/trash')">
            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
            <span>Move to trash</span>
        </button>
        <button mat-menu-item (click)="fileMenuAction('favoriteDashboard', file)">
            <mat-icon fontSet="denali" fontIcon="d-star"></mat-icon>
            <span>Add to favorites</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu class="dnav-cdk-mini-navigator"
    xPosition="after"
    style="transform: translate3d(30px, -31px, 0);"
    (closed)="miniNavClosed($event)"
    #dnavMiniNavigator="matMenu">
    <ng-template matMenuContent let-data="data" let-panelIndex="panelIndex" let-type="type">
        <div mat-menu-item (click)="$event.stopPropagation();" [disableRipple]="true">
            <dbfs-mini-nav mode="move" [type]="type" [path]="data.fullPath"
                (navigationCancel)="miniNavCancel($event)"
                (directorySelected)="miniNavSelected($event)"
                #miniNav></dbfs-mini-nav>
        </div>
    </ng-template>
</mat-menu>
