// NOTE: EVENTUALLY REMOVE THIS FILE
// common styles shared across app-shell

@mixin app-shell-common-base() {
}

@mixin app-shell-common-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    $panel-toolbar-text-color: if($is-dark, map-get($foreground, navbar-text), map-get($background, navbar));


}
