// common styles shared across app-shell

@mixin app-shell-common-base() {
    $navbar-height: map-get($navbar-config, 'navbar-height');
    $logo-height: map-get($navbar-config, 'logo-height');

    .panel-toolbar {
        @include mat-elevation(0);
        @include unselectable;

        .nav-item {
            display: flex;
            align-items: center;
        }

        .back-to-master {
            width: 24px;
            transform: translateX(0);
            transition: all 200ms ease-in-out;
        }

        .panel-label {
            cursor: pointer;

            strong {
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
            }
        }

        &.is-master-panel {

            .back-to-master {
                width: 0px;
                transform: translateX(-50px);
            }

            .panel-label {
                cursor: default;

                strong {
                    text-transform: capitalize;
                }
            }
        }

        &.mat-toolbar-multiple-rows,
        &.mat-toolbar-single-row {
            min-height: $navbar-height !important;
            height: $navbar-height;
        }
    }

    .test-navigator {
        .navigator-panel {
            .navigator-panel-wrapper {
                .navigator-panel-item {
                    padding: 16px;
                }
            }
        }
    }
}

@mixin app-shell-common-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    $panel-toolbar-text-color: if($is-dark, map-get($foreground, navbar-text), map-get($background, navbar));

    .panel-toolbar {
        background: transparent;
        border-bottom: 1px solid map-get($foreground, divider);
        color: $panel-toolbar-text-color;

        &.is-master-panel {
            .header-label {
                color: rgba(map-get($background, navbar),.85);
            }
        }
    }
}
