<mat-form-field appearance="fill">
    <mat-select placeholder="Line Type" panelClass="dropdown-line-type-options" [formControl]="lineTypeControl">
        <mat-select-trigger class="trigger-value-display">
            <span class="line-type-preview"  [ngClass]="{
                'line-type-solid': lineTypeControl.value === 'solid',
                'line-type-dotted': lineTypeControl.value === 'dotted',
                'line-type-dashed': lineTypeControl.value === 'dashed',
                'line-type-dot-dashed': lineTypeControl.value === 'dot-dashed'
            }">
                <span *ngIf="lineTypeControl.value === 'dot-dashed'"></span>
                <span></span>
            </span>
            <span>{{triggerLabel}}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let option of lineTypeOptions" [value]="option.value">
            <span class="line-type-preview" [ngClass]="{
                'line-type-solid': option.value === 'solid',
                'line-type-dotted': option.value === 'dotted',
                'line-type-dashed': option.value === 'dashed',
                'line-type-dot-dashed': option.value === 'dot-dashed'
            }">
                <span *ngIf="option.value === 'dot-dashed'"></span>
                <span></span>
            </span>
            <span>{{ option.label }}</span>
        </mat-option>
    </mat-select>
</mat-form-field>