@use '~@angular/material' as mat;
@mixin dashboard-to-alert-dialog-component-theme() {
    $bg: mat-get-color-from-palette($background, background);

    .dashboard-to-alert-dialog  {

        .header {
            background: if(
                $is-dark,
                #3E4955, // TODO: plug these values into theme
                #E1E5E5  // TODO: plug these values into theme
            );
        }

        .footer {
            border-top: 1px solid if(
                $is-dark,
                $black,
                #3E4955     // TODO: plug these values into theme
            );
            background: if(
                $is-dark,
                $bg,
                $white
            );
        }
    }
}
