@mixin dashboard-to-alert-dialog-component-base() {
    .dashboard-to-alert-dialog {

        .header {
            text-align: center;
            position: sticky;
            top: 0;
            left: 0;
            font-size: 16px;
            z-index: 1;
        }

        .footer {
            text-align: center;
            position: sticky;
            bottom: 0;
            left: 0;
            z-index: 1;
            .mat-icon-button { }

        }

        .mat-nav-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

@mixin dashboard-to-alert-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    $close-button-background: map-get($accent, A400);
    $close-button-text: map-get($foreground, navbar-text);

    .dashboard-to-alert-dialog  {

        .header {
            // todo - white or black
            background: white;
        }

        .footer {
           // todo - white or black
           background: white;

            .mat-icon-button {
                // :hover
            }

        }

    }
}