@use '@angular/material' as mat;
@mixin clipboard-drawer-component-theme() {

    $cssVarMap: get-theme-css-variables($theme-name);

    /* navbar config */
    // TODO: need to get this navbar config into theme somehow
    $sn-light: map-get($navbar-config, sn-light);
    $sn-dark: map-get($navbar-config, sn-dark);
    $sn-light-text: map-get($navbar-config, sn-light-text);
    $sn-dark-text: map-get($navbar-config, sn-dark-text);
    $sn-seperator: map-get($navbar-config, sn-seperator);
    $sn-active: map-get($navbar-config, sn-active);

    $menu-background: mat-get-color-from-palette($background, card);
    $menu-background-raw-value: _mat-convert-variable-to-color(map-get($background, card), $cssVarMap);
    $menu-background-hover: find-color-invert($menu-background-raw-value);

    $link: mat-get-color-from-palette($foreground, link);
    $link-raw-value: _mat-convert-variable-to-color(map-get($foreground, link), $cssVarMap);
    $link-inverse: find-color-invert($link-raw-value);

    .clipboard-drawer {
        background: mat-get-color-from-palette($background, card);

        .progress-indicator {
            color: rgba($white, 0.85);
            background: mat-get-color-from-palette($other, status-success);
            border-bottom: 1px solid mat-get-color-from-palette($foreground, divider);
            border-top: 1px solid mat-get-color-from-palette($foreground, divider);
        }

        .clipboard-header.mat-toolbar {
            // background: mat-color($background, navbar, .5);
            border-bottom: 1px solid mat-get-color-from-palette($foreground, divider, 0.07);
            color: if(
                $is-dark,
                mat-get-color-from-palette($foreground, navbar-text),
                mat-get-color-from-palette($background, navbar)
            );

            .nav-item.icon-nav {
                background: if(
                    $is-dark,
                    mat-get-color-from-palette($background, navbar, 0.5),
                    mat-get-color-from-palette($background, navbar, 0.1)
                );
            }

            .nav-item.icon-nav:not(:last-child) {
                border-right: 1px solid mat-get-color-from-palette($foreground, divider, 0.07);
            }

            .nav-item:hover {
                background: if(
                    $is-dark,
                    mat-get-color-from-palette($background, navbar, 0.1),
                    mat-get-color-from-palette($background, navbar, 0.2)
                );
                cursor: pointer;
            }

            .nav-item.icon-nav.is-active {
                background: transparent;
                color: if(
                    $is-dark,
                    mat-get-color-from-palette($foreground, navbar-text),
                    mat-get-color-from-palette($background, navbar)
                );
            }

            &.is-master-panel {
                .header-label {
                    color: mat-get-color-from-palette($background, navbar, 0.85);
                }
            }
        }

        .clipboard-item-list {
            border-top: 1px solid mat-get-color-from-palette($foreground, divider);
        }

        .clipboard-item.mat-expansion-panel {
            .mat-expansion-panel-header {
                .clipboard-item-menu-trigger {
                    background: rgba($black, 0.1);
                }
            }
        }
    }

    // cdk items
    .confirmation-menu.mat-menu-panel {
        .confirmation-card.mat-card {
            box-shadow: none;

            .mat-card-actions {
                border-top: 1px solid mat-get-color-from-palette($foreground, divider);

                .mat-button:not(:last-child) {
                    border-right: 1px solid mat-get-color-from-palette($foreground, divider);
                }

                .mat-button.confirm-button {
                    .mat-icon {
                        color: mat-get-color-from-palette($other, status-success);
                    }
                }

                .mat-button.cancel-button {
                    .mat-icon {
                        color: mat-get-color-from-palette($other, status-error);
                    }
                }
            }
        }
    }

    .clipboard-action-menu,
    .clipboard-item-action-menu {
        background-color: if(
            $is-dark,
            lighten($menu-background-raw-value, 15%),
            $menu-background
        );
        border: 1px solid mat-get-color-from-palette($background, navbar, 0.15);

        .mat-menu-item {
            color: if(
                $is-dark,
                mat-get-color-from-palette($foreground, navbar-text, .85),
                mat-get-color-from-palette($background, navbar, .85)
            );

            .mat-icon {
                color: if(
                    $is-dark,
                    mat-get-color-from-palette($foreground, navbar-text, 0.5),
                    mat-get-color-from-palette($background, navbar, 0.5)
                );
            }

            &:hover {
                background-color: if(
                    $is-dark,
                    rgba($menu-background-hover, 0.12),
                    rgba($menu-background-hover, 0.08)
                );
            }
        }
    }
}
