<div class="clipboard-drawer-wrap">
    <mat-toolbar class="clipboard-header">
        <mat-toolbar-row fxLayout fxLayoutAlign="start stretch">
            <div class="nav-item icon-nav clipboard-collapse-control" style="min-width: 36px;"
                (click)="close()">
                <button mat-icon-button>
                    <mat-icon fontSet="denali" fontIcon="d-close-square"></mat-icon>
                </button>
            </div>
            <div class="nav-item flex-spacer clipboard-selector">
                <ng-container>
                    <ng-container *ngTemplateOutlet="clipboardSelectorControl"></ng-container>
                </ng-container>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <ng-container *ngIf="creatingNewClipboard">
        <ng-container *ngTemplateOutlet="createClipboardPanel"></ng-container>
    </ng-container>
    <ng-container *ngIf="!creatingNewClipboard">
        <ng-container *ngTemplateOutlet="clipboardItemList"></ng-container>
    </ng-container>
</div>
<!-- clipboard selector -->
<ng-template #clipboardSelectorControl>
    <mat-form-field>
        <mat-label>Selected clipboard</mat-label>

        <mat-select [value]="activeIndex" (selectionChange)="clipboardSelectionChange($event)">
            <!--<mat-option value="_new_">Create new clipboard</mat-option>
            <mat-divider></mat-divider>-->
            <mat-option *ngFor="let cb of clipboardList; let idx = index" [value]="idx">
                {{cb.resource.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="toggleCreateClipboard()" matTooltip="Create new clipboard">
        <mat-icon fontSet="denali" fontIcon="d-file-add"></mat-icon>
    </button>
</ng-template>

<!-- clipboard item list-->
<ng-template #clipboardItemList>
    <div class="clipboard-content-batch-controls" *ngIf="clipboardItems.length > 0">
        <!-- BATCH CONTROLS
            expand/collapse all
            select/deselect all
            delete
            add to dashboard
            create dashboard from clipboard
        -->
        <div class="buttons">
            <!-- add widget(s) to dashboard -->
            <button mat-icon-button color="primary"
                matTooltip="Add selected widget(s) to dashboard"
                (click)="batchPasteToDashboard()">
                <mat-icon fontSet="denali" fontIcon="d-dashboard-tile-add"></mat-icon>
            </button>
            <!-- create dashboard from clipboard -->
            <button mat-icon-button color="primary"
                matTooltip="Create new dashboard from clipboard"
                (click)="createDashboardFromClipboard()">
                <mat-icon fontSet="denali" fontIcon="d-file-add"></mat-icon>
            </button>
            <!-- delete widget(s) from clipboard -->
            <button mat-icon-button color="primary"
                matTooltip="Delete widget(s) from clipboard"
                [matMenuTriggerFor]="confirmDeleteClipboardItemsMenu">
                <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
            </button>
        </div>
        <div class="expansion">
            <button mat-button color="primary" (click)="toggleSelectAll()">
                <span>{{selectAll ? 'Deselect' : 'Select'}} All</span>
            </button>
            <span class="flex-spacer"></span>
            <button mat-button color="primary" (click)="toggleExpandAll()">
                <span>{{expandAll ? 'Collapse' : 'Expand'}} All</span>
            </button>
        </div>
    </div>
    <div class="clipboard-content">
        <div class="clipboard-content-scroller has-scroller">
            <div class="clipboard-item-list is-scroller">
                <mat-accordion multi="true">
                    <!-- if no items -->
                    <mat-expansion-panel class="clipboard-item" *ngIf="clipboardItems.length === 0" expanded="true"
                        hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                No clipboard items
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="clipboard-item-detail">
                            Please add items to this clipboard
                        </div>
                    </mat-expansion-panel>
                    <!-- has items -->
                    <mat-expansion-panel class="clipboard-item"
                        *ngFor="let data of clipboardItems; let i = index;"
                        (closed)="toggleExpandItem(false)"
                        (opened)="toggleExpandItem(true)">
                        <mat-expansion-panel-header
                        expandedHeight="32px" collapsedHeight="32px">
                            <mat-panel-title>
                                <span (click)="$event.stopPropagation()">
                                    <mat-checkbox [checked]="selectedItems[data.id]"
                                        (change)="toggleSelectItem($event, data)"></mat-checkbox>
                                </span>
                                <span class="widget-type-icon {{ widgetTypes[widgetTypesMap[data.settings.component_type]].iconClass }}"></span>
                                <span>{{data.settings.title}}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="clipboard-item-detail" (click)="$event.stopPropagation()">
                            <div class="item-detail item-label">
                                <strong>Widget type:</strong> <span>{{widgetTypes[widgetTypesMap[data.settings.component_type]].label}}</span>
                            </div>
                            <div class="item-detail item-label">
                                <strong>Dashboard origin:</strong> <span>{{data.settings.clipboardMeta.dashboard.name}}</span>
                            </div>
                            <div class="item-detail copy-date">
                                <strong>Copied on:</strong> <span>{{data.settings.clipboardMeta.copyDate | date:'medium'}}</span>
                            </div>
                        </div>

                        <mat-action-row (click)="$event.stopPropagation()">
                            <button mat-button color="primary"
                                (click)="pasteToDashboard(data, i)">
                                <span>Add to dashboard</span>
                            </button>
                            <span class="flex-spacer"></span>
                            <button mat-icon-button color="secondary"
                                [matMenuTriggerFor]="confirmDeleteClipboardItemMenu"
                                [matMenuTriggerData]="{itemIndex: i}">
                                <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</ng-template>

<!-- creating clipboard -->
<ng-template #createClipboardPanel>
    <div>
        <div>Create a new clipboard</div>
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Enter clipboard name</mat-label>
                <input matInput [formControl]="FC_clipboardName">
                <mat-error *ngIf="FC_clipboardName.invalid && (FC_clipboardName.dirty || FC_clipboardName.touched)">
                    <span *ngIf="FC_clipboardName.errors.required">
                        A clipboard name is required.
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" (click)="createClipboard()" >
                <span>Create Clipboard</span>
            </button>
            <button mat-stroked-button color="secondary" (click)="cancelCreateClipboard()">
                <span>Cancel</span>
            </button>
        </div>
    </div>
</ng-template>

<!-- confirmation menu to delete a clipboard item -->
<mat-menu #confirmDeleteClipboardItemMenu="matMenu" overlapTrigger="true">
    <ng-template matMenuContent let-itemIndex="itemIndex">
        <button mat-menu-item>Yes, please delete item {{itemIndex}}</button>
        <button mat-menu-item>No, please cancel</button>
    </ng-template>
</mat-menu>

<!-- confirmation menu to delete a clipboard items (bulk action) -->
<mat-menu #confirmDeleteClipboardItemsMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item>Yes, please delete items</button>
        <button mat-menu-item>No, please cancel</button>
    </ng-template>
</mat-menu>

