@use '@angular/material' as mat;
@mixin navigator-sidenav-component-theme() {
    $cssVarMap: get-theme-css-variables($theme-name);

    $sn-light: mat-get-color-from-palette($background, background);
    $sn-dark: map-get($navbar-config, sn-dark); // TODO: this navbar-config needs to plug into theme

    $sn-light-text: map-get($navbar-config, sn-light-text); // TODO: this navbar-config needs to plug into theme
    $sn-dark-text: map-get($navbar-config, sn-dark-text); // TODO: this navbar-config needs to plug into theme

    $sn-seperator: mat-get-color-from-palette($foreground, divider);

    $sn-active: map-get($navbar-config, sn-active); // TODO: this navbar-config needs to plug into theme

    $nav-item-bg: if(
        $is-dark,
        mat-get-color-from-palette($background, lighter-card),
        mat-get-color-from-palette($foreground, text, 0.08)
    );

    .app-navigator-sidenav {
        background-color: $sn-light;

        .mat-list-item {
            color: $sn-dark-text;

            &.is-active {
                background-color: $nav-item-bg;
                color: $sn-light-text;
                box-shadow: inset 0 -1px 0 0 $sn-seperator,
                    inset 0 1px 0 0 $sn-seperator;
            }
        }

        .mat-toolbar {
            background: mat-get-color-from-palette($background, navbar);
            color: mat-get-color-from-palette($foreground, navbar-text);

            .mat-icon-button .mat-icon {
                color: mat-get-color-from-palette($foreground, navbar-icons);
            }
        }

        .side-nav-applications.mat-nav-list {
            box-shadow: inset -1px 0 0 0 $sn-seperator;
        }
    }
}
