@mixin app-navigator-sidenav-component-base() {
    $navbar-height: map-get($navbar-config, 'navbar-height');
    $logo-height: map-get($navbar-config, 'logo-height');

    .app-navigator-sidenav {
        width: 60px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        // vertical icon list
        .mat-nav-list {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        // hide the labels for now
        .nav-label {
            display: none;
        }

        // inside the navlist
        .app-home-link {
            min-width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 14px;
        }

        .app-yamas-logo {
            height: $logo-height;
            //margin: 0 4px 3px 0;
            vertical-align: middle;
            max-width: initial;

        }

        .mat-toolbar {
            //@include mat-elevation(2);

            .mat-toolbar-row {
                padding: initial;
            }
        }

        .mat-toolbar-multiple-rows,
        .mat-toolbar-single-row {
            min-height: $navbar-height !important;
            height: $navbar-height;
        }

        .navbar-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: auto 5px;

            &.navbar-icon-item {
                margin: auto 10px;
            }
        }


    }
}

@mixin app-navigator-sidenav-component-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    //$sn-light: map-get($navbar-config, sn-light);
    $sn-light: map-get($background, background);
    $sn-dark: map-get($navbar-config, sn-dark);

    $sn-light-text: map-get($navbar-config, sn-light-text);
    $sn-dark-text: map-get($navbar-config, sn-dark-text);

    //$sn-seperator: map-get($navbar-config, sn-seperator);
    $sn-seperator: map-get($foreground, divider);

    $sn-active: map-get($navbar-config, sn-active);

    $nav-item-bg: if($is-dark, lighten(map-get($background, card), 10%), map-get($background, card));

    .app-navigator-sidenav {
        background-color: $sn-light;

        .mat-list-item {
            color: $sn-dark-text;
            //border-top: 1px solid $sn-seperator;

            &.is-active {
                //background-color: $sn-dark;
                background-color: $nav-item-bg;
                color: $sn-light-text;
                //box-shadow: inset 3px 0 0 $sn-active;
                box-shadow: inset 0 -1px 0 0 $sn-seperator, inset 0 1px 0 0 $sn-seperator;
            }
        }

        .flex-spacer {
            //border-top: 1px solid $sn-seperator;
        }

        .mat-toolbar {
            background: map-get($background, navbar);
            color: map-get($foreground, navbar-text);

            .mat-icon-button {
                .mat-icon {
                    color: map-get($foreground, navbar-icons)
                }
            }
        }

        .side-nav-applications.mat-nav-list {
            box-shadow: inset -1px 0 0 0 $sn-seperator;
        }
    }
}
