@use '~@angular/material' as mat;
//* App Navbar Global Styles
//* ====================================================
//* Since part of the app-navbar is a cdk portal
//* the css encapsulation doesn't work on the items
//* ported in from other containers.
//* So we have to put those styles in the global space.
//* ====================================================

.app-navbar {
    .dashboard-name {
        @include mat.typography-level(map-get($app-fontface-config, sans), title);
    }

    .icon-container,
    .navbar-item,
    .navbar-sliding-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-item {
        margin: auto 5px;

        &.navbar-icon-item {
            margin: auto 10px;
        }
    }

    .navbar-sliding-toggle {
        border-bottom: 0 !important;
        padding: 0 2px;
        display: inline-block;

        .sliding-toggle-group {
            padding: 0 2px;

            .mat-tab-link {
                font-size: mat.font-size(map-get($app-fontface-config, sans), caption);
                height: 24px;
                padding: 0 4px;
                min-width: 50px;
                opacity: 1;
                z-index: 1;
                background-color: transparent;
                user-select: none;

                &.mat-tab-label-active,
                &:not(.mat-tab-disabled):not(.mat-tab-label-active) {
                    &,
                    &:focus {
                        background-color: transparent !important;
                    }
                }

                &:not(.mat-tab-disabled):focus {
                    background-color: transparent !important;
                }
            }

            .mat-ink-bar {
                height: 20px;
                bottom: 2px;
                border-radius: 4px;
            }
        }
    }
}


// global cdk items
.mat-menu-panel.nav-bar-dropmenu {
    @include mat.elevation(5);
    margin-top: 3px;
}

// * THEME VARIANTS
@include init-component-variants() {

    $accent-default: mat-get-color-from-palette($accent, default);

    $navbar-bg: mat-get-color-from-palette($background, navbar);
    $navbar-text: mat-get-color-from-palette($foreground, navbar-text);

    $navbar-icons-color: mat-get-color-from-palette($foreground, navbar-icons);

    ::ng-deep .app-navbar {
        .mat-icon-button {
            .mat-icon {
                color: $navbar-icons-color;
            }
        }

        .navbar-item {
            .menu-trigger-underline {
                box-shadow: inset 0 -3px 0 mat-get-color-from-palette($accent, default);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .menu-trigger-highlight {
                background-color: mat-get-color-from-palette($accent, default, .1);
            }
        }

        .navbar-sliding-toggle {
            .sliding-toggle-group {
                background-color: mat-get-color-from-palette($background, navbar-button);

                .mat-tab-link {
                    &,
                    &.mat-tab-label-active {
                        color: mat-get-color-from-palette($foreground, navbar-text);
                    }
                }

                .mat-ink-bar {
                    background-color: mat-get-color-from-palette($foreground, navbar-text, .25);
                }
            }
        }
    }
}

