@mixin placeholder-widget-component-base() {

    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    .widget-panel-content.placeholder-widget {
        overflow-y: auto;

        // selector icons for the base
        .widget-types {
            margin-top: 20px;

            .widget-type-selector {
                padding: 8px 16px 0 16px;
                width: 110px;

                &:not(:last-child) {
                    margin-right: 12px;
                    margin-bottom: 12px;
                }

                .mat-button-wrapper {
                    display: inline-flex;
                    flex-direction: column;
                }

                .widget-type-label,
                .widget-type-icon {
                    width: 100%;
                    line-height: 32px;
                }

                //.widget-type-label {}

                .widget-type-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    &::after {
                        content: '';
                        display: block;
                        overflow: hidden;
                        width: 50px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-size: 200px; // four columns of icons * 50px = 200px
                        background-image: url(/assets/widget-icon-sprite.png);
                    }

                    &.widget-icon-bar-graph::after {
                        background-position: -50px 0px;
                    }

                    &.widget-icon-area-graph::after {
                        background-position: 0px 0px;
                    }

                    &.widget-icon-line-chart::after {
                        background-position: -100px -50px
                    }

                    &.widget-icon-heatmap::after {
                        background-position: -50px -50px
                    }

                    &.widget-icon-topn-chart::after {
                        background-position: -150px -50px
                    }

                    &.widget-icon-big-number::after {
                        background-position: -100px 0px;
                    }

                    &.widget-icon-donut-chart::after {
                        background-position: 0px -50px;
                    }

                    &.widget-icon-statuses::after {
                        background-position: -150px 0px;
                    }

                    &.widget-icon-notes::after {
                        background-position: 0px -100px;
                    }

                    &.widget-icon-events::after {
                        background-position: -50px -100px;
                    }

                    &.widget-icon-table::after {
                        background-position: -150px -100px;
                    }
                    /*&::after {
                        content: '';
                        display: block;
                        width: 50px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: 100%;
                    }

                    &.widget-icon-bar-graph::after {
                        background-image: url(/assets/widget-icon-bar-graph.png);
                    }

                    &.widget-icon-area-graph::after {
                        background-image: url(/assets/widget-icon-area-graph.png);
                    }

                    &.widget-icon-line-chart::after {
                        background-image: url(/assets/widget-icon-line-chart.png);
                    }
                    &.widget-icon-heatmap::after {
                        background-image: url(/assets/widget-icon-heatmap.png);
                    }

                    &.widget-icon-topn-chart::after {
                        background-image: url(/assets/widget-icon-topn-chart.png);
                    }

                    &.widget-icon-big-number::after {
                        background-image: url(/assets/widget-icon-big-number.png);
                    }

                    &.widget-icon-donut-chart::after {
                        background-image: url(/assets/widget-icon-donut-chart.png);
                    }

                    &.widget-icon-statuses::after {
                        background-image: url(/assets/widget-icon-statuses.png);
                    }

                    &.widget-icon-notes::after {
                        background-image: url(/assets/widget-icon-notes.png);
                    }*/
                }
            }
        }
    }
}

@mixin placeholder-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    .widget-panel-content.placeholder-widget {

        .widget-types {
            .widget-type-selector {
                // need a background color here
                background-color: map-get($widget, widget-icons-background);

                &:hover {
                    background-color: map-get($widget, widget-icons-background-hover);
                }
            }

            .widget-type-label {
                color: map-get($foreground, text);
            }
        }

    }

}
