<!--
<mat-select [value]="selected && selected.length ? selected : ['all']"  multiple (selectionChange)="setTags($event)" (openedChange)="loadTags($event)">
    <mat-option value='all'>Everything</mat-option>
    <mat-option *ngFor="let option of tagOptions" [value]="option.name">{{ option.name }}</mat-option>
</mat-select>
-->
<mat-form-field *ngIf="!multiple" appearance="fill" floatLabel="never">
    <mat-select (click)="loadTags(true)" (selectionChange)="onTagSelection($event)" [value]="selected[0]" placeholder="Select Tag">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let option of tagOptions" [value]="option.name">{{option.name}}</mat-option>
    </mat-select>
</mat-form-field>

  <button *ngIf="multiple" mat-button (click)="loadTags(true)" [disabled]="!enableGroupBy">
    <div class="button-label">
        <div>{{   ( selected && selected.length > 0 && selected.indexOf('all') === -1) ? selected.join(', ') : (all ? 'Everything' : 'Alert Id') }}</div>
        <div class="mat-select-arrow-wrapper">
            <div class="mat-select-arrow"></div>
        </div>
    </div>
    <span class="menu-trigger" [matMenuTriggerFor]="tagOptionsMenu" (menuOpened)="optionsMenuOpened($event)" #tagOptionsMenuTrigger></span>
</button>
<mat-menu class="tag-options-cdk-menu" #tagOptionsMenu="matMenu" yPosition="below" (closed)="tagSelectionPanelClosed($event)">
    <div class="tag-options-wrapper" (click)="$event.stopPropagation()">
        <div class="filter-input">
            <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="filter tags" autocomplete="off" [formControl]="filterTagInputFC">
                <button mat-icon-button matSuffix (click)="clearFilterTagInput()">
                    <mat-icon fontSet="denali" fontIcon="d-close-circle-solid"></mat-icon>
                </button>
            </mat-form-field>
        </div>
        <mat-selection-list #tagOptionsList (selectionChange)="onTagSelection($event, tagOptionsList.selectedOptions.selected)">
            <mat-list-option checkboxPosition="before" value='all' [selected]="optionIsSelected('all')" *ngIf="all">Everything</mat-list-option>
            <ng-container *ngFor="let option of filteredTagOptions">
            <mat-list-option *ngIf="!option.filtered" checkboxPosition="before" [value]="option.name" [selected]="optionIsSelected(option.name)">
                {{option.name}}
            </mat-list-option>
            </ng-container>
        </mat-selection-list>
    </div>
</mat-menu>
