@use '~@angular/material' as mat;
@mixin timeseries-legend-component-theme() {

    $divider: mat.get-color-from-palette($foreground, divider);

    $menu-bg: if($is-dark, mat.get-color-from-palette($background, menu, .75), mat.get-color-from-palette($background, menu));
    $menu-bg-lighter: if($is-dark, mat.get-color-from-palette($background, menu, .85), mat.get-color-from-palette($background, menu));

    $cdk-window-bg: $menu-bg;
    $cdk-window-border: $divider;

    $header-bg: if($is-dark, mat.get-color-from-palette($background, menu), mat.get-color-from-palette($background, navbar));
    $text: mat.get-color-from-palette($foreground, navbar-text);

    $brief-dark: #3a87ad; // TODO: plug into theme
    $brief-light: #ddeff9; // TODO: plug into theme

    .timeseries-legend-component {
        .ts-legend-toolbar {
            color: white;
            background-color: black;

            .mat-toolbar-row.detail-brief {
                color: if($is-dark, $brief-light, $brief-dark);
                background-color: if($is-dark, $brief-dark, $brief-light);
            }
        }

        .ts-legend-table {
            background: $cdk-window-bg;

            .mat-sort-header-container.mat-sort-header-sorted {
                color: #c09853; // TODO: plug into theme

                .mat-sort-header-arrow {
                    color: darken(#c09853, 15%); // TODO: plug into theme
                }
            }

            .mat-row:hover,
            .mat-row.tag-highlight {
                background-color: mat.get-color-from-palette($primary, default, .04);
            }
            .mat-cell:hover,
            .mat-cell.tag-highlight {
                background-color: mat.get-color-from-palette($primary, default, .15);
            }
        }
    }

    // island toolbar
    .info-island-toolbar.timeseries-legend-toolbar {

        @if $is-dark {
            .mat-select-arrow-wrapper .mat-select-arrow {
                color: $white;
            }
        }

        .mat-checkbox:not(.mat-checkbox-checked) {
            .mat-checkbox-background {
                background-color: $white;
            }
        }
    }

    @if $is-dark {
        .mat-menu-panel.show-limit-type-cdk-menu {
            background: $menu-bg-lighter;
        }
    }

    // cdk items
    .namespace-selector-menu.mat-menu-panel {
        border: 1px solid mat.get-color-from-palette($foreground, divider);
    }
}
