@charset "utf-8";

////// OVERRIDES FOR GRIDSTER //////

gridster-root {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// [Deprecation] /deep/ combinator is no longer supported in CSS dynamic profile.It is now effectively no-op, 
// acting as if it were a descendant combinator. /deep/ combinator will be removed, and will be invalid at M65. 
// You should remove it. See https://www.chromestatus.com/features/4964279606312960 for more details.
gridster .position-highlight {
    .inner {
        background-color: rgb(206, 201, 202);
    }
}
