@charset "utf-8";

////// OVERRIDES SOME MATERIAL COMPONENTS //////

.mat-toolbar-single-row, .mat-toolbar-multiple-rows {
  min-height: 48px !important;
  height: 48px;
}

mat-nav-list {
  min-width: 200px;
  width: 20%;
  border-right: 1px solid grey;
  overflow: overlay;
}

@-moz-document url-prefix() {
    mat-nav-list {
        overflow: auto;
    }
}

mat-nav-list .active, mat-nav-list .mat-list-item-focus.active:focus {
  background: #afddff;
}
