/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin widget-config-time-component-base() {
    .widget-config-tab.time-configuration {

        .form-field-group {
            display: inline-block;

            .mat-form-field:not(:last-child) {
                margin-right: 8px;
            }
        }

        .form-field-group {
            &.mat-select {
                width: 200px;
            }

            .mat-select {
                padding: 6px;
                border-radius: 4px;
                width: 180px;
                //background-color: rgba(34, 122, 236, 0.08);
            }
        }

        .config-control > .label {
            display: inline-block;
            width: 150px;
            vertical-align: top;
            // margin-bottom: 10px;
        }

        // .time-preset-options {}

        .time-over-time-controls {
            .mat-form-field:not(:last-child) {
                margin-right: 8px;
            }
        }

        .downsample-controls,
        .aggregator-controls {
            .mat-radio-button:not(:last-child) {
                margin-right: 20px;
            }

            .mat-radio-group {
                .mat-radio-label {
                    flex-direction: column;
                    justify-content: center;

                    .mat-radio-label-content {
                        padding-left: 0;
                    }
                }
            }
        }

        .downsample-controls .custom-downsample {
            margin-top: 10px;
        }

        .override-relative-time-controls,
        .time-shift-controls,
        .min-interval-controls,
        .reporting-interval-controls,
        .downsample-controls .custom-downsample {
            .mat-form-field-infix {
                border-top: 0;
            }
        }
    }
}

@mixin widget-config-time-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark-theme);

    $fill-background: mat-color($foreground, base, if($is-dark-theme, 0.1, 0.04));


    /*.widget-config-tab.time-configuration {
        // style rules here
    }*/

}
