<div class="widget-output-container" #testing [style.height]="mode !== 'view' ? (widgetOutputElHeight) +'px' : 'inherit'">
    <div class="widget-title" #widgetTitle *ngIf="mode !== 'view'">
        <div class="title-label" *ngIf="mode === 'edit' || mode === 'explore'">
            <span class="navbar-item">{{ mode === 'explore' ? 'Explore: ' : 'Widget name: ' }}</span>
        </div>
        <span fxFlex="1 1 100%" fxLayout="row" class="title-content">
            <inline-editable class="navbar-item" *ngIf="mode === 'edit' || mode === 'explore'"
                showEditIcon="true"
                [fieldValue]="widget.settings.title"
                [minLength]="3"
                [maxLength]="100"
                (updatedValue)="setTitle($event)">
            </inline-editable>
            <span class="info" *ngIf="mode === 'snap'">
                This snpashot is created from the {{ meta.source | lowercase }} <a target="_blank" routerLink="/{{ meta.source === 'DASHBOARD' ? 'd': meta.source === 'ALERT'? 'a' : 'snap'}}/{{meta.sourceId}}">{{ meta.sourceName }}</a> by {{ meta.createdBy }} on {{ meta.createdTime }}
            </span>
        </span>
        <graph-type (change)="changeWidgetType($event)" selected="BarchartWidgetComponent"></graph-type>
        <button mat-flat-button class="snapshot-button" (click)="saveAsSnapshot()" matTooltip="Snapshot" matTooltipPosition="below">
            <mat-icon fontSet="denali" fontIcon="d-camera"></mat-icon>
        </button>
    </div>
    <div class="widget-output" #widgetoutput appResizable [resize]="mode !== 'view'" (resizeOut)="handleEditResize($event)" ttMouseListener ttType="barchart">
        <div id="container" [style.width.px]="width" [style.height.px]="height">
            <canvas id="canvas" chartjs [chartType]="type" [data]="data" [options]="options"></canvas>
            <div class="gif-spinner" *ngIf="nQueryDataLoading > 0">
                <img src="/assets/spinner-26x26.gif" />
            </div>
            <div class="error" *ngIf="error" (click)="showError()">
                <mat-icon>error</mat-icon>
            </div>
            <div class="debug" *ngIf="debugData" (click)="showDebug()">
                <mat-icon>info</mat-icon> {{ this.widget.id }}
            </div>
        </div>
    </div>
</div>
<!-- NOTE: This needs to move to other component -->
<div class="widget-controls-container" *ngIf="mode !== 'view'">
    <div class="widget-control-steps has-scroller">
        <div class="is-scroller">
            <div class="step-section query-section is-visible" #stepqueries>
                <div class="step-section-label">
                    <span class="step-section-label-text"
                        (click)="toggleConfigSection('queries', $event);scrollToElement(stepqueries)">
                        <span>1. Queries </span>
                        <mat-icon fontSet="denali" (click)="toggleConfigSection('queries')"
                            [fontIcon]="visibleSections.queries ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.queries">
                    <widget-config-metric-queries *ngIf="!isStackedGraph"
                        [options]="{enableSummarizer: true, enableMultipleQueries:true}" [widget]="widget"
                        (widgetChange)="updateConfig($event);"></widget-config-metric-queries>
                </div>
            </div>

            <div class="step-section query-section is-visible" #steptime>
                <div class="step-section-label">
                    <span class="step-section-label-text"
                        (click)="toggleConfigSection('time', $event);scrollToElement(steptime);">
                        <span>2. Time Configuration </span>
                        <mat-icon fontSet="denali"
                            [fontIcon]="visibleSections.time ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.time">
                    <widget-config-time [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-time>
                </div>
            </div>
            <div class="step-section query-section is-visible" #stepaxes>
                <div class="step-section-label">
                    <span class="step-section-label-text"
                        (click)="toggleConfigSection('axes', $event);scrollToElement(stepaxes);">
                        <span>3. Axes </span>
                        <mat-icon fontSet="denali"
                            [fontIcon]="visibleSections.axes ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.axes">
                    <widget-config-axes [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-axes>
                </div>
            </div>
            <div class="step-section query-section is-visible" #stepvisuals>
                <div class="step-section-label">
                    <span class="step-section-label-text"
                        (click)="toggleConfigSection('visuals', $event);scrollToElement(stepvisuals);">
                        <span>4. Display </span>
                        <mat-icon fontSet="denali"
                            [fontIcon]="visibleSections.visuals ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.visuals">
                    <widget-config-visual-appearance [widget]="widget" (widgetChange)="updateConfig($event);">
                    </widget-config-visual-appearance>
                    <widget-config-sorting [widget]="widget" (widgetChange)="updateConfig($event);">
                    </widget-config-sorting>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-actions" *ngIf="mode !== 'snap'">
        <!-- controls to save/cancel -->
        <button mat-raised-button color="primary" *ngIf="mode === 'edit'" class="mat-elevation-z0" (click)="applyConfig()" [disabled]="Object.keys(formErrors).length > 0">Apply to
            Dashboard</button>
        <button mat-stroked-button color="primary" class="mat-elevation-z0"
            (click)="closeViewEditMode()">Cancel</button>
    </div>
</div>
