@mixin barchart-widget-component-base() {

    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    .widget-panel-content.barchart-widget {
        flex: 1;
        display: flex;
        .widget-output {
            width: 100%;
            height: 100%;
            display: flex;
        }
        #container {
            padding: 20px 0px 0px 0px;
            box-sizing: border-box;
            display:inline-block;
            /*
                this is parent containter(#container) of chartjs canvas.
                position:relative is required on parent container as
                chartjs-zoom and threshold plugins inserts a canvas on top of chart canvas.
            */
            position: relative;
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
            .loading-spinner,
            .gif-spinner {
                position: absolute;
                left: 5px;
                bottom: 5px;
                z-index: 1;
                /*width: 24px;
                height: 24px;
                background-image: url(/assets/denali-loader.svg);
                background-color: transparent;*/
            }
            .apply-tpl-status {
                position: absolute;
                right: -5px;
                top: 0px;
                z-index: 1;
                .mat-icon {
                    font-size: 16px;
                    color: rgb(216, 216, 215);
                }
            }

            .error{
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 30px;
                height: 30px;
                color: red;
            }

            .debug{
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 30px;
                height: 30px;
                color: rgb(75, 9, 228);
            }
        }
    }
}

@mixin barchart-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    // .widget-panel-content.linechart-widget { }

}
