@use '@angular/material' as mat;
@mixin info-tooltip-component-theme() {

    $text: get-theme-css-text($theme-name);

    $tooltip-bg: if(
        $is-dark,
        mat-get-color-from-palette($background, menu),
        #f0f0f0
    );

    $tooltip-border: if(
        $is-dark,
        mat-get-color-from-palette($background, menu-border),
        #cccccc
    );

    $tooltip-text: if(
        $is-dark,
        map-get($text, --dark-primary-text),
        map-get($text, --light-primary-text)
    );

    //cdk items
    .mat-menu-panel.info-tooltip {
        background-color: $tooltip-bg;
        border: 1px solid $tooltip-border;
        color: $tooltip-text;
    }
}
