<form [formGroup]="widgetConfigMultigraph">
    <div class="config-control inline-controls">
        <label class="fixed-label">
            <strong>Chart</strong>
        </label>
        <div class="form-field-group table-output">
            <!-- TABLE GROUP HERE -->
            <mat-table #chartTable [dataSource]="FC_chart['controls']" class="mat-elevation-z0"
                formArrayName="chart"
                cdkDropList
                [cdkDropListData]="FC_chart['controls']"
                (cdkDropListDropped)="dropTable($event)">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                <!-- REMOVE -->
                <ng-container matColumnDef="remove">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element; let rowIndex = index">
                        <span *ngIf="element.get('key').value !== 'metric_group'"
                            matTooltip="Can not disable a GroupBy tag."
                            [matTooltipDisabled]="!checkIfGroupByTags(element.get('key').value)">
                            <button mat-icon-button color="primary"
                                [disabled]="checkIfGroupByTags(element.get('key').value)"
                                (click)="removeMultigraphTag(rowIndex)">
                                <mat-icon fontSet="denali" fontIcon="d-minus-circle"></mat-icon>
                            </button>
                        </span>
                    </mat-cell>
                </ng-container>
                
                <!-- label -->
                <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element; let rowIndex = index">
                        {{element.get('key').value}}
                    </mat-cell>
                </ng-container>

                <!-- display as row graph -->
                <ng-container matColumnDef="y">
                    <mat-header-cell *matHeaderCellDef>AS ROWS</mat-header-cell>
                    <mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                        <mat-radio-group formControlName="displayAs">
                            <mat-radio-button
                                value="y" 
                                [checked]="FC_chart['controls'][rowIndex].get('displayAs').value === 'y'">
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-cell>
                </ng-container>

                <!-- Display as column graph -->
                <ng-container matColumnDef="x">
                    <mat-header-cell *matHeaderCellDef>AS COLUMNS</mat-header-cell>
                    <mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                        <mat-radio-group formControlName="displayAs">
                            <mat-radio-button
                                value="x" 
                                [checked]="FC_chart['controls'][rowIndex].get('displayAs').value === 'x'">
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-cell>
                </ng-container>

                <!-- Display as Within Graph -->
                <ng-container matColumnDef="g">
                    <mat-header-cell *matHeaderCellDef>WITHIN GRAPH</mat-header-cell>
                    <mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                        <mat-radio-group formControlName="displayAs">
                            <mat-radio-button
                                value="g" 
                                [checked]="FC_chart['controls'][rowIndex].get('displayAs').value === 'g'">
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-cell>
                </ng-container>

                <!-- order drag handles to reshuffle -->
                <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef>ORDER</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <!-- icon is drag handle for the row -->
                        <mat-icon fontSet="denali" fontIcon="d-drag-handle" cdkDragHandle></mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- row and header definition -->
                <mat-header-row *matHeaderRowDef="chartDisplayColumns"></mat-header-row>
                <!-- we DRAG the whole row -->
                <mat-row class="multigraph-data-row" *matRowDef="let row; columns: chartDisplayColumns;" cdkDrag [cdkDragData]="row"></mat-row>
            </mat-table>
            <div class="add-tag-control">
                <!-- Input to add a tag -->
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Add tag key" 
                        [formControl]="tagKeyControlInput"
                        [matAutocomplete]="widgetTagAuto"
                        (blur)="onTagKeyInputBlur($event)"
                        (keydown.enter)="onTagKeyInputBlur($event)"
                        (focus)="onTagKeyInputFocus()"
                        #tagKeyInput>
                    <span matPrefix>
                        <mat-icon fontSet="denali" fontIcon="d-add-circle"></mat-icon>
                    </span>
                </mat-form-field>
                <mat-autocomplete #widgetTagAuto="matAutocomplete" (optionSelected)="tagKeyOptionSelected($event)">
                    <mat-option *ngFor="let option of widgetTagOptions()" [value]="option">{{option}}</mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>
    <div class="config-control inline-controls" [ngStyle]="{ 'pointer-events': isDataLoaded ? 'initial' : 'none', 'opacity': isDataLoaded ? 1 : .5}">
        <label class="fixed-label">
            <strong>Display</strong>
        </label>
        <div class="form-field-group">
            <!-- DISPLAY OPTIONS HERE -->
            <!--<div class="display-as-type">
                <mat-form-field appearance="fill" >
                    <mat-select [value]="FC_layout.value" (selectionChange)="selectLayoutTypeChange($event)">
                        <mat-option *ngFor="let layoutOption of layoutPresetOptions" [value]="layoutOption.value">
                        {{layoutOption.label}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="FC_layout.hasError('required')">Please choose a display type</mat-error>
                </mat-form-field>
            </div>-->
            <div class="grid-options" formGroupName="gridOptions">
                <!--<div class="radio-row">
                    <mat-radio-group>
                        <mat-radio-button 
                            value="fit"
                            [checked]="FC_gridOpts_viewportDisplay.value === 'fit'"
                            (change)="setViewportDisplayMode($event)"></mat-radio-button>
                    </mat-radio-group>
                    <div class="radio-inline-label">
                        <span>Optimize for widget viewport</span>
                    </div>
                </div>-->
                <!-- grid graph size options -->
                <div class="radio-row" *ngIf="FC_layout.value === 'grid'">
                    <!--<mat-radio-group>
                        <mat-radio-button
                            value="custom"
                            [checked]="FC_gridOpts_viewportDisplay.value === 'custom'"
                            (change)="setViewportDisplayMode($event)"></mat-radio-button>
                    </mat-radio-group>-->
                    <div class="radio-inline-label" formGroupName="custom">
                        <mat-form-field appearance="fill" class="numeric-options">
                            <mat-select
                                [value]="FC_gridOpts_custom_x.value" 
                                (selectionChange)="selectCustomRows($event)"
                                required>
                                <mat-option *ngFor="let option of customPresetValues" [value]="option">
                                {{option}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="FC_gridOpts_custom_x.hasError('required')">Please choose a number of rows</mat-error>
                        </mat-form-field>
                        <span>rows and</span>
                        <mat-form-field appearance="fill" class="numeric-options">
                            <mat-select 
                                [value]="FC_gridOpts_custom_y.value" 
                                (selectionChange)="selectCustomColumns($event)"
                                required>
                                <mat-option *ngFor="let option of customPresetValues" [value]="option">
                                {{option}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="FC_gridOpts_custom_y.hasError('required')">Please choose a number of columns</mat-error>
                        </mat-form-field>
                        <span>columns within widget viewport</span>
                    </div>
                </div>
                <!-- freeflow graph size options -->
                <div class="radio-row" *ngIf="FC_layout.value === 'freeflow'">
                    <mat-radio-group>
                        <mat-radio-button
                            value="custom"
                            [checked]="FC_gridOpts_viewportDisplay.value === 'custom'"
                            (change)="setViewportDisplayMode($event)"></mat-radio-button>
                    </mat-radio-group>
                    <div class="radio-inline-label" formGroupName="custom">
                        <mat-form-field appearance="fill" class="numeric-options">
                            <mat-select 
                                [value]="FC_gridOpts_custom_y.value" 
                                (selectionChange)="selectCustomColumns($event)"
                                required>
                                <mat-option *ngFor="let option of customPresetValues" [value]="option">
                                {{option}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="FC_gridOpts_custom_y.hasError('required')">Please choose a number of columns</mat-error>
                        </mat-form-field>
                        <span>columns</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
