/* DBOARD-CONTEMT COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin dboard-content-component-base() {
    .app-dboard-content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        h1 {
            position: relative;
            flex: 0;
            font-size: 22px;
            padding: 0 20px;
            height: 50px;
            margin: 0;
        }

        .omnibar {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            flex: 0;
            width: 100%;
            overflow: hidden;
        }

        .toolbar {
            position: relative;
            padding-left: 10px;
        }

        .widgetbar {
            position: relative;
            padding: 10px 0;
            width: 275px;
        }

        .main-content {
            //width: 100%;
            flex: 1 0px;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

        .dashboard {
            //flex: 1 1 auto;
            //overflow: auto; --> disbable x scrolling
            width: 100%;
        }

        .gridster-stage {
            .is-scroller {
                //@include is-scroller();
                padding: 10px;
            }
        }

        .edit-view-container {
            &.is-active {
                &,
                .widget-panel-content {
                    flex: 1 1 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

    }

    
}

@mixin dboard-content-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    /*.app-dboard-content {

    }*/

    
}
