<div class="edit-view-container" [ngClass]="{'is-active': viewEditMode}">
    <span widget-view-container></span>
</div>

<div class="gridster-stage has-scroller" fxFlex="1 1 {{viewEditMode ? '1px' : '100%'}}" [style.visibility]="viewEditMode ? 'hidden' : 'visible'">
    <div class="is-scroller">
        <ngx-gridster #gridster class="dashboard"
            [options]="gridsterOptions"
            (optionsChange)="breakpointChange($event)"
            (reflow)="gridsterFlow($event)"
            [draggableOptions]="{ handlerClass: 'panel-heading' }">

            <ngx-gridster-item #itemComp class="gridster-item prevent-animation" id="{{widget.id}}"
                *ngFor="let widget of widgets; let idx = index; trackBy: trackByWidget"
                [(x)]="widget.gridPos.x"
                [(y)]="widget.gridPos.y"
                [(xMd)]="widget.gridPos.xMd" [(xSm)]="widget.gridPos.xSm"
                [(yMd)]="widget.gridPos.yMd" [(ySm)]="widget.gridPos.ySm"
                [(wMd)]="widget.gridPos.wMd" [wSm]="widget.gridPos.wSm"
                [(hMd)]="widget.gridPos.hMd" [hSm]="widget.gridPos.hSm"
                [(w)]="widget.gridPos.w"
                [(h)]="widget.gridPos.h"
                (end)="gridEventEnd($event)">
              <app-widget-loader
                (editComponent)="editComponent($event)"
                [batchSelector]="batchControlsToggle"
                [batchSelected]="batchSelectedItems[widget.id]"
                [widget]="widget"></app-widget-loader>
            </ngx-gridster-item>
        </ngx-gridster>
    </div>
</div>
