@mixin data-tooltip-component-base() {
    .data-tooltip {
        position: absolute;
        z-index: 10000;
        display: block;
        /* transform will be used by script to move element */
        transform-style: preserve-3d;
        backface-visibility: hidden;
        // transition:transform 0.2s cubic-bezier(.02,1.23,.79,1.08);

        &.hidden {
            display: none;
        }

        &.move-position-strategy {
            .tooltip-output {
                position: absolute;
                background: chartreuse;
                padding: 8px;
                border-radius: 4px;
                white-space: nowrap;
                word-break: unset;
                @include mat-elevation(2);

                &.shift-below {
                    top: calc(100% + 8px);
                }

                &.shift-above {
                    bottom: calc(100% + 8px);
                }

                &.shift-left {
                    right: calc(100% + 8px);
                }

                &.shift-right {
                    left: calc(100% + 8px);
                }
            }
        }

        &.sticky-position-strategy {
            .tooltip-output {
                position: absolute;
                background: rgba(0,0,0,.85);
                padding: 8px;
                border-radius: 4px;
                white-space: nowrap;
                word-break: unset;
                min-width: 100%;
                //@include mat-elevation(2);

                &.shift-below {
                    top: 100%;

                    &.shift-left {
                        border-top-right-radius: 0;

                        &:not(.is-wider) {
                            border-top-left-radius: 0;
                        }
                    }

                    &.shift-right {
                        border-top-left-radius: 0;

                        &:not(.is-wider) {
                            border-top-right-radius: 0;
                        }
                    }
                }

                &.shift-above {
                    bottom: 100%;

                    &.shift-left {
                        border-bottom-right-radius: 0;

                        &:not(.is-wider) {
                            border-bottom-left-radius: 0;
                        }
                    }

                    &.shift-right {
                        border-bottom-left-radius: 0;

                        &:not(.is-wider) {
                            border-bottom-right-radius: 0;
                        }
                    }
                }

                &.shift-left {
                    right: 0;
                }

                &.shift-right {
                    left: 0;
                }
            }
        }

    }
}

@mixin data-tooltip-component-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    .data-tooltip {

    }
}
