@use '~@angular/material' as mat;
@mixin alert-details-component-theme() {

    $cssVarMap: get-theme-css-variables($theme-name);

    .alert-details-component {

        .alert-configuration-wrapper {
            .mat-card-header {
                .mat-toolbar {

                    .close-dialog-wrapper {
                        border-left: 1px solid mat-get-color-from-palette($background, card, 0.5);
                    }

                    .close-dialog {
                        color: mat-get-color-from-palette($background, card);
                    }
                }
            }

            .mat-card-content {
                background-color: mat-get-color-from-palette($background, background);
            }

            .mat-card-actions {
                border-top: 1px solid mat-get-color-from-palette($foreground, divider);
            }

        }

        .alert-status-bar {
            background-color: mat-get-color-from-palette($background, card);
        }

        .alert-status {
            .messaging-bar {
                .mat-slide-toggle {
                    background-color: rgba($white, 0.8);
                }
            }
        }

        .preview-wrapper {
            .graph-wrapper {
                background-color: mat-get-color-from-palette($background, card);
                border: 1px solid mat-get-color-from-palette($foreground, divider);

                //.graph-output { }
            }

            .legend-wrapper {
                border-left: 1px solid mat-get-color-from-palette($foreground, divider);
            }
        }

        .edit-link {
            color: mat-get-color-from-palette($foreground, link);
            background: none;
        }

        .config-toolbar.mat-toolbar {
            background: transparent;
            border-bottom: 1px solid mat-get-color-from-palette($foreground, divider);

            .alert-history-link a {
                color: mat-get-color-from-palette($foreground, link);
            }
        }

        .controls-wrapper {
            background-color: mat-get-color-from-palette($background, card);
            border-top: 1px solid mat-get-color-from-palette($foreground, divider);
            //border-top-left-radius: 16px;
            //border-top-right-radius: 16px;

            .form-group {
                .form-label {
                    .indicator-square {
                        &.is-bad {
                            background-color: mat-get-color-from-palette($other, status-error);
                        }
                        &.is-warning {
                            background-color: mat-get-color-from-palette($other, status-warning);
                        }
                        &.is-good {
                            background-color: mat-get-color-from-palette($other, status-success);
                        }
                    }
                }
            }

            .step-section {
                .step-section-label {
                    border-top: 1px solid mat-get-color-from-palette($foreground, divider);

                    .step-section-label-text {
                        color: if($is-dark, mat-get-color-from-palette($foreground, navbar-text), mat-get-color-from-palette($background, navbar));
                        background-color: if($is-dark, mat-get-color-from-palette($foreground, navbar-text, 0.15), mat-get-color-from-palette($background, navbar, 0.15));
                        border-bottom-right-radius: 20px 24px;
                    }
                }

                .created-by,
                .updated-by {
                    color: mat-get-color-from-palette($foreground, text);
                }
            }
        }

        .threshold-type-toggle-options {

            &.mat-tab-nav-bar {
                a.mat-tab-link.mat-tab-label-active {
                    color: $white;
                }

                .mat-ink-bar {
                    background-color: mat-get-color-from-palette($foreground, link);
                }
            }

        }

        .show-advanced-threshold-toggle {

            a.toggle-action {
                color: mat-get-color-from-palette($foreground, link);

                .mat-icon {
                    color: mat-get-color-from-palette($foreground, link);
                }
            }

            .form-group:first-of-type {
                margin-top: 16px;
            }
        }

        .notify-when-options {
            flex-wrap: wrap;
            .mat-pseudo-checkbox {
                color: mat-get-color-from-palette($primary, default);
            }

            .mat-pseudo-checkbox-checked {
                background: mat-get-color-from-palette($primary, default);
            }
        }

        dropdown-metric-tags {
            background: mat-get-color-from-palette($primary, default, 0.08);
        }

        // dygraph tooltip

        // hacky way to get the current theming to work with variables
        // TODO: rework all this color manipulation into the theme
        $dygraph-tooltip-bg: if(
            $is-dark,
            mat-get-color-from-palette($background, menu),
            #f0f0f0 // TODO: plug into theme
        );

        $menu-color: _mat-convert-variable-to-color(map-get($background, menu), $cssVarMap);

        $dygraph-tooltip-border: if(
            $is-dark,
            lighten($menu-color, 10%),
            #cccccc
        );

        .dygraph-legend {

            background: $dygraph-tooltip-bg;
            border: 1px solid $dygraph-tooltip-border;

        }

        .app-resizeable {

            &::after {
                // content is denali icon drag-handle
                content: '\ebab';

                background-color: if(
                    $is-dark,
                    rgba(0, 191, 255, 0.3), // TODO: plug this into theme
                    mat-get-color-from-palette($background, card)
                );

                color: mat-get-color-from-palette($foreground, text);
                border: 1px solid mat-get-color-from-palette($foreground, text, .3);

            }

            box-shadow: inset 0px -2px 1px -1px mat-get-color-from-palette($foreground, text, .3);
        }
    }
}
