@mixin alert-details-component-base() {

    .alert-details-component {
        display: flex;
        flex: 1;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;

        .invisible {
            display: none;
        }

        .dygraph-label,
        .dygraph-axis-label {
            color: slategrey;
            font-size: 12px;
            // font-family: Monaco, monospace;
            font-family: Helvetica Neue, Helvetica;
        }

        // top level wrapper - basically .mat-card
        .alert-configuration-wrapper {
            border-radius: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            max-height: 100%;
            max-width: 100%;

            .mat-card-header {
                &,
                .mat-toolbar {
                    height: 48px;
                    padding-right: 0;

                    .close-dialog {
                        transform: scaleX(-1);
                    }
                }
            }

            .mat-card-header-text {
                display: none;
            }

            .mat-card-content {
                padding: 0;
                flex: 1;
                margin-bottom: 0;
                max-height: 100%;
                max-width: 100%;
            }

            .mat-card-actions {
                padding: 0 16px;
                max-width: 100%;
                width: 100%;
                height: 60px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                display: flex;
                align-items: center;

                &:last-child {
                    margin-bottom: 0;
                }

                .mat-button,
                .mat-flat-button,
                .mat-stroked-button {
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
                }
            }

            .error {
                color:red; // why is color here??
                height: 30px;
                text-align:center;
                padding: 2px;
            }
        }

        // content area wrapper
        .mat-card-content {
            display: flex;
            flex-direction: column;
        }

        // preview area - graph and legend
        .preview-wrapper {
            padding: 0px;
            height: 180px;
            display: none;
            flex-direction: row;
            max-height: 100%;
            max-width: 100%;
            flex: 1 1 180px;

            .graph-wrapper,
            .legend-wrapper {
                flex: 1;
                display: flex;
            }

            &.is-visible {
                display: flex;
            }

            .graph-wrapper {
                position: relative;
                padding-top: 5px;
                .graph-output {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .chart {
                        display: flex;
                        flex: 1;
                    }
                }

                .loading-spinner {
                    position: absolute;
                    left: 10px;
                    bottom: 5px;
                    z-index: 1;
                    /*width: 24px;
                    height: 24px;
                    background-image: url(/assets/denali-loader.svg);
                    background-color: transparent;*/
                }

                .error{
                    position: absolute;
                    left: 10px;
                    top: 50px;
                    z-index: 1;
                    width: 30px;
                    height: 30px;
                    color: red; // why is color here??
                }
            }

            .legend-wrapper {
                margin-left: 16px;
            }

            event-list {
                width: 100%;
            }
        }

        // config toolbar
        .config-toolbar.mat-toolbar {
            background: transparent;
            height: 70x;
            line-height: 1;

            .toolbar-item {
                display: flex;
            }

            .alert-name-detail {
                flex-direction: column;

                .namespace {
                    font-weight: 200;
                    font-size: 12px;
                    opacity: .4;
                    margin-bottom: 5px;
                }

                .alert-name {
                    .mat-icon-button {
                        margin-left: 12px;
                        width: 18px;
                        height: 18px;
                        line-height: 1;

                        .mat-icon {
                            width: 12px;
                            height: 12px;
                            font-size: 12px;
                            line-height: 6px;
                        }
                    }
                    .mat-form-field-infix {
                        width: 500px;
                    }
                }

                .edit-link {
                    font-size: 12px;
                    line-height: 12px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    text-decoration: underline;
                    margin-left: 5px;
                }

                .splunk-link {
                    padding-top: 8px;
                    font-size: 12px;

                }
            }
        }

        // configuration area - config controls
        .controls-wrapper {
            padding: 0;
            flex: 1 1 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            max-height: 100%;
            max-width: 100%;

            .alert-control-steps {
                padding: 8px 0 0;
                flex: 1;
                overflow: auto;
                max-height: 100%;
                max-width: 100%;
            }

            .query-metric-row.read-only * {
                cursor: default;

                .query-metric-table.mat-table {
                    cursor: default;
                }
            }

            .infectious-nan {
                margin-left: 15px;
            }

            .step-section {
                margin-bottom: 8px;
                display: none;

                .step-section-label {
                    border-top: 1px solid #E0E0E0; // why is color here??

                    .step-section-label-text {
                        display: inline-block;
                        padding: 2px 24px 2px 8px;
                        background-color: #E0E0E0; // why is color here???
                        border-bottom-right-radius: 20px 24px;
                    }
                }

                .step-section-content {
                    padding: 8px;
                    max-width: 100vw;
                }

                .created-by,
                .updated-by {
                    margin: 5px 15px;
                    font-size: 10px;
                    // color: #333333; /// WHY IS THERE COLORS HERE??????????
                }

                &.is-visible {
                    display: block;
                }
            }

            // form stuff
            .form-group {
                display: flex;
                align-items: flex-start;

                &:not(:last-child),
                &:not(.select-threshold-type) {
                    margin-bottom: 12px;
                }

                .form-label,
                .toggle-wrap {
                    height: 32px;
                    width: 180px;
                    min-width: 180px;
                    margin-right: 16px;
                    line-height: 1.2;
                    text-align: right;
                    font-size: 12px;

                    &.vertical-center {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    .indicator-square {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 6px;
                    }
                }

                &.sliding-window {
                    display: flex;
                    flex: 1;

                    .sentence-item {
                        display: inline-flex;
                        align-items: center;
                        height: 36px;

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        &.threshold {
                            position: relative;
                            .mat-form-field {
                                width: 70px;
                            }
                            .mat-error {
                                position: absolute;
                                top: 100%;
                                white-space: nowrap;
                            }
                        }
                    }
                    .is-fullwindow {
                        margin: 8px 0px;
                    }
                    .reporting-interval {
                        margin: 8px 0px;
                        .mat-form-field-infix {
                            width: 100px;
                        }
                    }
                }

                &.alert-message {
                    .message-subject-body {
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .mat-form-field {
                            width: 80%;
                            min-width: 320px;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }

                            textarea {
                                min-height: 100px;
                            }
                        }
                    }
                }

                &.alert-grouping-rules,
                &.alert-recipients,
                &.alert-labels {
                    .mat-form-field {
                        width: 100%;
                        max-width: 60%;
                    }
                }

                .form-control-wrap {
                    width: 100%;
                    max-width: 60%;
                    display: flex;
                    flex-direction: column;

                    &.auto-width {
                        width: initial;
                        max-width: initial;
                    }
                }

                &.alert-grouping-rules {
                    margin-top: 24px;
                    .alert-metric-tag-dropdown-wrapper-empty {
                        line-height: 32px;
                    }

                    .alert-metric-tag-dropdown-wrapper {
                        display: flex;
                        align-items: stretch;
                        height: 32px;
                        min-width: 200px;
                        border-radius: 2px;
                        .dropdown-metric-tags {
                            button {
                                width: 100%;
                            }
                            .button-label {
                                flex: 1;
                                div:first-child {
                                    display: inline-flex;
                                    color: rgba(0, 0, 0, 0.87); // why is color here??
                                    font-weight: 400;
                                    flex: 1;
                                    justify-content: flex-start;
                                }
                            }
                        }
                    }
                }

                .tier-info,
                .severity-info {
                    margin-left: 10px;
                    font-size: 12px;
                    line-height: 26px;
                    .mat-icon {
                        font-size: 12px;
                        width: 12px;
                    }
                }

            }

            &.read-only-mode {

                .form-control-wrap,
                .threshold-type-options,
                .recovery-option,
                .sentence-item,
                .delay-evaluation .delay-time,
                .recipient-type-output > strong,
                .message-subject-body > div,
                .alert-oc-runbookid,
                .alert-oc-severity,
                .alert-oc-tier,
                .alert-labels {
                    line-height: 32px;
                }

                .sentence-item {
                    height: 32px;
                }

                .nag-interval-item,
                .missing-data-item {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .threshold-type-toggle-options {
            a.mat-tab-link:not(:last-of-type) {
                margin-right: 10px;
            }

        }

        .threshold-type-options {
            display: flex;
            flex-direction: column;

            .mat-hint {
                margin-top: 8px;
            }
        }

        .recovery-options {
            .recovery-option {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                .mat-form-field {
                    margin-left: 16px;
                }
            }
        }

        .notify-when-options {
            display: flex;
            padding-top: 0;
            outline: 0;

            .mat-list-item.mat-list-option {
                height: 32px;
                max-width: 180px;

                .mat-list-item-content {
                    flex-direction: row;
                    height: 32px;
                    font-size: 14px;

                    .mat-list-text {
                        padding-left: 10px;
                        padding-right: 0;
                        white-space: nowrap;
                    }
                }

                &.mat-list-item-disabled {
                    filter: grayscale(100%);
                    opacity: .3;
                    outline: none;
                    pointer-events: none;
                    background-color: transparent;
                }
            }

            .mat-pseudo-checkbox-checked::after {
                top: calc(50% - 3.6px);
                left: calc(50% - 5px);
                width: 10px;
                height: 5px;
            }
        }

        .show-advanced-threshold-toggle {
            width: 100%;
            display: flex;
            flex-direction: column;

            a.toggle-action {
                height: 32px;
                display: inline-flex;
                align-self: flex-start;
                align-items: center;
                font-size: 12px;
                cursor: pointer;

                .mat-icon {
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                }

                .mat-icon:first-child {
                    margin-right: 8px;
                }
            }

            .form-group {
                display: none;
            }

            &.is-open {
                .form-group {
                    display: flex;
                }
            }
        }

        .info-hint {
            height: 32px;
            display: inline-flex;
            align-items: center;
            font-size: 10px;
            margin-left: 8px;

            .mat-icon {
                font-size: 16px;
                width: 16px;
                height: 16px;

                &:first-child {
                    margin-right: 6px;
                }
            }
        }


        // conditional form options

        .oc-specific-fields,
        .ops-genie-specific-fields {
            .mat-divider {
                margin: auto 16px;
                width: calc(100% - 32px);
            }
        }

        .tier-type-options,
        .severity-type-options,
        .priority-type-options {
            height: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        // dygraph tooltip
        .dygraph-legend {
            display: none;
            z-index: 1000;
            // margin-top:15px;
            //background: #f0f0f0;
            //border: 1px solid #cccccc;
            padding: 4px;
            min-width:250px;
            width: 300px;
            position: absolute;
            border-radius: 5px;
            font-size: 12px;
            font-family: Monaco, monospace;
            // font-family: Helvetica Neue, Helvetica;
        }
    }
}

@mixin alert-details-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $status: map-get($theme-config, status);
    $is-dark: map-get($theme-config, is-dark);

    $link-color: map-get($foreground, link);
    $divider-color: map-get($foreground, divider);

    $brand-color: map-get($background, navbar);
    $brand-color-inverse: map-get($foreground, navbar-text);

    $card: map-get($background, card);

    $dygraph-tooltip-bg: if($is-dark, map-get($background, menu), #f0f0f0);
    $dygraph-tooltip-border: if($is-dark, lighten(map-get($background, menu), 10%) , #cccccc);

    $text-color: map-get($foreground, text);

    .alert-details-component {

        .alert-configuration-wrapper {

            .mat-card-header {
                .mat-toolbar {

                    .close-dialog-wrapper {
                        border-left: 1px solid rgba($card, 0.5);
                    }

                    .close-dialog {
                        color: $card;
                    }
                }
            }

            .mat-card-content {
                background-color: map-get($background, background);

                 // white background for alert preview
                 /* NO
                 >.ng-star-inserted {
                    background: white;
                }*/
            }

            .mat-card-actions {
                border-top: 1px solid $divider-color;
            }
        }

        .preview-wrapper {
            .graph-wrapper {
                background-color: $card;
                border: 1px solid $divider-color;

                //.graph-output { }
            }
        }

        .edit-link {
            color:#448aff;
            background: none;
        }

        .config-toolbar.mat-toolbar {
            background: transparent;
            border-bottom: 1px solid $divider-color;

            .splunk-link a {
                color: map-get($foreground, link);
            }
        }

        .controls-wrapper {
            background-color: $card;
            border-top: 1px solid $divider-color;
            //border-top-left-radius: 16px;
            //border-top-right-radius: 16px;

            .form-group {
                .form-label {
                    .indicator-square {
                        &.is-bad {
                            background-color: map-get($status, error);
                        }
                        &.is-warning {
                            background-color: map-get($status, warning);
                        }
                        &.is-good {
                            background-color: map-get($status, success);
                        }
                    }
                }
            }

            .step-section {
                .step-section-label {
                    border-top: 1px solid $divider-color;

                    .step-section-label-text {
                        color: if($is-dark, $brand-color-inverse, $brand-color);
                        background-color: if($is-dark, rgba($brand-color-inverse, 0.15), rgba($brand-color, 0.15));
                        border-bottom-right-radius: 20px 24px;
                    }
                }

                .created-by,
                .updated-by {
                    color: $text-color;
                }
            }
        }

        .threshold-type-toggle-options {

            &.mat-tab-nav-bar {
                a.mat-tab-link.mat-tab-label-active {
                    color: #ffffff;
                }

                .mat-ink-bar {
                    background-color: $link-color;
                }
            }

        }

        .show-advanced-threshold-toggle {

            a.toggle-action {
                color: $link-color;

                .mat-icon {
                    color: $link-color;
                }
            }

            .form-group:first-of-type {
                margin-top: 16px;
            }
        }

        .notify-when-options {
            flex-wrap: wrap;
            .mat-pseudo-checkbox {
                color: map-get($primary, default);
            }

            .mat-pseudo-checkbox-checked {
                background: map-get($primary, default);
            }
        }

        dropdown-metric-tags {
            background: rgba(map-get($primary, default), 0.08);
        }

        // dygraph tooltip
        .dygraph-legend {

            background: $dygraph-tooltip-bg;
            border: 1px solid $dygraph-tooltip-border;

        }
    }
}
