@mixin admin-config-metric-host-component-theme() {
    .app-admin-config-metric-host {
        .host-display-wrap {
            &:hover {
                background-color: mat-color($background, menu);
            }
        }

        .host-display-edit-wrap {
            background: mat-color($background, menu);

            .actions {
                .mat-flat-button.apply {
                    background-color: mat-color($success, default);
                    color: mat-color($success, default-contrast);
                }

                .mat-flat-button.cancel {
                    background-color: mat-color($primary, default);
                    color: mat-color($primary, default-contrast);
                }

                .mat-flat-button.delete {
                    background-color: mat-color($danger, default);
                    color: mat-color($danger, default-contrast);
                }
            }
        }

        &.editing-mode {
            .delete-confirm {
                background: mat-color($background, menu);
                box-shadow: inset 0 0 0 5px mat-color($other, status-warning);
                color: mat-color($foreground, text);
            }
        }
    }
}
