@use '~@angular/material' as mat;
@mixin admin-config-metric-host-component-theme() {
    .app-admin-config-metric-host {
        .host-display-wrap {
            &:hover {
                background-color: mat.get-color-from-palette($background, menu);
            }
        }

        .host-display-edit-wrap {
            background: mat.get-color-from-palette($background, menu);

            .actions {
                .mat-flat-button.apply {
                    background-color: mat.get-color-from-palette($success, default);
                    color: mat.get-color-from-palette($success, default-contrast);
                }

                .mat-flat-button.cancel {
                    background-color: mat.get-color-from-palette($primary, default);
                    color: mat.get-color-from-palette($primary, default-contrast);
                }

                .mat-flat-button.delete {
                    background-color: mat.get-color-from-palette($danger, default);
                    color: mat.get-color-from-palette($danger, default-contrast);
                }
            }
        }

        &.editing-mode {
            .delete-confirm {
                background: mat.get-color-from-palette($background, menu);
                box-shadow: inset 0 0 0 5px mat.get-color-from-palette($other, status-warning);
                color: mat.get-color-from-palette($foreground, text);
            }
        }
    }
}
