<div *ngIf="!editMode; else editMetricHostForm" class="host-display-wrap">
    <div class="metric-host">
        <span>{{host.value}}</span>
    </div>
    <div class="actions">
        <button mat-mini-fab color="primary" (click)="toggleEditMode()">
            <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
        </button>
    </div>
</div>
<ng-template #editMetricHostForm>
    <div class="host-display-edit-wrap">
        <div class="form-control-wrap auto-width">
            <mat-form-field appearance="fill" floatLabel="never"
                [ngClass]="{'mat-form-field-invalid': host.invalid}">
                <input matInput type="string" autocomplete="off" placeholder="Enter value"
                    oninput="this.parentNode.dataset.value = this.value"
                    [value]="hostValue"
                    [formControl]="host">
            </mat-form-field>
        </div>
        <div class="actions">
            <button mat-flat-button (click)="apply()" class="apply">Apply</button>
            <button mat-flat-button (click)="cancel()" class="cancel">Cancel</button>
            <span class="flex-spacer"></span>
            <button mat-flat-button color="warn" (click)="delete()" class="delete">Delete</button>
        </div>
    </div>
    <div class="delete-confirm" *ngIf="needDeleteConfirm">
        <span>Confirm host removal?</span>
        <button mat-flat-button color="warn" (click)="deleteConfirm()" class="confirm-delete">Yes</button>
        <button mat-flat-button color="primary" (click)="deleteCancel()" class="cancel-delete">No</button>
    </div>
</ng-template>
