@mixin settings-theme-component-theme() {
    // * THEME VARIANTS
    $bg-menu: map-get($background, card);

    //:host.settings-theme {}

    // cdk items
    .mat-menu-panel.settings-themepicker-menu {
        background-color: $bg-menu;
        @if $is-dark {
            border: 1px solid mat-color($foreground, divider);
            filter: brighten(1.08);
            * {
                filter: brighten(1);
            }
        }
    }
}
