@import 'loader-base';

:host.settings-theme {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    .mat-flat-button.menu-trigger {
        margin-top: 6px;

        ::ng-deep .mat-button-wrapper {
            display: flex;
            align-items: center;

            > span {
                flex: 1;
                text-align: left;
            }
        }

        .mat-icon {
            @include sizeDenaliIcon(16px);
            margin-left: 16px;
        }
    }
}

// cdk items
@at-root ::ng-deep {
    .mat-menu-panel.settings-themepicker-menu {
        max-width: 268px;
        min-width: 268px;

        .mat-menu-item {
            line-height: 32px;
            height: 32px;
        }

        .mat-menu-item.is-active {
            display: flex;
            align-items: center;
            padding-right: 0;
        }
    }
}

//* THEMING **/
@each $theme-name, $theme-config in $app-available-themes {

    //* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $divider: map-get($foreground, divider);

    $cdk-menu-bg: map-get($background, menu);
    $cdk-menu-border: $divider;

    /* [[  THEME  ]] (#{$theme-name}) - Settings Theme Panel component  */
    @at-root [theme='#{$theme-name}'] {
        //:host.settings-theme {}

        // cdk items
        ::ng-deep {
            .mat-menu-panel.settings-themepicker-menu {
                background-color: if($is-dark-theme, lighten($cdk-menu-bg, 8%), $cdk-menu-bg);
                @if $is-dark-theme {
                    border: 1px solid $cdk-menu-border;
                }
            }
        }
    }
}
