@mixin alert-details-count-component-theme() {

    .alert-details-count {

        .mat-table {
            box-shadow: none;
            border-left: solid 1px lightgray; // TODO: plug into theme
            border-right: solid 1px lightgray; // TODO: plug into theme
        }

        .mat-header-row {
            border-bottom: none;
        }

        .cdk-column-good {
            .count-amount {
                background-color: mat-color($other, status-success);
            }
        }

        .cdk-column-bad {
            .count-amount {
                background-color: mat-color($other, status-error);
            }
        }

        .cdk-column-warn {
            .count-amount {
                background-color: mat-color($other, status-warning);
            }
        }

        .cdk-column-unknown {
            .count-amount {
                background-color: map-get($denali-grey, 400); // TODO: plug into theme
            }
        }

        .cdk-column-missing {
            .count-amount {
                background-color: map-get($denali-blue, 400); // TODO: plug into theme
            }
        }

        .cdk-column-bad,
        .cdk-column-warn,
        .cdk-column-good,
        .cdk-column-unknown,
        .cdk-column-missing,
        .cdk-column-snoozed {
            .count-empty {
                color: if(
                    $is-dark,
                    rgba($white, .25),
                    rgba($black, .25)
                );
            }
        }
    }
}
