<div class="query-metrics-section">
    <div class="query-metrics-wrap" [ngClass]="{'is-editing-metric': queryEditMode}">
        <mat-accordion class="query-group-list mat-elevation-z0" #queriesContainer [ngClass]="{'items-selected': selectAllToggle !== 'none'}" displayMode="flat" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel 
            cdkDropList 
            (cdkDropListDropped)="dropTable($event)" 
            class="query-group-item mat-elevation-z0" [hideToggle]="true" [disabled]="true" [expanded]="true">
                <div class="query-metric-row"  *ngFor="let query of widget.queries; let index=index" previewClass="cdk-drag-preview" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnd($event)">
                    <query-editor-proto  [label]="'Q' + (index + 1)" [query]="query" [queries]="widget.queries" [widget]="widget"  
                    [options]="{toggleQuery: options.enableMultipleQueries,
                        enableAlias: options.enableAlias,
                        cloneQuery: options.enableMultipleQueries,
                        deleteQuery: options.enableMultipleQueries,
                        enableSummarizer: options.enableSummarizer,
                        enableMultiMetricSelection: options.enableMultiMetricSelection,
                        enableGroupBy: options.enableGroupBy }" (queryOutput)="handleQueryRequest($event);"
                        [tplVariables]="tplVariables"
                        [type]="widget.settings.component_type"></query-editor-proto>
                </div>
                <div class="query-metric-row" *ngIf="hasExpression">
                    <span class="infectious-nan"><mat-checkbox (click)="$event.stopPropagation();" [checked]="widget.queries[0].settings.infectiousNan" (change)="toggleInfectiousNan($event.checked)">Do not evaluate expressions if a value is missing</mat-checkbox></span>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="query-metric-row" *ngIf="widget.queries.length && widget.queries[widget.queries.length-1].metrics.length && !queryEditMode && options.enableMultipleQueries" style="margin-top:25p;">
            <button class="add-new-query-button" mat-button mat-primary color="primary" (click)="addNewQuery()">
                <mat-icon fontSet="denali" fontIcon="d-add-square-solid"></mat-icon>
                <span>Query</span>
            </button>
        </div>
    </div>
</div>
