<div class="query-metrics-section">
    <div class="query-metrics-wrap" [ngClass]="{'is-editing-metric': queryEditMode}">
        <mat-accordion class="query-group-list mat-elevation-z0" [ngClass]="{'items-selected': selectAllToggle !== 'none'}" displayMode="flat" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel class="query-group-item mat-elevation-z0" [hideToggle]="true" [disabled]="true" [expanded]="true">
                <div class="query-metric-row" *ngFor="let query of widget.queries; let index=index">
                    <query-editor-proto  [label]="'Q' + (index + 1)" [query]="query" [queries]="widget.queries" [widget]="widget"
                    [options]="{toggleQuery: options.enableMultipleQueries,
                        enableAlias: options.enableAlias,
                        cloneQuery: options.enableMultipleQueries, 
                        deleteQuery: options.enableMultipleQueries, 
                        enableSummarizer: options.enableSummarizer, 
                        enableMultiMetricSelection: options.enableMultiMetricSelection,
                        enableGroupBy: options.enableGroupBy }" (queryOutput)="handleQueryRequest($event);"
                        [tplVariables]="tplVariables"
                        [type]="widget.settings.component_type"></query-editor-proto>
                </div>
                <div class="query-metric-row" *ngIf="widget.queries.length && widget.queries[widget.queries.length-1].metrics.length && !queryEditMode && options.enableMultipleQueries" style="margin-top:25p;">
                    <button mat-button mat-primary color="primary" (click)="addNewQuery()">Add Query</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>