@use '@angular/material' as mat;
@mixin simple-favorites-list-component-theme() {
    $row-hover-bg: if(
        $is-dark,
        mat-get-color-from-palette($primary, 50, .05),
        mat-get-color-from-palette($primary, 50)
    );

    $table-header-bg: if(
        $is-dark,
        mat-get-color-from-palette($foreground, divider, .15),
        mat-get-color-from-palette($foreground, divider)
    );

    .widget-panel-content.simple-favorites-list {
        .mat-table {
            tr.mat-header-row {
                background: $table-header-bg;
            }

            tr.mat-row {
                &:hover {
                    background-color: $row-hover-bg;
                }
            }

            td.mat-cell {

                .fav-labels {

                    .dashboard-name {
                        color: mat-get-color-from-palette($foreground, link);
                    }

                    .root-path,
                    .fav-date {
                        color: mat-get-color-from-palette($foreground, text, .7);
                    }
                }
            }
        }
    }
}
