@mixin simple-favorites-list-component-base() {
    .widget-panel-content.simple-favorites-list {
        .has-scroller {
            flex: 1;
            max-width: 100%;
            max-height: 100%;

            .is-scroller {
                padding: 0;
            }
        }

        .mat-table {
            @include mat-elevation(0);
            width: 100%;

            tr.mat-header-row {
                height: 32px;
            }

            td.mat-cell {
                cursor: pointer;

                &.mat-column-dashboard {
                    width: 100%;
                }

                &:first-of-type {
                    padding-right: 12px;
                }

                &:last-of-type {
                    white-space: nowrap;
                }

                .fav-labels {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: stretch;

                    .root-path,
                    .visited-date,
                    .visited-time {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@mixin simple-favorites-list-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $success: map-get($theme-config, success);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $row-bg: map-get($primary, 50);
    $text: map-get($foreground, text);
    $link: map-get($foreground, link);

    .widget-panel-content.simple-favorites-list {
        .mat-table {
            tr.mat-header-row {
                background: #f7f7f7;
            }

            tr.mat-row {
                &:hover {
                    background-color: $row-bg;
                }
            }

            td.mat-cell {

                .fav-labels {

                    .dashboard-name {
                        color: $link;
                    }

                    .root-path,
                    .fav-date {
                        color: lighten($text, 50%);
                    }
                }
            }
        }
    }
}
