@mixin graph-type-component-base() {
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    .graph-type {
        .widget-type-icon {
            width: 100%;
            line-height: 25px;
        }

        .mat-button-toggle-group{
            overflow: initial;

            .mat-button-toggle {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &::first-child {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                &::last-child {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }

            .mat-button-toggle-button {
                display: inline-flex;

                .mat-button-toggle-focus-overlay {
                    border-bottom: solid 25px;
                }
            }

            /*.mat-button-toggle-checked {
                box-shadow: inset 0 -2px 0 blue;
                background: white;
            }*/
        }

        .widget-type-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &::after {
                content: '';
                display: block;
                overflow: hidden;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: 100px; // four columns of icons * 25px = 00px
                background-image: url(/assets/widget-icon-sprite.png);
            }

            &.widget-icon-bar-graph::after {
                background-position: -25px 0px;
            }

            &.widget-icon-line-chart::after {
                background-position: -50px -25px
            }

            &.widget-icon-heatmap::after {
                background-position: -25px -25px
            }

            &.widget-icon-topn-chart::after {
                background-position: -75px -25px
            }

            &.widget-icon-big-number::after {
                background-position: -50px 0px;
            }

            &.widget-icon-donut-chart::after {
                background-position: 0px -25px;
            }
        }
    }
}

@mixin graph-type-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $status: map-get($theme-config, status);
    $is-dark: map-get($theme-config, is-dark);
    $chip-bg: rgba(map-get($primary, default), .1);
    $alias-bg: if($is-dark, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    $alias-text: if($is-dark, rgba(255, 255, 255, .5), rgba(0, 0, 0, .5));

    $widgets: map-get($theme-config, widgets);

    $card-background: map-get($background, card);
    $divider: map-get($foreground, divider);

    $query-marker-bg: map-get($widgets, query-editor-marker);
    $query-marker-text: map-get($widgets, query-editor-marker-text);
    $query-block-bg: map-get($widgets, query-editor-block-bg);
    $query-block-selected-border: map-get($widgets, query-editor-selected-border);

    $ink-bar-color: map-get($background, ink-bar);

    .graph-type {
        .mat-button-toggle-group{

            .mat-button-toggle-appearance-standard {


                &.mat-button-toggle-checked {
                    background: $card-background;
                    position: relative;

                    &::after {
                        // box-shadow: inset 0 -2px 0 $ink-bar-color;
                        //background: white;
                        content: '';
                        display: block;
                        height: 2px;
                        background-color: $ink-bar-color;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}
