$yahoo-sans-cond-typeface-config: (
    family: 'Yahoo Sans Cond',
    font-family: "'Yahoo Sans Cond', Helvetica, Arial, sans-serif",
    path: '/assets/fonts/Yahoo-Sans-Cond',
    fontweight-map: (
        light: 300,
        regular: 400,
        medium: 500,
        bold: 700,
        black: 900
    ),
    fonts: (
        light: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 300,
            style: normal,
            file-prefix: "YahooSansCond-Light"
        ),
        light-italic: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 300,
            style: italic,
            file-prefix: "YahooSansCond-LightItalic"
        ),
        regular: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 400,
            style: normal,
            file-prefix: "YahooSansCond-Regular"
        ),
        italic: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 400,
            style: italic,
            file-prefix: "YahooSansCond-RegularItalic"
        ),
        medium: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 500,
            style: normal,
            file-prefix: "YahooSansCond-Medium"
        ),
        medium-italic: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 500,
            style: italic,
            file-prefix: "YahooSansCond-MediumItalic"
        ),
        bold: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 700,
            style: normal,
            file-prefix: "YahooSansCond-Bold"
        ),
        bold-italic: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 700,
            style: italic,
            file-prefix: "YahooSansCond-BoldItalic"
        ),
        extra-bold: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 800,
            style: normal,
            file-prefix: "YahooSansCond-XBold"
        ),
        extra-bold-italic: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 800,
            style: italic,
            file-prefix: "YahooSansCond-XBoldItalic"
        ),
        black: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 900,
            style: normal,
            file-prefix: "YahooSansCond-Black"
        ),
        black-italic: (
            local: "Yahoo Sans Cond",
            local2: "Yahoo Sans Cond",
            weight: 900,
            style: italic,
            file-prefix: "YahooSansCond-BlackItalic"
        )
    )
);
