$yahoo-sans-typeface-config: (
    family: 'Yahoo Sans',
    font-family: "'Yahoo Sans', Helvetica, Arial, sans-serif",
    path: '/assets/fonts/Yahoo-Sans',
    fontweight-map: (
        extra-light: 200,
        light: 300,
        regular: 400,
        medium: 500,
        semi-bold: 600,
        bold: 700
    ),
    fonts: (
        extra-light: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 200,
            style: normal,
            file-prefix: "Yahoo Sans-ExtraLight"
        ),
        light: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 300,
            style: normal,
            file-prefix: "Yahoo Sans-Light"
        ),
        regular: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 400,
            style: normal,
            file-prefix: "Yahoo Sans-Regular"
        ),
        italic: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 400,
            style: italic,
            file-prefix: "Yahoo Sans-Italic"
        ),
        medium: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 500,
            style: normal,
            file-prefix: "Yahoo Sans-Medium"
        ),
        semi-bold: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 600,
            style: normal,
            file-prefix: "Yahoo Sans-Semibold"
        ),
        bold: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 700,
            style: normal,
            file-prefix: "Yahoo Sans-Bold"
        ),
        extra-bold: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 800,
            style: normal,
            file-prefix: "Yahoo Sans-ExtraBold"
        ),
        black: (
            local: "Yahoo Sans",
            local2: "Yahoo Sans",
            weight: 900,
            style: normal,
            file-prefix: "Yahoo Sans-Black"
        )
    )
);
