@use '~@angular/material' as mat;
@mixin theme-picker-component-theme() {

    //.nav-theme-picker { }

    // CDK items are outside of component namespace class - be sure to give them very unique names
    .nav-bar-dropmenu.nav-bar-themepicker-menu {

        // arrow
        &::after {
            border-color: rgba($white, 0);
            border-bottom-color: mat.get-color-from-palette($background, menu); // actual color of arrow
        }

        .mat-menu-item.is-active {
            .mat-icon {
                color: mat.get-color-from-palette($accent, A200);
            }
        }
    }
}
