/* THEME-PICKER COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin theme-picker-component-base() {
    .nav-theme-picker {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .mat-icon-button {
            width: 24px;
            height: 24px;
            line-height: 1;
        }
    }

    //cdk items
    .nav-bar-dropmenu.nav-bar-themepicker-menu {
        // arrow
        &::after {
            bottom: calc(100% - 3px);
            left: calc(100% - 12px);
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-width: 6px;
            margin-left: -6px;
        }
    }
}

@mixin theme-picker-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $success: map-get($theme-config, success);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    //.nav-theme-picker { }

    // CDK items are outside of component namespace class - be sure to give them very unique names
    .nav-bar-dropmenu.nav-bar-themepicker-menu {

        // arrow
        &::after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: map-get($background, menu); // actual color of arrow
        }

        .mat-menu-item.is-active {
            .mat-icon {
                color: map-get($accent, A200);
            }
        }
    }

}
