<button mat-icon-button [matMenuTriggerFor]="themeMenu" class="menu-trigger">
    <!--<mat-icon aria-label="Select Theme">format_color_fill</mat-icon>-->
    <mat-icon fontSet="denali" fontIcon="d-palette"></mat-icon>
</button>
<mat-menu #themeMenu="matMenu" [overlapTrigger]="false" class="nav-bar-dropmenu nav-bar-themepicker-menu">
  <button mat-menu-item *ngFor="let option of themeOptions" [ngClass]="{ 'is-active': option.value === theme }" (click)="selectTheme(option)">
      <mat-icon *ngIf="option.value === theme">check</mat-icon>
      <mat-icon *ngIf="option.value !== theme"></mat-icon>
      <span>{{option.label}}</span>
  </button>
</mat-menu>
