<div class="widget-output-container" #widgetOutputContainer fxLayout="column">
    <div class="widget-title" #widgetTitle *ngIf="editMode">
        <div class="title-label">
            <span class="navbar-item">Widget name:</span>
        </div>
        <span fxFlex="1 1 100%" fxLayout="row" class="title-content">
            <inline-editable class="navbar-item" [fieldValue]="widget.settings.title" [minLength]="3" [maxLength]="100"
                (updatedValue)="setTitle($event)">
            </inline-editable>
            <button mat-icon-button color="primary">
                <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
            </button>
        </span>
        <graph-type (change)="changeWidgetType($event)" selected="HeatmapWidgetComponent"></graph-type>
    </div>
    <div class="widget-output" #widgetoutput>    
        <div class="no-data" *ngIf="data.ts.length === 0"[style.minWidth.px]="size.width">
            <span>No Data Available</span>
        </div>    
        <div #dygraph *ngIf="data.ts.length > 0" class="graph-chart" dygraphsChart [chartType]="'heatmap'" [data]="data" [size]="size"
            [timeseriesLegend]="tsLegendOptions" (currentTickEvent)="timeseriesTickListener($event)"
            [options]="options">
        </div>
        <div class="dygraph-legend" #graphLegend></div>

        <!--<div class="loading-spinner size-s color-primary" *ngIf="nQueryDataLoading > 0"></div>-->
        <div class="gif-spinner" *ngIf="nQueryDataLoading > 0">
            <img src="/assets/spinner-26x26.gif" />
        </div>
        <div class="error" *ngIf="error" (click)="showError()">
            <mat-icon>error</mat-icon>
        </div>
        <div class="debug" *ngIf="debugData" (click)="showDebug()">
            <mat-icon>info</mat-icon> {{ this.widget.id }}
        </div>
    </div>

</div>
<!-- NOTE: This needs to move to other component -->
<div class="widget-controls-container" *ngIf="editMode">
    <div class="widget-control-steps has-scroller">
        <div class="is-scroller">
            <div class="step-section query-section is-visible" #stepqueries>
                <div class="step-section-label">
                    <span class="step-section-label-text"
                        (click)="toggleConfigSection('queries', $event);scrollToElement(stepqueries)">
                        <span>1. Queries </span>
                        <mat-icon fontSet="denali"
                            [fontIcon]="visibleSections.queries ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.queries">
                    <widget-config-metric-queries [widget]="widget"
                        [options]="{enableMultiMetricSelection: false, enableMultipleQueries:true}"
                        (widgetChange)="updateConfig($event);"></widget-config-metric-queries>
                </div>
            </div>
            <div class="step-section query-section is-visible" #steptime>
                <div class="step-section-label">
                    <span class="step-section-label-text"
                        (click)="toggleConfigSection('time', $event);scrollToElement(steptime);">
                        <span>2. Time Configuration </span>
                        <mat-icon fontSet="denali"
                            [fontIcon]="visibleSections.time ? 'd-arrowhead-down': 'd-arrowhead-right'"></mat-icon>
                    </span>
                </div>
                <div class="step-section-content" *ngIf="visibleSections.time">
                    <widget-config-time [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-time>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-actions">
        <!-- controls to save/cancel -->
        <button mat-raised-button color="primary" class="mat-elevation-z0" (click)="applyConfig()">Apply to
            Dashboard</button>
        <button mat-stroked-button color="primary" class="mat-elevation-z0"
            (click)="closeViewEditMode()">Cancel</button>
    </div>
</div>
