/**
 * OpenTSDB - HORIZON HELPER CLASSES
 */

.display-flex {
    display: flex;
}

.flex {
    flex: 1;
}

.flex-spacer {
    flex: 1 1 auto;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}



.can-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

// * Scroller
.has-scroller {
    @include has-scroller();
}

.is-scroller {
    @include is-scroller();
}

@-moz-document url-prefix() {
    .is-scroller {
        overflow: auto;
    }
}

// * Content Editable (Single Line)
[contenteditable="true"].is-single-line {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
}

[contenteditable="true"].is-single-line br {
    display: none;
}

[contenteditable="true"].is-single-line * {
    display: inline;
    white-space: nowrap;
}

// * graph colors
@each $name, $color in $graph-colors {
    $color-invert: find-color-invert($color);

    .graph-color-#{$name} {
        color: $color;
    }

    .graph-bgcolor-#{$name} {
        background-color: $color;
        color: $color-invert;
    }
}
