/**
 * OpenTSDB - HORIZON RESETS
 * ! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css
 */

// Blocks
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

// List
ul {
    list-style: none;
}

// Form
button,
input,
select,
textarea {
    margin: 0;
}

// Box sizing
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Media
audio,
embed,
img,
object,
video {
    max-width: 100%;
}

// Iframe
iframe {
    border: 0;
}

// Table
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

////// GENERIC //////
html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    overflow: hidden;
    /*
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    */
}
