//**
//* YAMAS - HORIZON THEMING
//*/

// IMPORT THEME CONFIGS
@import 'themes/dark-theme';
@import 'themes/light-theme';
@import 'themes/developing-theme';

// DEFINE THEME MAP
$app-available-themes: (
    developing: $developing-theme,
    light: $light-theme,
    dark: $dark-theme
);
