<div class="has-scroller" [formGroup]="adminConfigForm">
    <div class="is-scroller">
        <section class="config-section config-section-application" formGroupName="application">
            <div class="config-section-title">
                <h1>Application</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <app-admin-config-generic-input class="form-group app-name" inputLabel="App name" formControlName="name"
                    [hasErrors]="adminConfigForm.touched && adminConfigForm['controls'].application.errors && adminConfigForm['controls'].application.errors.required"
                    errorMsg="App name should not be empty" ngDefaultControl></app-admin-config-generic-input>
                <div class="form-group production-enabled">
                    <mat-checkbox formControlName="production">Production enabled</mat-checkbox>
                </div>
            </div>
        </section>
        <section class="config-section config-section-branding" formGroupName="uiBranding">
            <div class="config-section-title">
                <h1>UI Branding</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content" formGroupName="logo">
                <app-admin-config-generic-input class="form-group logo-img-url" inputLabel="App Logo Image URL"
                    formControlName="imageUrl" ngDefaultControl></app-admin-config-generic-input>

                <app-admin-config-generic-input class="form-group logo-home-url" inputLabel="App Home URL"
                    formControlName="homeUrl" ngDefaultControl></app-admin-config-generic-input>
            </div>
        </section>
        <section class="config-section config-section-endpoints" formGroupName="endpoints">
            <div class="config-section-title">
                <h1>Endpoint URLS</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <app-admin-config-generic-input class="form-group tsdb-host" inputLabel="TSDB Host"
                    formControlName="tsdb_host" ngDefaultControl></app-admin-config-generic-input>
                <div class="form-group tsdb-metric-hosts">
                    <div class="form-label">
                        <span>TSDB Metric Hosts</span>
                        <a mat-button (click)="addTsdbMetricHost('_new_')" class="add-new-metric-host">add metric
                            host</a>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <div class="metric-hosts-list">
                            <app-admin-config-metric-host
                                *ngFor="let metricHost of endpoints.get('tsdb_hosts')['controls']; let i = index;"
                                [index]="i" [host]="metricHost"
                                (metricHostUpdate)="tsdbMetricHostListener($event)"></app-admin-config-metric-host>
                        </div>
                    </div>
                </div>
                <app-admin-config-generic-input class="form-group webui-host" inputLabel="WebUI Host"
                    formControlName="webUI" ngDefaultControl></app-admin-config-generic-input>
                <app-admin-config-generic-input class="form-group configdb-host" inputLabel="ConfigDB Host"
                    formControlName="configdb" ngDefaultControl></app-admin-config-generic-input>
                <app-admin-config-generic-input class="form-group metaapi-host" inputLabel="MetaAPI Host"
                    formControlName="metaApi" ngDefaultControl></app-admin-config-generic-input>
                <app-admin-config-generic-input class="form-group auraui-host" inputLabel="AuraUI Host"
                    formControlName="auraUI" ngDefaultControl></app-admin-config-generic-input>
            </div>
        </section>
        <section class="config-section config-section-alerts" formGroupName="alert">
            <div class="config-section-title">
                <h1>Alerts</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <app-admin-config-generic-input class="form-group alert-history-url" inputLabel="Alert History URL"
                    formControlName="alert_history_url" ngDefaultControl></app-admin-config-generic-input>
                <!-- TODO Alert endpoints-->
                <div class="alert-endpoints-wrap">
                    <div class="form-label">
                        <span>Alert Endpoints</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="alert-endpoint-list">
                        <app-admin-config-alert-endpoint *ngFor="let recipient of alertRecipientKeys"
                            [endpoint]="alert['controls'].recipient['controls'][recipient]"
                            [index]="i"></app-admin-config-alert-endpoint>
                    </div>
                </div>
            </div>
        </section>
        <section class="config-section config-section-help-links" formGroupName="helpLinks">
            <div class="config-section-title">
                <h1>Help links</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <app-admin-config-help-link
                    *ngFor="let link of adminConfigForm.get('helpLinks')['controls']; let i = index" [index]="i"
                    [link]="link"></app-admin-config-help-link>

            </div>
        </section>
        <section class="config-section config-section-modules" formGroupName="modules">
            <div class="config-section-title">
                <h1>Modules</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="module-section" formGroupName="dashboard">
                    <div class="module-section-title">
                        <span>Dashboards</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="module-subsection" formGroupName="widget">
                        <!-- do we need a module subsection title? -->
                        <div class="form-group dashboard-widget-override-time">
                            <mat-checkbox formControlName="overrideTime">Override widget time</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="config-section config-section-namespaces" formGroupName="namespace">
            <div class="config-section-title">
                <h1>Namespaces</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="form-group namespaces-enabled">
                    <mat-checkbox formControlName="enabled">Enable namespaces</mat-checkbox>
                </div>
                <app-admin-config-generic-input class="form-group default-namespace" inputLabel="Default Namespace"
                    formControlName="default" ngDefaultControl></app-admin-config-generic-input>
            </div>
        </section>
        <section class="config-section config-section-namespaces" formGroupName="auth">
            <div class="config-section-title">
                <h1>Auth</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <app-admin-config-generic-input class="form-group login-url" inputLabel="Login URL"
                    formControlName="loginURL" ngDefaultControl></app-admin-config-generic-input>
                <app-admin-config-generic-input class="form-group heartbeat-url" inputLabel="Heartbeat URL"
                    formControlName="heartbeatURL" ngDefaultControl></app-admin-config-generic-input>
                <app-admin-config-generic-input class="form-group heartbeat-img-url" inputLabel="Heartbeat Image URL"
                    formControlName="heartbeatImgURL" ngDefaultControl></app-admin-config-generic-input>
                <app-admin-config-generic-input class="form-group heartbeat-interval"
                    inputLabel="Heartbeat Interval (ms)" inputType="number" inputPlaceholder="Enter numerical value"
                    formControlName="heartbeatInterval" ngDefaultControl></app-admin-config-generic-input>
            </div>
        </section>
    </div>
</div>
<div class="action-controls">
    <button mat-flat-button color="primary" class="apply-button">Apply</button>
    <button mat-flat-button color="warn" class="cancel-button">Cancel</button>
</div>
