<div class="has-scroller" [formGroup]="adminConfigForm">
    <div class="is-scroller">
        <section class="config-section config-section-application" formGroupName="application">
            <div class="config-section-title">
                <h1>Application</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="form-group app-name">
                    <div class="form-label">
                        <span>App name</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].application.errors && adminConfigForm['controls'].application.errors.required}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="name">
                        </mat-form-field>
                        <mat-error
                            *ngIf="adminConfigForm.touched && adminConfigForm['controls'].application.errors && adminConfigForm['controls'].application.errors.required">
                            App name should not be empty</mat-error>
                    </div>
                </div>
                <div class="form-group production-enabled">
                    <mat-checkbox formControlName="production">Production enabled</mat-checkbox>
                </div>
            </div>
        </section>
        <section class="config-section config-section-branding" formGroupName="uiBranding">
            <div class="config-section-title">
                <h1>UI Branding</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content" formGroupName="logo">
                <div class="form-group logo-img-url">
                    <div class="form-label">
                        <span>App Logo Image URL</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].uiBranding.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="imageUrl">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].uiBranding.errors">UI
                            Branding errors</mat-error>
                    </div>
                </div>
                <div class="form-group logo-home-url">
                    <div class="form-label">
                        <span>App Home URL</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].uiBranding.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="homeUrl">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].uiBranding.errors">UI
                            Branding errors</mat-error>
                    </div>
                </div>
            </div>
        </section>
        <section class="config-section config-section-endpoints" formGroupName="endpoints">
            <div class="config-section-title">
                <h1>Endpoint URLS</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="form-group tsdb-host">
                    <div class="form-label">
                        <span>TSDB Host</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].endpoints.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="tsdb_host">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].endpoints.errors">
                            Endpoint
                            errors</mat-error>
                    </div>
                </div>
                <div class="form-group tsdb-metric-hosts">
                    <div class="form-label">
                        <span>TSDB Metric Hosts</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <div class="metric-hosts-list">
                            <app-admin-config-metric-host
                                *ngFor="let metricHost of endpoints.get('tsdb_hosts')['controls']; let i = index;" [index]="i"
                                [host]="metricHost"></app-admin-config-metric-host>
                        </div>
                    </div>
                </div>
                <div class="form-group configdb-host">
                    <div class="form-label">
                        <span>ConfigDB Host</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].endpoints.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="configdb">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].endpoints.errors">
                            Endpoint
                            errors</mat-error>
                    </div>
                </div>
                <div class="form-group metaapi-host">
                    <div class="form-label">
                        <span>MetaAPI Host</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].endpoints.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="metaApi">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].endpoints.errors">
                            Endpoint
                            errors</mat-error>
                    </div>
                </div>
                <div class="form-group auraui-host">
                    <div class="form-label">
                        <span>AuraUI Host</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].endpoints.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="auraUI">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].endpoints.errors">
                            Endpoint
                            errors</mat-error>
                    </div>
                </div>
            </div>
        </section>
        <section class="config-section config-section-alerts" formGroupName="alert">
            <div class="config-section-title">
                <h1>Alerts</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="form-group alert-history-url">
                    <div class="form-label">
                        <span>Alert History URL</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].alert.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="alert_history_url">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].alert.errors">Endpoint
                            errors</mat-error>
                    </div>
                </div>
                <!-- TODO Alert endpoints-->
            </div>
        </section>
        <section class="config-section config-section-help-links" formGroupName="helpLinks">
            <div class="config-section-title">
                <h1>Help links</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <app-admin-config-help-link
                    *ngFor="let link of adminConfigForm.get('helpLinks')['controls']; let i = index" [index]="i"
                    [link]="link"></app-admin-config-help-link>

            </div>
        </section>
        <section class="config-section config-section-modules" formGroupName="modules">
            <div class="config-section-title">
                <h1>Modules</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="module-section" formGroupName="dashboard">
                    <div class="module-section-title">
                        <span>Dashboards</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="module-subsection" formGroupName="widget">
                        <!-- do we need a module subsection title? -->
                        <div class="form-group dashboard-widget-override-time">
                            <mat-checkbox formControlName="overrideTime">Override widget time</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="config-section config-section-namespaces" formGroupName="namespace">
            <div class="config-section-title">
                <h1>Namespaces</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="form-group namespaces-enabled">
                    <mat-checkbox formControlName="enabled">Enable namespaces</mat-checkbox>
                </div>
                <div class="form-group default-namespace">
                    <div class="form-label">
                        <span>Default Namespace</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].endpoints.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="default">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].namespace.errors">
                            Endpoint
                            errors</mat-error>
                    </div>
                </div>
            </div>
        </section>
        <section class="config-section config-section-namespaces" formGroupName="auth">
            <div class="config-section-title">
                <h1>Auth</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="config-section-content">
                <div class="form-group login-url">
                    <div class="form-label">
                        <span>Login URL</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].auth.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="loginURL">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].auth.errors">Auth
                            errors</mat-error>
                    </div>
                </div>
                <div class="form-group heartbeat-url">
                    <div class="form-label">
                        <span>Heartbeat URL</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].auth.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="heartbeatURL">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].auth.errors">Auth
                            errors</mat-error>
                    </div>
                </div>
                <div class="form-group heartbeat-image-url">
                    <div class="form-label">
                        <span>Heartbeat Image URL</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].auth.errors}">
                            <input matInput type="string" autocomplete="off" placeholder="Enter value"
                                formControlName="heartbeatImgURL">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].auth.errors">Auth
                            errors</mat-error>
                    </div>
                </div>
                <div class="form-group heartbeat-interval">
                    <div class="form-label">
                        <span>Heartbeat Interval (ms)</span>
                    </div>
                    <div class="form-control-wrap auto-width">
                        <mat-form-field appearance="fill" floatLabel="never"
                            [ngClass]="{'mat-form-field-invalid': adminConfigForm['controls'].auth.errors}">
                            <input matInput type="number" autocomplete="off" placeholder="Enter numerical value"
                                formControlName="heartbeatInterval">
                        </mat-form-field>
                        <mat-error *ngIf="adminConfigForm.touched && adminConfigForm['controls'].auth.errors">Auth
                            errors</mat-error>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="action-controls">
    <button mat-flat-button color="primary" class="apply-button">Apply</button>
    <button mat-flat-button color="warn" class="cancel-button">Cancel</button>
</div>
