@use '~@angular/material' as mat;
@mixin inline-filter-editor-component-theme() {
    .inline-filter-editor {
        .seperator,
        .tag-values-selected-header {
            border-bottom: 2px solid mat.get-color-from-palette($foreground, divider);
        }

        .automode {
            color: rgba($black, .8);

            &.auto-mode {
                background-color: mat.get-color-from-palette($other, dashboard-filter-auto-mode-bg);
                border: 1px solid mat.get-color-from-palette($other, dashboard-filter-auto-mode-border-color);
            }

            &.manual-mode {
                background-color: mat.get-color-from-palette($other, dashboard-filter-manual-mode-bg);
                border: 1px solid mat.get-color-from-palette($other, dashboard-filter-manual-mode-border-color);
            }
        }

        .highlight-text {
            background: mat.get-color-from-palette($foreground, link, .2);
        }

        .tag-values-search-input,
        .tag-search-input-field {
            .mat-form-field-flex {
                background-color: mat.get-color-from-palette($primary, default, 0.08);
            }
            .search-clear-btn {
                background: if(
                    $is-dark,
                    rgba($black, .4),
                    #e8e8e8 // TODO: plug into theme
                );
            }
        }

        .mat-icon {
            color: mat.get-color-from-palette($foreground, link);
        }

        .option-item {
            .mat-icon {
                color: mat.get-color-from-palette($foreground, link);
            }

            // modifiers
            &.expression {
                .link {
                    color: mat.get-color-from-palette($foreground, link);
                }
            }

            &:hover {
                background:  mat.get-color-from-palette($foreground, link, 0.65);
            }


            &.selected {
                background:  mat.get-color-from-palette($foreground, link, 0.5);
            }
        }

        .tag-filters {

            .header,
            .container {
                border: 1px solid mat.get-color-from-palette($foreground, divider);
                background-color: mat.get-color-from-palette($background, menu);
            }

            .container {
                @include mat.elevation(2);

                .tag-filter-caption,
                .tag-filter-hint {
                    color: map-get($foreground, hint-text);
                }
            }

            .link {
                cursor: pointer;
                padding: 2px 2px;
                color: mat.get-color-from-palette($foreground, link);
            }
        }

        .tag-filters-modal-actions {
            display: flex;
            align-items: center;
            padding: 8px;

            .mat-stroked-button {
                line-height: 24px;
            }
        }

        .tag-filters .tag {
            background:  mat.get-color-from-palette($foreground, link, 0.5);
        }

        .tag-filters-modal-actions {
            border-top: 1px solid mat.get-color-from-palette($foreground, divider);
        }

        .tag-filters {
            .tag-filter-options {
                .tag-filter-options-column:not(:last-child) {
                    border-right: 1px solid mat.get-color-from-palette($foreground, divider);

                    .tag-value-list-item:not(:last-of-type) {
                        border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
                    }
                }

                .tag-filter-options-column:last-child {
                    .mat-standard-chip {
                        background-color: mat.get-color-from-palette($foreground, link, 0.15);
                        // #016eff hover
                        // exclude #e8e8e8

                        &.automode {
                            color: rgba($black,.8);

                            &.auto-mode {
                                background-color: mat.get-color-from-palette($other, dashboard-filter-auto-mode-bg);
                                border: 1px solid mat.get-color-from-palette($other, dashboard-filter-auto-mode-border-color);
                            }

                            &.manual-mode {
                                background-color: mat.get-color-from-palette($other, dashboard-filter-manual-mode-bg);
                                border: 1px solid mat.get-color-from-palette($other, dashboard-filter-manual-mode-border-color);
                            }
                        }
                    }

                    .mat-standard-chip:hover {
                        background-color: #016eff; // TODO: plug this into theme
                        color: $white;

                        &.automode {
                            &.auto-mode {
                                color: mat.get-color-from-palette($other, dashboard-filter-auto-mode-text);
                            }

                            &.manual-mode {
                                color: mat.get-color-from-palette($other, dashboard-filter-manual-mode-text);;
                            }
                        }

                        .mat-icon {
                            color: currentColor;
                        }
                    }

                    .mat-standard-chip {
                        &.exclude {
                            background-color: #e8e8e8; // TODO: plug into theme
                            color: rgba($black, .6);
                        }

                        &.exclude:hover {
                            background-color: darken(#e8e8e8, 15%); // TODO: plug into theme
                            color: $black;

                            .mat-icon {
                                color: $black;
                            }
                            .mat-icon.exclude {
                                color: mat.get-color-from-palette($other, status-error);
                            }
                        }
                    }

                    .prefix.mat-icon{
                        color: mat.get-color-from-palette($foreground, link);
                    }
                }

                .tag-values-search {
                    .tag-values-type {

                        .mat-button-toggle {
                            border: 1px solid mat.get-color-from-palette($primary, default, 0);
                            border-bottom: 0;
                            color: mat.get-color-from-palette($primary, default);
                            background-color: mat.get-color-from-palette($primary, default, .12);

                            &.mat-button-toggle-checked {
                                border: 1px solid mat.get-color-from-palette($primary, default, 0.60);
                                border-bottom: 0;
                                color: mat.get-color-from-palette($foreground, text);
                                background-color: mat.get-color-from-palette($background, menu);
                                position: relative;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    background-color: mat.get-color-from-palette($background, menu);
                                    height: 3px;
                                    left: 0;
                                    right: 0;
                                    top: 100%;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tag-key-search-results {
            .option-item.added.last-added-key {
                box-shadow: inset 0 -2px 0 mat.get-color-from-palette($foreground, divider);
            }
        }

        .tag-values-search-results {
            .option-item.added {
                background-color:  mat.get-color-from-palette($foreground, link, 0.5);
            }
        }

    }

    // cdk items
    .mat-menu-panel.tag-filters-menu-wrapper {
        box-shadow: none;
        border: 0;
        overflow: initial;
    }

    .mat-menu-panel.filter-action-cdk-menu {
        background-color: if($is-dark, mat.get-color-from-palette($background, menu), mat.get-color-from-palette($background, card));
        border: 1px solid if($is-dark, mat.get-color-from-palette($background, menu-border, .6), mat.get-color-from-palette($background, menu-border));
    }
}
