@mixin app-navbar-component-theme() {
    // * THEME VARIANTS

    $accent-default: map-get($accent, default);

    $navbar-bg: mat-color($background, navbar);
    $navbar-text: mat-color($foreground, navbar-text);

    $navbar-icons-color:mat-color($foreground, navbar-icons);

    .app-navbar {
        .mat-toolbar {
            background: $navbar-bg;
            color: $navbar-text;

            .mat-icon-button {
                .mat-icon {
                    color: mat-color($foreground, navbar-icons);
                }
            }

            &.snapshot {
                background: #135588; // TODO: plug into theme
            }

            &.explore {
                background: lightsteelblue; // TODO: plug into theme
            }

            .navbar-item {
                .menu-trigger-underline {
                    box-shadow: inset 0 -3px 0 mat-color($accent, default);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .menu-trigger-highlight {
                    background-color: mat-color($accent, default, 0.1);
                }
            }

            .navbar-sliding-toggle {
                .sliding-toggle-group {
                    background-color: mat-color($background, navbar-button);

                    .mat-tab-link {
                        &,
                        &.mat-tab-label-active {
                            color: mat-color($foreground, navbar-text);
                        }
                    }

                    .mat-ink-bar {
                        background-color: mat-color($foreground, navbar-text, 0.25);
                    }
                }
            }
        }
    }

    // CDK ITEMS (these are at document root level)
    // cdk items
    .mat-menu-panel.nav-bar-dropmenu {
        @include mat-elevation(5);
    }

}
