@import 'loader-base';

$navbar-height: map-get($navbar-config, 'navbar-height');
$logo-height: map-get($navbar-config, 'logo-height');

:host.app-navbar {
    z-index: 2;
    position: relative;

    .mat-toolbar .mat-toolbar-row {
        padding-left: initial;
    }

    .mat-toolbar-multiple-rows,
    .mat-toolbar-single-row {
        min-height: $navbar-height !important;
        height: $navbar-height;
    }
}

//* THEMING **/
@each $theme-name, $theme-config in $app-available-themes {

    //* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    $accent-default: map-get($accent, default);

    $navbar-bg: map-get($background, navbar);
    $navbar-text: map-get($foreground, navbar-text);

    $navbar-icons-color: map-get($foreground, navbar-icons);

    /* [[  THEME  ]] (#{$theme-name}) - app-navbar component  */
    @at-root [theme='#{$theme-name}'] {
        :host.app-navbar {
            .mat-toolbar {
                background: $navbar-bg;
                color: $navbar-text;
            }
        }
    }
}
