// * THEME VARIANTS
@include init-component-variants() {

    $cssVarMap: get-theme-css-variables($theme-name);

    $scrollbar-padding: map-get($cssVarMap, _mat-var-unwrap(map-get($scrollbar, padding)));
    $scrollbar-size: map-get($cssVarMap, _mat-var-unwrap(map-get($scrollbar, size)));
    $scrollbar-radius: $scrollbar-size / 2;

    $scrollbar-track-bg: mat-color($scrollbar, 'color', map-get($scrollbar, track-bg-alpha));
    $scrollbar-track-border: mat-color($scrollbar, 'color', map-get($scrollbar, track-border-alpha));
    $scrollbar-thumb-bg: mat-color($scrollbar, 'color', map-get($scrollbar, thumb-bg-alpha));


    * {
        // this is the trick to hide the scrollbar
        &::-webkit-scrollbar {
            background: transparent;

            &:vertical {
                width: 0;
            }

            &:horizontal {
                height: 0;
            }
        }

        &::-webkit-scrollbar-corner {
            // may change this depending on how it looks in different themes
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: $scrollbar-radius;
            background-color: $scrollbar-thumb-bg; // default color
            border: ($scrollbar-padding * 2) solid rgba(0, 0, 0, 0); // transparent - gives spacing around thumb
            background-clip: padding-box; // needed to enforce spacing of transparent border
        }

        &::-webkit-scrollbar-track {
            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 0;
            //background-color: $scrollbar-track-bg;
            //border: 1px solid $scrollbar-track-border;
        }

        // show the scrollbar on hover
        &:hover {
            &::-webkit-scrollbar {
                &:vertical {
                    width: $scrollbar-size !important;
                }

                &:horizontal {
                    height: $scrollbar-size !important;
                }
            }
        }
    }

    @-moz-document url-prefix() {
        * {
            scrollbar-color: $scrollbar-thumb-bg $scrollbar-track-bg; /* thumb and track color */
            scrollbar-width: $scrollbar-size;
        }
    }
}

