// html,
body {
    @include mat-typography-level-to-styles(
        map-get($app-fontface-config, sans),
        body-1
    );
}

// IMAGE PRELOADING
:root:before {
    content: url(/assets/spinner-26x26.gif) url(/assets/widget-icon-sprite.png)
        url(/assets/email-contact.svg) url(/assets/http-contact.svg)
        url(/assets/oc-contact.svg) url(/assets/opsgenie-contact.svg)
        url(/assets/slack-contact.svg);
    /* partial fallback */
    background-image: url(/assets/spinner-26x26.gif);
    visibility: hidden;
    position: absolute;
    left: -999em;
}

// * THEME VARIANTS
@include init-component-variants() {
    &.mat-app-background {
        background-color: mat-color($background, background);
    }
}
