@mixin admin-panel-component-theme() {
    .admin-navigator {
        .admin-function-tabs.mat-tab-group ::ng-deep {
            .mat-tab-header {
                background: if(
                    $is-dark,
                    mat-color($background, navbar, .5),
                    mat-color($background, navbar, .1)
                );

                .mat-tab-label {
                    color: if(
                        $is-dark,
                        mat-color($foreground, navbar-text),
                        mat-color($background, navbar)
                    );

                    &.mat-tab-label-active {
                        opacity: 1;
                        color: if(
                            $is-dark,
                            mat-color($foreground, navbar-text),
                            mat-color($background, navbar)
                        );
                    }
                }
            }

            &.mat-primary {
                .mat-ink-bar {
                    background: mat-color($background, navbar);
                }
            }
        }
    }
}
