@mixin simple-recents-list-component-base() {
    .widget-panel-content.simple-recents-list {
        .has-scroller {
            flex: 1;
            max-width: 100%;
            max-height: 100%;

            .is-scroller {
                padding: 0;
            }
        }

        .mat-table {
            @include mat-elevation(0);
            width: 100%;

            tr.mat-header-row {
                height: 32px;
            }

            td.mat-cell {
                cursor: pointer;

                &:first-of-type {
                    width: 100%;
                }

                &:last-of-type {
                    white-space: nowrap;
                }

                .recent-labels {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: stretch;

                    .root-path {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@mixin simple-recents-list-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $success: map-get($theme-config, success);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    $text: map-get($foreground, text);
    $link: map-get($foreground, link);

    $primary-default: map-get($primary, default);
    $primary-light: map-get($primary, 50);

    $row-hover-bg: if(
        $is-dark,
        rgba($primary-light, .05),
        $primary-light
    );
    $table-header-bg: if(
        $is-dark,
        lighten(map-get($background, card), 10%),
        darken(map-get($background, card), 5%)
    );

    .widget-panel-content.simple-recents-list {
        .mat-table {
            tr.mat-header-row {
                background: $table-header-bg;
            }

            tr.mat-row {
                &:hover {
                    background-color: $row-hover-bg;
                }
            }

            td.mat-cell {

                .recent-labels {

                    .dashboard-name {
                        color: $link;
                    }

                    .root-path,
                    .visited-date,
                    .visited-time {
                        color: lighten($text, 50%);
                    }
                }
            }
        }
    }
}
