/**
 * PIN PANEL COMPONENT
 */

 @import 'loader-base';

:host.pin-panel {
    display: flex;
    flex-direction: column;

    .panel-content {
        .no-data {
            .no-activity {
                margin: 15px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .illustration {
                    width: 120px;
                    height: 120px;
                    position: relative;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,0.06); // NOTE: theme??
                    margin-bottom: 15px;

                    &::after {
                        content: 'Illustration';
                        font-size: 14px;
                        font-weight: 500;
                        display: block;
                        line-height: 120px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


//* THEMING **/
@each $theme-name, $theme-config in $app-available-themes {

    /* Theme config parts */
   $primary: map-get($theme-config, primary);
   $accent: map-get($theme-config, accent);
   $warn: map-get($theme-config, warn);
   $success: map-get($theme-config, success);
   $foreground: map-get($theme-config, foreground);
   $background: map-get($theme-config, background);
   $is-dark-theme: map-get($theme-config, is-dark);

   /* [[  THEME  ]] (#{$theme-name}) - admin panel component  */
   @at-root [theme='#{$theme-name}'] {
        :host.pin-panel { }
   }
}
