<div class="tooltip-output shift-{{yShift}} shift-{{xShift}}" *ngIf="_ttData" #tooltipOutput>
    <div class="value-marker">
        <span class="value" [style.color]="_ttData.colorContrast" [style.background]="_ttData.color">{{_ttData.valueFormatted}}</span>
        <span class="time">{{_ttData.timestampFormatted}}</span>
    </div>
    <div class="other-data">
        <div>metric: {{_ttData.metric}}</div>
        <ng-container *ngIf="_ttData.tags && _ttData.tags.length > 0">
            <div *ngFor="let tag of _ttData.tags">{{tag.key}}: {{tag.value}}</div>
        </ng-container>
    </div>
</div>
