@use '~@angular/material' as mat;
@mixin dashboard-settings-dialog-component-theme() {

    $close-button-background: mat-get-color-from-palette($accent, A400);
    $close-button-text: mat-get-color-from-palette($foreground, navbar-text);

    $divider: mat-get-color-from-palette($background, background);
    $card-background: mat-get-color-from-palette($background, card);

    $light-gray-background: mat-get-color-from-palette($background, menu);

    $expanded-header-bg: mat-get-color-from-palette($primary, default);
    $expanded-header-text: mat-get-color-from-palette($primary, default-contrast);

    $expanded-body-bg: mat-get-color-from-palette($primary, default, 0.05);

    .dashboard-settings-dialog {
        background-color: $card-background;

        .mat-toolbar {
            background: transparent;
            border-bottom: 2px solid $divider;
        }

        .mat-dialog-actions {
            border-top: 2px solid $divider;
        }

        .content-container {
            background: $card-background;
        }

        // TAB GROUP
        .dashboard-settings.mat-tab-group {

            .mat-ink-bar {
                background: mat-get-color-from-palette($primary, default);
            }

            .mat-tab-header {
                background-color: $divider;
            }

            .mat-tab-label {
                color: mat-get-color-from-palette($foreground, link);
            }

            .mat-tab-label.mat-tab-label-active {
                background-color: $card-background;
                color: mat-get-color-from-palette($foreground, text);
            }
        }

        // COMMON SETTINGS FORM CLASSES
        .settings-control {
            display: flex;
            flex-direction: column;

            .mat-label {
                font-weight: 500;
                margin-bottom: 8px;
            }

            .mat-form-field:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}
