@use '@angular/material' as mat;
@mixin heatmap-bucket-detail-component-theme() {

    $cdk-window-bg: if($is-dark, mat-get-color-from-palette($background, menu, .75), mat-get-color-from-palette($background, menu));

    .heatmap-bucket-detail-component {
        .ts-legend-toolbar {
            color: $white;
            background-color: $black;
        }

        .ts-legend-table {
            background: $cdk-window-bg;

            .mat-sort-header-container.mat-sort-header-sorted {
                color: #c09853; // TODO: plug into theme

                .mat-sort-header-arrow {
                    color: darken(#c09853, 15%); // TODO: plug into theme
                }
            }

            .mat-row:hover {
                background-color: mat-get-color-from-palette($primary, default, .15);
            }

        }
    }
}
