@use '~@angular/material' as mat;
@mixin help-links-component-theme() {

    $cssVarMap: get-theme-css-variables($theme-name);

    // TODO: navbar color needs more variations is seems
    $navbar-bg: _mat-convert-variable-to-color(map-get($background, navbar), $cssVarMap);

    .mat-raised-button {
        background-color: darken($navbar-bg, 4%);
        color: mat.get-color-from-palette($foreground, navbar-text);

        &:hover {
            background-color: lighten($navbar-bg, 8%);
        }
    }
}
