@mixin markdown-visual-appearance-widget-component-base() {
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    .markdown-visual-appearance-widget { 
        .container {
            display: flex;
            padding: 10px;
            padding-top: 15px;
            flex-direction: row;
        }
        
        .monospace {
            .mat-slide-toggle {	
                .mat-slide-toggle-label {	
                    .mat-slide-toggle-content {	
                        font-family: monospace;	
                    }	
                }	
            }
        }

        .labels {
            text-align: right
        }

        .label {
            height: 31px;
            margin-bottom: 5px;
            padding-right: 10px;
        }

        .selector {
            height: 31px;
            margin-bottom: 5px;
        }
    }
}

@mixin markdown-visual-appearance-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .markdown-visual-appearance-widget { 
        // color: red;
    }

}