@mixin widget-clipboard-menu-component-base() {
    .widget-clipboard-menu {

    }
}

@mixin widget-clipboard-menu-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    .widget-clipboard-menu {

    }
}
