@mixin event-list-component-theme() {
    .event-list {
        .event-panel.mat-expansion-panel {
            .mat-expansion-panel-header {
                &:hover {
                    background: mat-color($foreground, darker-divider);
                }
            }

            .mat-expansion-panel-body {

                fieldset {
                    background: if(
                        $is-dark,
                        mat-color($background, background),
                        $white
                    );
                    border: if(
                        $is-dark,
                        1px solid $black,
                        1px solid #e0e0e0 // TODO: plug into theme
                    );
                }

                .event-summary {
                    background: mat-color($foreground, lighter-divider);

                    &:not(:last-child) {
                        border-bottom: 1px solid mat-color($foreground, lighter-divider);
                    }
                }

                .event-tag {
                    background: mat-color($foreground, lighter-divider);
                    border-radius: 5px;
                }

                .event-property {
                    background: mat-color($foreground, lighter-divider);
                    border-radius: 5px;
                }
            }

            // when event-panel (accordion item) is open
            &.mat-expanded {
                .mat-expansion-panel-header {
                    background: mat-color($foreground, lighter-divider);
                }

                .mat-expansion-panel-body {
                    border-bottom: 1px solid mat-color($foreground, divider);
                }
            }
        }
    }
}
