<div class="gif-spinner" *ngIf="loading">
    <img src="/assets/spinner-26x26.gif" />
</div>

<div class="event-stream-list" *ngIf="events">
    <mat-accordion class="event-accordion" displayMode="flat" multi="true" #eventAccordion>
        <ng-container *ngFor="let event of slicedList; let i = index">
            <mat-expansion-panel class="event-panel" #eventPanel expanded="{{expandedBucketIndex === i}}" (opened)="openExpansion(i)" (closed)="collapseExpansion(i)">
                <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="32px" >
                    <mat-panel-title>
                        <span class="event-time">{{titles[i]}}</span>
                        <span class="event-title"> {{event.title}} </span> 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="expandedBucketIndex === i" class="event-summary">

                    <div class="event-tags">
                        <fieldset *ngIf="event.tags" class="event-tags">
                            <legend>Tags</legend>
                            <span class="event-tag" *ngFor="let tag of tags[i]">
                                <span class="tag-key">{{tag.key}}:</span> <span class="tag-value">{{tag.value}}</span>
                            </span>
                        </fieldset>
                    </div>

                    <div class="event-properties">
                        <fieldset>
                            <legend> Properties </legend>
                            <span class="event-property">
                                <span class="tag-key">namespace:</span> <span class="tag-value">{{ event.namespace }}</span>
                            </span>
    
                            <span class="event-property">
                                <span class="tag-key">source:</span> <span class="tag-value">{{ event.source }}</span>
                            </span>
    
                            <span class="event-property" *ngIf="event.priority">
                                <span class="tag-key">priority:</span> <span class="tag-value">{{ event.priority }}</span>
                            </span>
    
                            <span class="event-property" *ngFor="let tag of additionalProps[i]">
                                <span class="tag-key">{{tag.key}}: </span> <span class="tag-value">{{ tag.value }}</span>
                            </span>
                        </fieldset>
                    </div>

                    <div class="event-message">
                        <fieldset>
                            <legend>Message</legend>
                            <div class="event-details-text-wrapper">
                                <div class="event-details-text">
                                    {{event.message}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</div>

<div class="no-events-message" *ngIf="(!events || events.length === 0) && !loading">
    <span *ngIf="error"> ERROR: {{error}} </span>
    <span *ngIf="!error"> No events. </span>
</div>
