/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin widget-config-query-inspector-component-base() {
    .widget-config-tab.query-inspector-configuration {
        // style rules here
    }
}

@mixin widget-config-query-inspector-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .widget-config-tab.query-inspector-configuration {
        // style rules here
    }

}