<mat-toolbar class="panel-toolbar is-master-panel">
    <mat-toolbar-row fxLayout fxLayoutAlign="start stretch">
        <div class="nav-item panel-label">
            <strong>{{panelTitle}} Panel</strong>
        </div>
        <span class="flex-spacer"></span>
        <div class="nav-item">
            <button mat-icon-button (click)="closeDrawer()">
                <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<navigator-panel #navPanel>
    <ng-container *navigatorPanelItem>
        {{panelText}}
    </ng-container>
</navigator-panel>
