@use '@angular/material' as mat;
@mixin heatmap-data-tooltip-component-theme() {

    $primary-accent-contrast: mat-get-color-from-palette($primary, A100-contrast);
    $vm-text: if($is-dark, $black, $primary-accent-contrast);

    .heatmap-data-tooltip {
        .tooltip-output {
            .value-marker,
            .other-data {
                color: $vm-text;
            }
        }
    }
}
