<div class="tooltip-output shift-{{yShift}} shift-{{xShift}}" *ngIf="tooltipData" #tooltipOutput>
    <p>{{tooltipData.timestampFormatted}}</p>
    <p>{{tooltipData.seriesAffected}}</p>
    <p>Bucket Range: {{tooltipData.bucketRange}}</p>
    <ng-container *ngIf="tooltipData.bucketValues && tooltipData.bucketValues.length > 0">
        <table>
            <tr *ngFor="let tt of tooltipData.bucketValues">
                <td>{{tt.value}}</td>
                <td>{{tt.label}}</td>
            </tr>
        </table>
    </ng-container>
</div>
