@use '~@angular/material' as mat;
@mixin dbs-variables-component-theme() {
    $bg-color: mat-get-color-from-palette($background, background);

    .dbs-variables-component {
        .template-variable-list {

            // all template items are disabled;
            &.is-disabled {
                .template-variable-item {
                    .settings-control {
                        background-color: $bg-color;
                    }
                }
            }
        }
    }
}
