@mixin metric-visual-panel-component-theme() {

    // TODO: Brand color sounds like it needs to be in theme
    $brand-color: if(
        $is-dark,
        mat-color($background, navbar, .85),
        mat-color($background, navbar)
    );

    $brand-color-lighter: mat-color($background, navbar-alt);
    $brand-color-inverse: mat-color($foreground, navbar-text);

    .metric-visual-panel {
        .metric-visual-panel-card {
            .mat-card-header {
                border-bottom: 1px solid mat-color($foreground, divider);
            }

            .mat-card-footer {
                border-top: 1px solid mat-color($foreground, divider);
            }

            .mat-stroked-button[color="primary"] {
                border-color: mat-color($foreground, link);
            }

            // reset the color picker border and background
            .color-picker-component {
                .color-picker-component-control.card {
                    background: transparent;
                    border-top: 0;
                }
            }

            .vertical-radio-group.mat-radio-group {
                .mat-radio-button {
                    .mat-radio-container {
                        .mat-radio-outer-circle {
                            border-color: mat-color($foreground, link)
                        }

                        .mat-radio-inner-circle {
                            background-color: mat-color($foreground, link);
                        }
                    }
                }
            }
        }

        .color-toggle.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
            border-color: mat-color($primary, default);

            .mat-button {
                color: mat-color($primary, default);
            }

            .mat-button-toggle.mat-button-toggle-checked {
                .mat-button {
                    background-color: mat-color($primary, default);
                    color: mat-color($primary, default-contrast);
                }
            }
        }
    }

    .mat-menu-panel.metric-visual-panel-wrapper {
        border-top: 2px solid mat-color($foreground, link, .25);
    }
}
