<mat-card fxLayout="column" fxFlexFill>
    <mat-card-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" class="panel-body">
        <div fxFlex="1 1 30px" fxLayout="row" fxLayoutAlign="stretch stretch" class="panel-heading">
            <mat-toolbar>
                <mat-toolbar-row>
                    <span class="panel-title"
                        matTooltip="{{title}}"
                        [matTooltipClass]="{'cdk-widget-title-tooltip':true}">{{title}}</span>
                    <span class="flex-spacer"></span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <!-- projected widget -->
        <div fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" style="margin-top: 5px;">
            <ng-content></ng-content>
        </div>
    </mat-card-content>
</mat-card>
