@use '~@angular/material' as mat;
@mixin widget-delete-dialog-component-theme() {

    $divider: mat-get-color-from-palette($foreground, divider);

    .widget-delete-dialog {
        .mat-dialog-title {
            background-color: mat-get-color-from-palette($other, status-warning);
            color: mat-get-color-from-palette($other, status-warning-contrast);
        }
    }

    // CDK Items
    // backdrop
    .widget-delete-dialog-backdrop {
        background-color: mat-get-color-from-palette($foreground, disabled);
    }

    // panel
    .widget-delete-dialog-panel {
        .mat-dialog-title {
            border-bottom: 1px solid $divider;
        }

        .mat-dialog-actions {
            background-color: $divider;
        }
    }
}
