@mixin widget-delete-dialog-component-base() {
    .widget-delete-dialog {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        width: 100%;

        .mat-dialog-title,
        .mat-dialog-content {
            padding: 12px 24px;
        }

        .mat-dialog-content,
        .mat-dialog-actions {
            margin: 0;
        }

        .mat-dialog-title {
            display: flex;
            align-items: center;
            margin: 0;

            .mat-icon {
                margin-right: 6px;
            }
        }

        .mat-dialog-content {
            max-height: initial;
            padding: 25px;
            min-height: 80px;
        }

        .mat-dialog-actions {
            display: flex;
            justify-content: flex-end;
            padding: 12px 24px;

            .mat-flat-button,
            .mat-stroked-button {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
            
        }

        .save-control {
            width: 100%;
            margin-bottom: 24px;

            &.is-disabled {
                opacity: .3;
                pointer-events: none;
            }

            &.mat-caption {
                font-style: italic;
            }

            .mat-label {
                font-weight: 500;
            }

            .mat-form-field {
                width: 100%;
            }
        }

    }

    // CDK Items

    // backdrop
    .widget-delete-dialog-backdrop {

    }

    // panel
    .widget-delete-dialog-panel {
        // width: 100%;
        // height: 100%;
        .mat-dialog-container {
            padding: 0;
        }
    }


}

@mixin widget-delete-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $tname: map-get($theme-config, theme-name);

    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    $status: map-get($theme-config, status);

    $divider: map-get($foreground, divider);

    .widget-delete-dialog {
        .mat-dialog-title {
            background-color: map-get($status, warning);
            color: map-get($status, warning-contrast);
        }
    }

    // CDK Items

    // backdrop
    .widget-delete-dialog-backdrop {
        background-color: map-get($foreground, disabled);
    }

    // panel
    .widget-delete-dialog-panel {

        .mat-dialog-title {
            border-bottom: 1px solid $divider;
        }

        .mat-dialog-actions {
            background-color: $divider;
        }

    }
}