<h1 mat-dialog-title>Delete {{(dbData.batch && dbData.selectedCount > 1) ? 'Widgets' : 'Widget'}}</h1>
<div mat-dialog-content>

  <p *ngIf="dbData.batch && dbData.selectedCount > 1; else singleConfirm">
    Do you want to delete the selected {{dbData.selectedCount}} widgets?
  </p>

  <ng-template #singleConfirm>
    <p>Do you want to delete the widget?</p>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="confirm()" >Ok</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
