<mat-grid-list cols="1" id="this-row">
    <button mat-button (click)="clicked('this')" ><span>this {{preset.name}}</span></button>
</mat-grid-list>     
<mat-grid-list cols="3">
    <button mat-button (click)="clicked('1')"><span>1</span></button>
    <button mat-button (click)="clicked('2')"><span>2</span></button>
    <button mat-button (click)="clicked('3')" [disabled]="disableKeysAt3"><span>3</span></button>
</mat-grid-list>
<mat-grid-list cols="3">
    <button mat-button (click)="clicked('4')" [disabled]="disableKeysAt3"><span>4</span></button>
    <button mat-button (click)="clicked('5')" [disabled]="disableKeysAt3"><span>5</span></button>
    <button mat-button (click)="clicked('6')" [disabled]="disableKeysAt3"><span>6</span></button>
</mat-grid-list>
<mat-grid-list cols="3">
    <button mat-button (click)="clicked('7')" [disabled]="disableKeysAt3"><span>7</span></button>
    <button mat-button (click)="clicked('8')" [disabled]="disableKeysAt3"><span>8</span></button>
    <button mat-button (click)="clicked('9')" [disabled]="disableKeysAt3 || disableKeysAt9"><span>9</span></button>
</mat-grid-list>
