@use '~@angular/material' as mat;
@mixin metric-autocomplete-component-theme() {

    // CDK ITEMS - panel for "multiple" autocomplete
    .metric-autocomplete-cdk-panel.mat-menu-panel {
        .metric-search-result {
            .list-all {
                border-right: 1px solid mat.get-color-from-palette($foreground, divider);
            }

            .mat-list.mat-list-base {
                .mat-list-item-content {
                    .mat-icon {
                        color: mat.get-color-from-palette($foreground, link);
                    }
                }

                .mat-list-item {
                    &.is-selected {
                        background-color: mat.get-color-from-palette($foreground, link, .08);

                        .mat-icon {
                            color: mat.get-color-from-palette($other, status-error);
                        }
                    }
                }
            }

            .list-selected {
                .selected-header {
                    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
                }
            }
        }
    }
}
