<ng-template [ngIf]="multiple" [ngIfElse]="noMultiples">
    <span [matMenuTriggerFor]="metricAutocompletePanel"
    (menuOpened)="multipleMenuOpened()"
    (menuClosed)="multipleMenuClosed()"></span>
    <mat-form-field
        class="metric-search-input-field"
        appearance="outline"
        color="primary"
        floatLabel="never">
        <input matInput
            autocomplete="off"
            placeholder="Filter metrics"
            [formControl]="metricSearchControl"
            (focus)="doMetricSearch()"
            (keydown.enter)="metricMultipleACKeydown($event)"
            (keydown)="checkMenuOpen($event)"
            #metricSearchInput>
    </mat-form-field>

    <mat-menu
        class="metric-autocomplete-cdk-panel"
        yPosition="above"
        [hasBackdrop]="false"
        [overlapTrigger]="false"
        #metricAutocompletePanel="matMenu">

        <div class="metric-search-result" (click)="$event.stopPropagation();">
            <div class="list">
                <div class="list-all" >
                    <div class="first-run-progress" *ngIf="firstRun">
                            <mat-spinner color="primary" diameter="20"></mat-spinner>
                    </div>
                    <mat-action-list>
                        <button mat-list-item
                            *ngFor="let option of metricOptions"
                            [ngClass]="{'is-selected': getMetricIndex(option.name) !== -1 }"
                            (click)="(getMetricIndex(option.name) === -1) ? updateMetricSelection(option.name, 'add') : updateMetricSelection(option.name, 'remove');">
                            <mat-icon fontSet="denali" [fontIcon]="getMetricIndex(option.name) === -1 ? 'd-add-circle' : 'd-minus-circle'"></mat-icon>
                            <span class="label" title="{{option.name}}">{{option.name}}</span>
                        </button>
                        <div mat-list-item *ngIf="message.metricSearchControl.message"
                            [ngClass]="message.metricSearchControl.type === 'error'? 'error': 'info'">
                            <mat-icon *ngIf="message.metricSearchControl.type === 'error'">error</mat-icon>
                            <span>{{ message['metricSearchControl']['message'] }}</span>
                        </div>
                    </mat-action-list>
                </div>
                <div class="list-selected" *ngIf="metrics.length > 0">
                    <div class="selected-header">
                        <strong>Selected</strong>
                        <button mat-flat-button color="primary" (click)="clickMultipleDone()">
                            <mat-icon fontSet="denali" fontIcon="d-check"></mat-icon>
                            <span>Done</span>
                        </button>
                    </div>
                    <mat-action-list>
                        <button mat-list-item
                            *ngFor="let metric of metrics"
                            (click)="updateMetricSelection(metric, 'remove');">
                            <mat-icon fontSet="denali" fontIcon="d-minus-circle"></mat-icon>
                            <span class="label">{{metric}}</span>
                        </button>
                    </mat-action-list>
                </div>
            </div>
        </div>
    </mat-menu>
</ng-template>

<ng-template #noMultiples>
    <mat-form-field appearance="fill" [color]="'primary'" floatLabel="never" *ngIf="!multiple" [ngStyle]="calculateEditWidthStyle()" #metricSearchFormField>
        <input matInput
            type="text"
            placeholder="Metric"
            autocomplete="off"
            [formControl]="metricSearchControl"
            [matAutocomplete]="metricAutoComplete"
            #singleactrigger="matAutocompleteTrigger"
            (focus)="doMetricSearch()"
            (keydown.enter)="metricACKeydown($event)"
            #metricSearchInput>
    </mat-form-field>
    <mat-autocomplete #metricAutoComplete="matAutocomplete" (optionSelected)="metricACOptionSelected($event)" [panelWidth]="autocompleteWidth$ | async">
        <mat-option *ngFor="let option of metricOptions" [value]="option.name">
            {{ option.name }}
        </mat-option>
    </mat-autocomplete>
</ng-template>
