@mixin tag-aggregator-component-base() {
    .tag-aggregator-component {
        display: flex;
        align-items: stretch;

        .mat-button {
            line-height: 32px;

            .mat-button-wrapper {
                display: flex;

                .mat-select-arrow-wrapper {
                    display: flex;
                    align-items: center;
                }
            }

        }
    }

    // cdk items
    .tag-aggregator-cdk-menu.mat-menu-panel {
        min-width: initial;
        max-width: initial;
        display: flex;

        .mat-menu-content {
            padding: 0;

            > div {
                display: flex;
            }

            .mat-menu-item {
                height: 32px;
                line-height: 32px;
            }

            .aggregator-help {
                display: flex;
                flex-direction: column;
                min-width: 250px;
                max-width: 250px;
                max-height: 160px;

                .help-title {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px 8px;

                    span:not(:last-child) {
                        margin-right: 6px;
                    }

                    .mat-icon {
                        @include sizeDenaliIcon(12px);
                    }
                }

                .help-description {
                    flex: 1;
                    overflow: auto;
                    padding: 4px 8px;
                    font-size: 12px;

                    p {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

@mixin tag-aggregator-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);
    $chip-bg: rgba(map-get($primary, default), .1);
    $alias-bg: if($is-dark, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    $alias-text: if($is-dark, rgba(255, 255, 255, .5), rgba(0, 0, 0, .5));

    $link: map-get($foreground, link);

    $widgets: map-get($theme-config, widgets);

    $card-background: map-get($background, card);
    $divider: map-get($foreground, divider);

    $query-marker-bg: map-get($widgets, query-editor-marker);
    $query-marker-text: map-get($widgets, query-editor-marker-text);
    $query-block-bg: map-get($widgets, query-editor-block-bg);
    $query-block-selected-border: map-get($widgets, query-editor-selected-border);

    $brand-color: map-get($background, navbar);
    $brand-color-inverse: map-get($foreground, navbar-text);

    $lighter-divider: rgba(0,0,0,0.04);

    .tag-aggregator-component {
        .mat-button {
            color: map-get($foreground, link);
        }
    }

    // cdk items
    .tag-aggregator-cdk-menu.mat-menu-panel {

        .mat-menu-content {

            .aggregator-help {
                background: if(
                    $is-dark,
                    rgba(map-get($denali-brand-5, 100), .2),
                    rgba(map-get($denali-brand-5, 100), .5)
                );
                border-left: 1px solid $divider;

                .help-title {
                   border-bottom: 1px solid $divider;
                }
            }
        }
    }
}
