<div class="headers">
    <span>
        <span>Query Preview</span>
        <div class="snapshot">
            <button mat-flat-button   matTooltip="Snapshot" matTooltipPosition="below" (click)="saveSnapshot()">
                <mat-icon fontSet="denali" fontIcon="d-camera"></mat-icon>
            </button>
        </div>
    </span>

    <span>
        Threshold Preview
    </span>
</div>

<div class="graphs">
    <div #queryPreview class="graph-output query-preview"
        *ngIf="!nQueryDataLoading"
        ttMouseListener ttType="linechart">
        <div #dygraph class="chart" dygraphsChart
            [chartType]="'line'"
            [data]="observedData"
            [size]="{'width': size.width/2, 'height': size.height - 10}"
            [options]="observedOptions"
            (lastTimeseriesHighlighted)="timeSeriesClicked($event)"
            (zoomed)="handleZoomQuery($event)"
            [timeseriesLegend]="tsLegendOptions"
            (currentTickEvent)="timeseriesTickListener(i, j, yKey, xKey, $event)">
        </div>
    </div>

    <div class="graph-output threshold-preview"
        *ngIf="thresholdData && thresholdData.ts && !nQueryDataLoading && observedIndex !== -1"
        ttMouseListener ttType="linechart">
        <div #dygraph class="chart" dygraphsChart
            [chartType]="'line'"
            [data]="thresholdData"
            [size]="{'width': size.width/2, 'height': size.height - 10}"
            [options]="thresholdOptions"
            (zoomed)="handleZoomThreshold($event)">
        </div>
    </div>

    <div *ngIf="nQueryDataLoading" class="preview-placeholder">
        <span>
            Fetching query...
        </span>
        <span>
            <div class="gif-spinner">
                <img src="/assets/spinner-26x26.gif" />
            </div>
        </span>

    </div>

    <div *ngIf="observedIndex === -1 && !nQueryDataLoading">
        ← Please click a line
    </div>
</div>
