@mixin dropdown-unit-type-component-base() {
    .dropdown-unit-type {
        @include mat-input-as-dropdown();

        .mat-select-arrow-wrapper {
            cursor: pointer;
        }
    }
}

@mixin dropdown-unit-type-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $success: map-get($theme-config, success);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);
}
