@import 'loader-base';

$status-labels: ('bad', 'warn', 'good', 'unknown', 'missing', 'snoozed');
$header-chip-size: 8px;

:host.alerts-container-component {
    display: flex;
    flex-direction: column;
    flex: 1;

    .alerts-main-controls {
        padding: 8px 32px;

        .control-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        .namespace-selector {
            min-width: 250px;

            .mat-button {
                width: 100%;
                display: inline-flex;

                ::ng-deep {
                    .mat-button-wrapper {
                        display: flex;
                        flex: 1;
                        align-items: center;

                        .control-label {
                            margin-right: 8px;
                            font-weight: 400;
                        }

                        .selected-namespace {
                            flex: 1;
                            margin-right: 8px;
                            text-align: left;
                        }

                        .mat-icon {
                            @include sizeDenaliIcon(18px);
                        }
                    }

                    &:hover .mat-button-focus-overlay {
                        opacity: 0;
                    }
                }

                &:hover,
                &.menu-open {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        .alert-filter-input {
            width: 80%;
            max-width: 600px;

            .mat-form-field {
                width: 100%;
                line-height: 1.45;

                ::ng-deep {
                    .mat-form-field-flex {
                        align-items: center;
                    }

                    .mat-form-field-suffix {
                        margin-right: 8px;

                        .mat-icon {
                            @include sizeDenaliIcon(18px);
                        }
                    }
                }
            }
        }
    }

    // chips
    .header-chip {
        padding: 4px;
        font-weight: normal;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            width: $header-chip-size;
            height: $header-chip-size;
            border-radius: $header-chip-size / 2;
            display: inline-block;
            margin-right: 6px;
        }
    }

    .group-label-chip {
        border-radius: 4px;
        font-size: 10px;
        padding: 0 6px;
        margin-right: 4px;
        outline: none;
    }

    .batch-controls-toolbar {
        margin: 0 16px;
        padding: 0;
        max-width: 100%;
        width: initial;

        &.mat-toolbar-single-row {
            height: 48px;
        }

        .toolbar-item.batch-select-control {
            padding-left: 8px;
            padding-right: 8px;
        }

        .mat-button {
            font-size: 12px;

            .mat-icon {
                @include sizeDenaliIcon(18px);
            }
        }
    }

    .error {
        color:red;
        height: 30px;
        text-align:center;
        padding: 2px;
    }

    // common wrapper styles
    .common-results {
        .common-results-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0;
            overflow: hidden;

            .common-results-body {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: 100%;

                .message {
                    font-weight: 500;
                    height: 30px;
                    text-align:center;
                    padding: 4px;
                }
            }

            .mat-paginator {
                padding: 0 16px;
            }
        }
    }

    // common table styles
    .common-table-result.mat-table {
        margin: 0 16px;

        .bulk-actions-anchor {
            position: absolute;
            width: 1px;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .bulk-actions-wrapper {
            display: flex;

            .mat-button {
                font-size: 12px;
                font-weight: 400;
                padding: 0 8px;

                .mat-icon {
                    @include sizeDenaliIcon(14px);
                    margin-right: 6px;
                }
            }
        }

        .edit-actions-wrapper {
            position: absolute;
            bottom: 0;
            left: 2px;
            pointer-events: none;
            opacity: 0;
            transition: opacity 200ms ease-in-out;

            .mat-button {
                font-size: 8px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 2px;
                min-width: initial;
                line-height: 10px;

                .mat-icon {
                    @include sizeDenaliIcon(10px);
                }

                span {
                    display: inline-block;
                    margin-top: 2px;
                    margin-left: 2px;
                }
            }
        }

        ::ng-deep {
            tr.mat-header-row,
            tr.mat-footer-row,
            tr.mat-row {
                height: 36px;
            }

            .mat-header-cell {
                &,
                .mat-sort-header-button {
                    user-select: none;
                    text-transform: uppercase;
                }
            }

            td.mat-cell,
            td.mat-footer-cell,
            th.mat-header-cell {
                padding-left: 8px;
                padding-right: 8px;
            }

            td.mat-cell:last-of-type,
            td.mat-footer-cell:last-of-type,
            th.mat-header-cell:last-of-type {
                padding-right: 8px;
            }

            td.mat-cell {
                font-size: 12px;
                vertical-align: text-top;

                @each $item in $status-labels {
                    &.cdk-column-#{$item} {
                        text-align: right;
                    }
                }
            }

            .cdk-column-select {
                overflow: initial;
                position: relative;
            }

            .cdk-column-name {
                position: relative;

                span.alert-name {
                    line-height: 48px;
                }
            }

            tr.mat-row:hover {
                .cdk-column-name {
                    .edit-actions-wrapper {
                        pointer-events: initial;
                        opacity: 1;
                    }
                }
            }

            // for batch editing
            tr.mat-header-row.is-batch-editing {
                .mat-header-cell:nth-child(n+2) {
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }
    }

    // alert results container
    /*.alert-results {
        .alert-results-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0;
            overflow: hidden;

            .alert-results-body {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: 100%;

                .message {
                    font-weight: 500;
                    height: 30px;
                    text-align:center;
                    padding: 4px;
                }
            }

            .mat-paginator {
                padding: 0 16px;
            }
        }
    }*/

    // alerts result specific table styles
    .alerts-result-table.mat-table {

        .contacts-menu-trigger {
            .mat-icon {
                margin-right: 6px;
                width: 18px;
                height: 18px;
                font-size: 18px;
            }
        }

        .count-empty {
            margin-right: 24px;
        }

        // need to pad it a bit with margin to offset the sort arrow, and line it up with header text
        .count-amount {
            margin-right: 24px;
            padding: 2px;
            cursor: pointer;
            color: $white;
            text-decoration: none;
            border-radius: 4px;
            font-size: 12px;
            padding: 3px 6px;
            outline: none;
        }

        .contact-icon-strip {
            display: inline-flex;
            padding: 4px 4px 6px;
            cursor: pointer;

            .mat-icon {
                @include sizeDenaliIcon(12px);

                &:not(:last-child) {
                    margin-right: 4px;
                }
            }
        }

        ::ng-deep {
            .cdk-column-select,
            .cdk-column-bad,
            .cdk-column-warn,
            .cdk-column-good,
            .cdk-column-unknown,
            .cdk-column-missing,
            .cdk-column-snoozed,
            .cdk-column-sparkline {
                width: 1%;
            }

            .cdk-column-bad,
            .cdk-column-warn,
            .cdk-column-good,
            .cdk-column-unknown,
            .cdk-column-missing,
            .cdk-column-snoozed {
                text-align: right;
            }

            .cdk-column-type {
                width: 125px;
            }

            .cdk-column-contacts {
                width: 100px;
                text-align: center;
                padding-left: 16px;
                padding-right: 16px;
            }

            .cdk-column-modified {
                width: 130px;
            }
        }
    }

    // snooze results container
    .snooze-results {
        .common-results-wrapper {
            .common-results-body {
                overflow-y: auto;
                padding-top: 16px;
            }
        }
    }

    // snooze result specific table styles
    .snooze-results-table.mat-table {

        .alerts-filters-list {
            padding: 0;
        }

        .alerts-filters-list-item {
            display: flex;
            width: initial;
            height: initial;
            min-height: 14px;
            margin: 2px 1px;
            border-radius: 4px;
            border: 0;
            font-size: 12px;

            .alerts-filters-list-item-detail {
                min-width: 0;
                display: flex;
                flex: 1;
                line-height: 14px;

                strong {
                    margin-right: 6px;
                }
            }
        }

        ::ng-deep {
            .cdk-column-select {
                width: 1%;
            }

            .cdk-column-modified,
            .cdk-column-createdBy {
                width: 120px;
            }

            .cdk-column-scope {
                width: 55%;
            }

            .cdk-column-reason {
                width: 18%;
            }

            .alerts-filters-list-item {
                .mat-list-item-content {
                    padding: 0;
                    flex: 1;
                }
            }
        }
    }
}

// CDK ITEMS (these are at document root level)
@at-root ::ng-deep {
    .alert-contacts-menu.mat-menu-panel {
        min-width: initial;
        max-width: initial;

        .mat-menu-content {
            padding-top: 0;
            padding-bottom: 0;
        }

        .contacts-wrapper {
            display: flex;

            .contact-list-type {
                min-width: 150px;
                display: flex;
                flex-direction: column;
            }
        }

        .contact-list-type-descriptor {
            display: flex;
            align-items: center;
            width: 100%;
            height: 32px;
            padding: 0 16px;

            .mat-icon {
                @include sizeDenaliIcon(18px);
                margin-right: 6px;
            }
        }

        .contact-list-type-wrapper {
            .mat-list {
                .mat-list-item {
                    position: relative;
                    height: 30px;
                }

                .recipient-label {
                    display: inline-flex;
                    position: relative;
                    line-height: 12px;
                }
            }
        }

        .mat-menu-item {
            font-size: 12px;

            .mat-icon {
                @include sizeDenaliIcon(18px);
            }
        }
    }

    .create-alert-menu.mat-menu-panel {
        max-width: 320px;

        .mat-menu-content {
            padding-left: 8px;
            padding-right: 8px;
        }

        .mat-divider {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .alert-type-option.mat-menu-item {
            display: flex;
        }

        .alert-type-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex: 1;
            max-width: 100%;
            line-height: initial;
        }
    }

    .namespace-selector-cdk-menu.mat-menu-panel {
        .mat-menu-item {
            height: 24px;
            line-height: 24px;
        }

        .mat-divider {
            margin: 8px 0;
        }

        .filter-all-namespaces {
            padding: 8px 16px;
            width: 100%;

            .mat-form-field {
                width: 100%;
                .mat-form-field-suffix {
                    align-self: center;
                }
            }
        }

        &.submenu {
            max-height: 500px;
        }
    }

    .sparkline-display-cdk-menu.mat-menu-panel {
        max-width: initial; // 100px is width of the sparkline column
        min-width: initial;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .mat-menu-item {
            height: 24px;
            line-height: 24px;
            text-align: right;
        }
    }
}

//* THEMING **/
@each $theme-name, $theme-config in $app-available-themes {

    //* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $primary-default: map-get($primary, default);

    $status: map-get($theme-config, status);

    $status-error: map-get($status, error);
    $status-warning: map-get($status, warning);
    $status-success: map-get($status, success);

    $link: map-get($foreground, link);
    $disabled: map-get($foreground, disabled);
    $header-chip-text: $white;
    $divider: map-get($foreground, divider);

    $card-bg: map-get($background, card);
    $border-color: map-get($foreground, dividers);

    $brand-color: map-get($background, navbar);
    $brand-color-inverse: map-get($foreground, navbar-text);

    /* [[  THEME  ]] (#{$theme-name}) - admin panel component  */
    @at-root [theme='#{$theme-name}'] {

        :host.alerts-container-component {
            background-color: $card-bg;

            .alerts-main-controls {
                box-shadow: inset 0 -1px 0 0 $border-color;

                .namespace-selector {
                    min-width: 250px;

                    .mat-button {
                        background-color: rgba($primary-default, 0.08);

                        .control-label {
                            color: $disabled;
                        }

                        .mat-icon {
                            color: $link;
                        }

                        &:hover {
                            box-shadow: inset 0 -2px 0 0 rgba($primary-default, .3);
                        }

                        &.menu-open {
                            box-shadow: inset 0 -2px 0 0 $primary-default;
                        }
                    }
                }

                .alert-filter-input {
                    .mat-form-field {
                        .mat-form-field-suffix {
                            .mat-icon {
                                color: $link;
                            }
                        }
                    }
                }
            }

            //chips
            .header-chip {
                &.is-error::before {
                    background-color: $status-error;
                }

                &.is-warning::before {
                    background-color: $status-warning;
                }

                &.is-good::before {
                    background-color: $status-success;
                }

                &.is-unknown::before {
                    background-color: map-get($denali-grey, 400);
                }

                &.is-missing::before {
                    background-color: map-get($denali-blue, 400);
                }

                &.is-snoozed::before {
                    background-color: map-get($denali-purple, 500);
                }
            }

            .group-label-chip {
                background: if($is-dark-theme, rgba($white, 0.35), rgba($black, 0.08));
                color: if($is-dark-theme, rgba($black ,0.8), rgba($black ,0.5));
            }

            .batch-controls-toolbar.mat-toolbar {
                background: transparent;

                .batch-select-control {
                    .mat-checkbox-frame {
                        border-color: $link;
                    }

                    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                        background-color: $link;
                    }
                }
            }

            // common table styles
            .common-table-result.mat-table ::ng-deep {
                tr.mat-row:last-child {
                    td.mat-cell{
                        border-bottom: 0;
                    }
                }
            }

            // alerts results container
            .alert-results {
                .alert-results-wrapper {
                    .mat-paginator {
                        border-top: 1px solid $divider;
                    }
                }
            }

            // alerts table
            .alerts-result-table.mat-table ::ng-deep {

                .cdk-column-select {
                    .mat-checkbox-frame {
                        border-color: $link;
                    }

                    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                        background-color: $link;
                    }
                }

                .cdk-column-good  .count-amount {
                    background-color: $status-success;
                }

                .cdk-column-bad .count-amount {
                    background-color: $status-error;
                }

                .cdk-column-warn .count-amount {
                    background-color: $status-warning;
                }

                .cdk-column-unknown .count-amount {
                    background-color: map-get($denali-grey, 400);
                }

                .cdk-column-missing .count-amount {
                    background-color: map-get($denali-blue, 400);
                }

                .cdk-column-name {
                    .edit-actions-wrapper {
                        .mat-button {
                            color: $link;
                        }
                    }
                }

                .cdk-column-contacts {
                    .contact-icon-strip {
                        color: if($is-dark-theme, $brand-color-inverse, $brand-color);
                    }
                }

                // disabled state
                .mat-row.is-disabled {
                    background-color: rgba($divider, .05);

                    .group-label-chip {
                        opacity: .6
                    }

                    .mat-cell {
                        color: rgba($divider, .25);
                    }

                    .cdk-column-select {
                        .mat-checkbox-frame {
                            border-color: rgba($divider, .25);
                        }

                        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                            background-color: rgba($divider, .25);
                        }
                    }

                    .cdk-column-contacts {
                        .contact-icon-strip {
                            background-color: transparent;
                            color: if($is-dark-theme, rgba(map-get($foreground, navbar-text), .25), rgba($divider, .25));
                        }
                    }
                }
            }
        }

        // cdk items
        ::ng-deep {
            .namespace-selector-menu {
                border: 1px solid $divider;

                .filter-all-namespaces {
                    border-bottom: 1px solid $divider;
                }
            }

            .alert-contacts-menu.mat-menu-panel {
                border: 1px solid $divider;

                .contacts-wrapper {
                    .contact-list-type {
                        &:not(:last-child) {
                            border-right: 1px solid $divider;
                        }
                    }
                }
            }

            .create-alert-menu {
                border: 1px solid $divider;

                .alert-type-label {
                    color: $link;
                }
            }

            .sparkline-display-cdk-menu.mat-menu-panel {
                border-top: 2px solid $primary-default;
            }
        }
    }
}
