
<mat-card fxLayout="column" fxFlexFill>
    <mat-card-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" class="panel-body">
        <div fxFlex="1 1 18px" fxLayout="row" fxLayoutAlign="stretch stretch" class="panel-heading">
            <mat-toolbar>
                <mat-toolbar-row>
                    <span class="panel-title"
                        matTooltip="{{widget.settings.title}}"
                        [matTooltipClass]="{'cdk-widget-title-tooltip':true}"
                        *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'
                                && widget.settings.component_type !== 'BignumberWidgetComponent'
                                && widget.settings.component_type !== 'MarkdownWidgetComponent'
                                && widget.settings.component_type !== 'EventsWidgetComponent'">{{widget.settings.title}}</span>
                    <span class="flex-spacer"></span>
                    <!--<button mat-icon-button (click)="openIsland();">
                        <mat-icon fontSet="denali" fontIcon="d-memory-chip"></mat-icon>
                    </button>-->
                    <span *ngIf="widget.settings.time && widget.settings.time.overrideTime" matTooltip="{{widget.settings.time.overrideTime.start}} - {{widget.settings.time.overrideTime.end}}">
                        <mat-icon class="time-lock" fontSet="denali" fontIcon="d-time-lock"></mat-icon>
                    </span>
                    <button mat-icon-button [matMenuTriggerFor]="widgetMenu" class="widget-menu-trigger">
                        <mat-icon fontSet="denali" fontIcon="d-more-horizontal"></mat-icon>
                    </button>
                    <mat-menu #widgetMenu="matMenu" xPosition="before" class="widget-menu">
                        <ng-container *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'">
                            <button mat-menu-item (click)="loadWidget('edit')" *ngIf="hasWriteAccess">
                                <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                                <span>Edit & Explore</span>
                            </button>
                            <button mat-menu-item (click)="loadWidget('explore')" *ngIf="!hasWriteAccess">
                                <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                                <span>Explore</span>
                            </button>
                            <button mat-menu-item (click)="widgetClone()">
                                <mat-icon fontSet="denali" fontIcon="d-duplicate"></mat-icon>
                                <span>Clone</span>
                            </button>
                            <button mat-menu-item (click)="widgetCopy()" *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'">
                                <mat-icon fontSet="denali" fontIcon="d-copy-file"></mat-icon>
                                <span>Copy to Clipboard</span>
                            </button>
                            <button mat-menu-item (click)="createAlert()" *ngIf="userHasWriteAccessToNamespace && widget.settings.component_type !== 'PlaceholderWidgetComponent'
                                && widget.settings.component_type !== 'MarkdownWidgetComponent'">
                                <mat-icon fontSet="denali" fontIcon="d-notification"></mat-icon>
                                <span>Create Alert</span>
                            </button>
                            <button mat-menu-item (click)="downloadJSON()" *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'
                                && widget.settings.component_type !== 'MarkdownWidgetComponent'">
                                <mat-icon fontSet="denali" fontIcon="d-download"></mat-icon>
                                <span>JSON data</span>
                            </button>
                            <button mat-menu-item (click)="downloadDataQuery()" *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'
                                && widget.settings.component_type !== 'MarkdownWidgetComponent'">
                                <mat-icon fontSet="denali" fontIcon="d-download"></mat-icon>
                                <span>Data query</span>
                            </button>
                            <!--<button mat-menu-item (click)="widgetShare()">
                                <mat-icon fontSet="denali" fontIcon="d-share"></mat-icon>
                                <span>Share</span>
                            </button>
                            <button mat-menu-item [matMenuTriggerFor]="subMenu">
                                <mat-icon></mat-icon>
                                <span>Export</span>
                            </button>-->
                            <span class="menu-seperator"></span>
                        </ng-container>
                        <button mat-menu-item (click)="widgetRemove()">
                            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                            <span>Remove</span>
                        </button>
                    </mat-menu>
                    <!--<mat-menu #subMenu="matMenu" class="widget-submenu">
                        <button mat-menu-item (click)="widgetExportJSON()">
                            <mat-icon fontSet="denali" fontIcon="d-upload"></mat-icon>
                            <span>Export JSON</span>
                        </button>
                        <button mat-menu-item (click)="widgetExportImage()">
                            <mat-icon fontSet="denali" fontIcon="d-download"></mat-icon>
                            <span>Download Image</span>
                        </button>
                    </mat-menu>-->
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <div widget-container></div>
    </mat-card-content>
</mat-card>

<ng-template #islandPortalTest>
    <strong>Info Island Template Portal Example (w/context)</strong> <br />
    {{widget|json}}
</ng-template>
