@mixin global-notification-component-base() {

    $min-height: 30px;

    .global-notification-component {
        display: none;
        position: relative;

        &.notification-visible {
            width: 100%;
            height: $min-height;
            min-height: $min-height;
            flex: 1 1 30px;
            display: flex;
            align-items: stretch;
            justify-content: stretch;
        }

        .notification-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            //background-color: white;

            .summary-container {
                display: flex;
                flex: 1 1 22px;
                align-items: center;
                padding: 0 4px;
                margin: 4px;
                border-radius: 3px;

                .mat-icon {
                    @include sizeDenaliIcon(18px);
                    margin-right: 8px;
                }
            }

            .detail-container {
                padding: 8px;
            }

            .detail-content {
                width: 100%;
            }

            &:not(.show-detail) {
                .detail-container {
                    display: none;
                }
            }

            &.show-detail {
                box-shadow: 0 0 12px;

                .detail-container {
                    display: flex;
                    flex: 1 1 100%;
                    max-height: 300px;
                    margin: 0 4px 4px 4px;
                    border-radius: 3px;
                    position: relative;

                    .mat-button.collapse-detail-button {
                        position: absolute;
                        top: 100%;
                        left: calc(50% - 50px);
                        line-height: 18px;
                        font-size: 12px;
                        padding: 0 6px;
                        box-shadow: 0 4px 6px -3px #000000;

                        .mat-icon {
                            @include sizeDenaliIcon(14px);
                            transform: rotate(90deg);

                            &:first-child {
                                margin-right: 6px;
                            }

                            &:last-child {
                                margin-left: 6px;
                            }
                        }
                    }
                }

                .detail-content {
                    markdown ol,
                    markdown ul {
                        margin-left: 14px;
                    }
                }
            }


        }

        .show-detail-button {
            line-height: 18px;
            font-size: 12px;
        }

        .dismiss-global-notification {
            width: 18px;
            height: 18px;
            line-height: 18px;


            .mat-icon {
                @include sizeDenaliIcon(18px);
            }
        }
    }
}

@mixin global-notification-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $blue: map-get($graph-colors, "blue");
    $amber: map-get($graph-colors, "amber");

    .global-notification-component {
        &.info-notification {
            .notification-wrapper {
                background-color: $blue;
            }

            .summary-container .mat-icon.type-icon {
                color: $blue;
            }

            .mat-button.collapse-detail-button {
                background: $blue;
                color: white;
            }
        }

        &.alert-notification {
            .notification-wrapper {
                background-color: $amber;
            }

            .summary-container .mat-icon.type-icon {
                color: $amber;
            }

            .mat-button.collapse-detail-button {
                background: $amber;
                color: #000000;
            }
        }

        .show-detail-button {
            color: map-get($foreground, link);
        }

        .summary-container,
        .detail-container {
            color: #000000;
            background-color: #ffffff;
        }
    }
}
