<div class="notification-wrapper" [class.show-detail]="showDetail">
    <div class="summary-container">
        <mat-icon class="type-icon" fontSet="denali" [fontIcon]="notification.type === 'alert' ? 'd-warning-solid' : 'd-information-circle-solid'"></mat-icon>
        <span>{{notification.summary}} <a mat-button class="show-detail-button" (click)="showNotificationDetail()" *ngIf="!showDetail">show detail</a></span>
        <span class="flex-spacer"></span>
        <button mat-icon-button (click)="dismissNotification()" class="dismiss-global-notification">
            <mat-icon fontSet="denali" fontIcon="d-close-circle-solid"></mat-icon>
        </button>
    </div>
    <div class="detail-container" *ngIf="notification.detail">
        <div class="detail-content">
            <markdown class="markdown-body" id="markdown-override" [data]="notification.detail"></markdown>
        </div>
        <a mat-button class="collapse-detail-button" (click)="hideNotificationDetail()">
            <mat-icon fontSet="denali" fontIcon="d-arrow-skip-back"></mat-icon> <span>collapse</span> <mat-icon fontSet="denali" fontIcon="d-arrow-skip-back"></mat-icon>
        </a>
    </div>
</div>
