@mixin generic-message-bar-component-theme() {
    .generic-message-bar {
        .generic-message-item {
            color: rgba($black, 0.85);
            background-color: rgba($white, .9);
        }

        &.is-error {
            background-color: mat-color($other, status-error);
            color: mat-color($other, status-error-contrast);

            .generic-message-item {
                .mat-icon,
                .message-type {
                    color: mat-color($other, status-error);
                }
            }
        }

        &.is-warning {
            background-color:mat-color($other, status-warning);
            color: mat-color($other, status-warning-contrast);

            .generic-message-item {
                .mat-icon,
                .message-type {
                    color: mat-color($other, status-warning);
                }
            }
        }

        &.is-success {
            background-color: mat-color($other, status-success);
            color: mat-color($other, status-success-contrast);

            .generic-message-item {
                .mat-icon,
                .message-type {
                    color: mat-color($other, status-success);
                }
            }
        }

        &.is-info {
            background-color: mat-color($other, status-info);
            color: mat-color($other, status-info-contrast);

            .generic-message-item {
                .mat-icon,
                .message-type {
                    color: mat-color($other, status-info);
                }
            }
        }
    }
}
