<ng-container *ngIf="userListMode; else userDetail">
    <ng-container *ngTemplateOutlet="userList"></ng-container>
</ng-container>

<ng-template #userList>
    <STRONG>USER LIST</STRONG>


</ng-template>

<ng-template #userDetail>
    <STRONG>USER DETAIL</STRONG>

</ng-template>

<ng-template #userNotFound>
    <STRONG>USER NOT FOUND</STRONG>
</ng-template>

<ng-template #userListNavbarTmpl>
    <span class="navbar-item nav-namespace-title">Users</span>
    <span class="flex-spacer"></span>
</ng-template>

<ng-template #userDetailNavbarTmpl>
    <span class="navbar-item nav-namespace-title">User: </span>
    <span class="flex-spacer"></span>
</ng-template>
