<ng-container *ngIf="namespaceListMode; else namespaceDetail">
    <ng-container *ngTemplateOutlet="namespaceList"></ng-container>
</ng-container>

<ng-template #namespaceList>
    <STRONG>NAMESPACE LIST</STRONG>
    <div *ngFor="let item of nsListItems">
        {{item|json}}
    </div>
</ng-template>

<ng-template #namespaceDetail>
    <STRONG>NAMESPACE DETAIL: {{nsDbfs.name}}</STRONG>
    <div>
        {{nsDbfs|json}}
    </div>
</ng-template>

<ng-template #namespaceNotFound>
    <STRONG>NAMESPACE NOT FOUND</STRONG>
</ng-template>

<ng-template #namespaceListNavbarTmpl>
    <span class="navbar-item nav-namespace-title">Namespace List</span>
    <span class="flex-spacer"></span>
</ng-template>

<ng-template #namespaceDetailNavbarTmpl>
    <span class="navbar-item nav-namespace-title">Namespace: {{nsDbfs.name}}</span>
    <span class="flex-spacer"></span>
</ng-template>
