@mixin table-widget-component-theme() {

    $card-background: mat-color($background, card);
    $ink-bar-color: mat-color($background, ink-bar);

    .widget-panel-content.table-widget {

        .mat-button-toggle-group{
            .mat-button-toggle-appearance-standard {
                &.mat-button-toggle-checked {
                    background: $card-background;
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        background-color: $ink-bar-color;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }

        .widget-output {
            background-color: mat-color($background, card);
        }

        .mat-cell {
            &.mat-table-sticky {
                border-right: 1px solid if($is-dark, find-color-invert(#e0e0e0), #e0e0e0); // TODO: plulg into theme
            }
        }
    }
}
