<!-- LINE CHART COMPONENT -->
<ng-template [ngIf]="widget.settings.component_type==='LinechartWidgetComponent'">
    <!-- Hiding for now
        <div class="stack-order-container">
        <div class="config-control">
            <span class="mat-label mat-body-strong">Stack Order </span>
            <mat-form-field  [floatLabel]="'never'" appearance="fill">
                <mat-select placeholder="Stack Order" [formControl]="stackOrderControl">
                        <mat-option *ngFor="let option of stackOrderOptions" [value]="option.value">
                        <span>{{ option.label }}</span>
                        </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>-->
</ng-template>
<!-- BAR CHART COMPONENT -->
<ng-template [ngIf]="widget.settings.component_type==='BarchartWidgetComponent'">
    <div class="bar-chart-visual-container">
        <div class="mat-label">Direction</div>
        <div class="config-control">
            <mat-radio-group  [formControl]="displayControl">
                <mat-radio-button value="vertical">
                    <mat-icon fontSet="denali" fontIcon="d-chart-bar-vertical"></mat-icon>
                    <span>Vertical</span>
                </mat-radio-button>
                <mat-radio-button value="horizontal">
                    <mat-icon fontSet="denali" fontIcon="d-chart-bar-horizontal"></mat-icon>
                    <span>Horizontal</span>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</ng-template>
<!-- DONUT CHART COMPONENT -->
<ng-template [ngIf]="widget.settings.component_type==='DonutWidgetComponent'">
    <div class="donut-chart-visual-container">
        <div class="mat-label">Style</div>
        <div class="config-control">
            <mat-radio-group [formControl]="displayControl">
                <mat-radio-button value="pie">
                    <mat-icon fontSet="denali" fontIcon="d-chart-pie"></mat-icon>
                    <span>Pie Chart</span>
                </mat-radio-button>
                <mat-radio-button value="doughnut">
                    <mat-icon fontSet="denali" fontIcon="d-chart-donut"></mat-icon>
                    <span>Donut Chart</span>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</ng-template>
