<form [formGroup]="widgetConfigAxes">
    <div class="column" *ngIf="widgetConfigAxes.controls.y1" formGroupName="y1">
        <div class="config-control with-enable-label">
            <label class="fixed-label">Y1 Axis</label>
            <div class="form-field-group" *ngIf="y1AxisEnabledToggleDisplay">
                <mat-slide-toggle formControlName="enabled"><span class="mat-caption" [ngClass]="{'is-enabled': y1AxisEnabled_label === 'enabled'}">{{y1AxisEnabled_label}}</span></mat-slide-toggle>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Unit</label>
            <div class="form-field-group">
                <mat-form-field appearance="fill">
                    <mat-select formControlName="unit">
                        <mat-option *ngFor="let option of yAxisUnitOptions" [value]="option.value">
                        {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <label class="fixed-label">Scale</label>
            <div class="form-field-group">
                <mat-form-field appearance="fill">
                    <mat-select formControlName="scale">
                        <mat-option *ngFor="let option of yAxisScaleOptions" [value]="option.value">
                        {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Values</label>
            <div class="form-field-group">
                <mat-form-field class="inline-hint" appearance="fill" color="primary">
                    <input matInput formControlName="min">
                    <mat-hint>Y1 Min</mat-hint>
                </mat-form-field>
                <mat-form-field class="inline-hint" appearance="fill" color="primary">
                    <input matInput formControlName="max">
                    <mat-hint>Y1 Max</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Decimals</label>
            <mat-form-field appearance="fill" color="primary">
                <input matInput formControlName="decimals">
                <mat-hint>Number of decimals</mat-hint>
            </mat-form-field>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Label</label>
            <mat-form-field appearance="fill" color="primary">
                <input matInput formControlName="label">
                <mat-hint>Enter label for Y1 axis</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="column" *ngIf="widgetConfigAxes.controls.y2" formGroupName="y2">
        <div class="config-control with-enable-label">
            <label class="fixed-label">Y2 Axis</label>
            <div class="form-field-group">
                <mat-slide-toggle formControlName="enabled"><span class="mat-caption" [ngClass]="{'is-enabled': y2AxisEnabled_label === 'enabled'}">{{y2AxisEnabled_label}}</span></mat-slide-toggle>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Unit</label>
            <div class="form-field-group">
                <mat-form-field appearance="fill">
                    <mat-select formControlName="unit">
                        <mat-option *ngFor="let option of yAxisUnitOptions" [value]="option.value">
                        {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <label class="fixed-label">Scale</label>
            <div class="form-field-group">
                <mat-form-field appearance="fill">
                    <mat-select formControlName="scale">
                        <mat-option *ngFor="let option of yAxisScaleOptions" [value]="option.value">
                        {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Values</label>
            <div class="form-field-group">
                <mat-form-field class="inline-hint" appearance="fill" color="primary">
                    <input matInput formControlName="min">
                    <mat-hint>Y2 Min</mat-hint>
                </mat-form-field>
                <mat-form-field class="inline-hint" appearance="fill" color="primary">
                    <input matInput formControlName="max">
                    <mat-hint>Y2 Max</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Decimals</label>
            <mat-form-field appearance="fill" color="primary">
                <input matInput formControlName="decimals">
                <mat-hint>Number of decimals</mat-hint>
            </mat-form-field>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Label</label>
            <mat-form-field appearance="fill" color="primary">
                <input matInput formControlName="label">
                <mat-hint>Enter label for Y2 axis</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="column" *ngIf="widgetConfigAxes.controls.x" formGroupName="x">
        <div class="config-control with-enable-label">
            <label class="fixed-label">X-Axis</label>
            <div class="form-field-group">
                <mat-slide-toggle formControlName="enabled"><span class="mat-caption" [ngClass]="{'is-enabled': xAxisEnabled_label === 'enabled'}">{{xAxisEnabled_label}}</span></mat-slide-toggle>
            </div>
        </div>
        <div class="config-control inline-controls">
            <label class="fixed-label">Mode</label>
            <div class="form-field-group">
                <mat-form-field appearance="fill">
                    <mat-select formControlName="scale">
                        <mat-option *ngFor="let option of xAxisModeOptions" [value]="option.value">
                        {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>