<!--<global-notification-banner (globalNotificationVisible)="globalMessageVisibility($event)"></global-notification-banner>-->
<generic-message-bar></generic-message-bar>
<div class="app-shell-wrapper" fxLayout="column" fxFlexFill>
    <!-- topmost navigation bar of the application -->

    <mat-sidenav-container class="app-navigator" fxFlex="1 1 100%" hasBackdrop="false">
        <!-- the sidebar nav that slides out from left -->
        <mat-sidenav class="app-sidenav"
            [fixedInViewport]="true"
            [fixedTopGap]="sideNavTopGap"
            mode="side"
            [opened]="sideNavOpen"
            disableClose
            #sidenav>
            <!--<mat-nav-list>
                <ng-container *ngFor="let nav of navItems">
                    <a mat-list-item (click)="navigationAction(nav)" [ngClass]="{'is-active': activeNav.section === nav.section}">
                        <mat-icon fontSet="denali" [fontIcon]="nav.icon"></mat-icon>
                        <span class="nav-label">{{nav.label}}</span>
                    </a>
                    <span class="flex-spacer" *ngIf="nav.spacerAfter"></span>
                </ng-container>
            </mat-nav-list>-->
            <app-navigator-sidenav
                (activeNavChange)="navigationAction($event)"
                [activeNav]="{'section': activeNavSection}"
                [drawerOpen]="drawerOpened"
                [mediaQuery]="activeMediaQuery"
                [yamasMember]="isYamasMember"></app-navigator-sidenav>
        </mat-sidenav>
        <!-- where the rest of the app gets output -->
        <mat-sidenav-content class="app-navigator-output" fxFlex="1 1 100%" fxLayout fxLayoutAlign="stretch stretch">
            <mat-drawer-container class="app-navigator-outlet-container" fxFlex="1 1 100%" autosize>
                <mat-drawer class="app-navigator-drawer"
                    (closedStart)="drawerClosedStart()"
                    (openedChange)="drawerOpenChange($event)"
                    [mode]="drawerMode"
                    [autoFocus]="false"
                    #drawer>
                    <!-- DRAWER CONTENTS -->
                    <!--<dashboard-navigator
                        *ngIf="activeNavSection === 'dashboard'"
                        [activeNavSection]="activeNavSection"
                        [activeMediaQuery]="activeMediaQuery"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></dashboard-navigator>-->
                    <dbfs *ngIf="activeNavSection === 'dashboard'"
                        [activeNavSection]="activeNavSection"
                        [activeMediaQuery]="activeMediaQuery"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></dbfs>
                    <settings-panel
                        *ngIf="activeNavSection === 'settings'"
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></settings-panel>
                    <admin-panel
                        *ngIf="activeNavSection === 'admin' && isYamasMember"
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        [yamasMember]="isYamasMember"
                        ></admin-panel>
                    <test-navigator
                        *ngIf="activeNavSection === 'admin' && !isYamasMember"
                        panelTitle="Admin Panel"
                        panelText="Sorry... you do not have access to this panel"
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                    <!-- placeholders -->
                    <test-navigator
                        *ngIf="activeNavSection === 'metric-explorer'"
                        panelTitle="Metric Explorer Panel"
                        panelText="Metric explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                   <!-- <test-navigator
                        *ngIf="activeNavSection === 'alerts'"
                        panelTitle="Alerts Panel"
                        panelText="Alerts explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                   -->
                    <test-navigator
                        *ngIf="activeNavSection === 'status'"
                        panelTitle="Status Panel"
                        panelText="Status explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                    <test-navigator
                        *ngIf="activeNavSection === 'annotations'"
                        panelTitle="Anotations Panel"
                        panelText="Anotations explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                    <!--<test-navigator
                        *ngIf="activeNavSection === 'admin'"
                        panelTitle="Admin Panel"
                        panelText="Admin panel is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>-->
                    <test-navigator
                        *ngIf="activeNavSection === 'favorites'"
                        panelTitle="Favorites Panel"
                        panelText="Favorites explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                    <test-navigator
                        *ngIf="activeNavSection === 'namespaces'"
                        panelTitle="Namespaces Panel"
                        panelText="Namespaces explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                    <test-navigator
                        *ngIf="activeNavSection === 'resources'"
                        panelTitle="Resources Panel"
                        panelText="Resources explorer is coming soon to a Horizon near you."
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                    <test-navigator
                        *ngIf="activeNavSection === 'test'"
                        panelTitle="Test Panel"
                        panelText="This is a the test panel"
                        [activeNavSection]="activeNavSection"
                        [drawerMode]="drawerMode"
                        (toggleDrawer)="toggleDrawerMode($event)"
                        ></test-navigator>
                </mat-drawer>
                <mat-drawer-content class="router-outlet" fxLayout="row" fxFlex="1 1 100%" fxFlexFill>
                    <div class="app-content-wrap" fxLayout="column" fxFlex="1 1 100%" fxFlexFill>
                        <app-navbar fxFlex="1 1 48px" [mediaQuery]="activeMediaQuery" (sidenavToggle)="sidenavToggle()" fxLayout fxLayoutAlign="stretch stretch" fxFlexFill></app-navbar>
                        <!-- GLOBAL MESSAGING BAR -->
                        <div class="messaging-bar" [ngClass]="{'is-hidden': !messageBarVisible, 'is-error-type': messageBarData.type === 'error', 'is-warning-type': messageBarData.type === 'warning', 'is-success-type': messageBarData.type === 'success', 'is-info-type': messageBarData.type === 'info'}">
                            <div class="message-icon">
                                <mat-icon fontSet="denali" [fontIcon]="messageBarIconMap[messageBarData.type]"></mat-icon>
                            </div>
                            <div class="message-text">
                                {{messageBarData.message}}
                            </div>
                            <div class="message-close">
                                <button mat-icon-button (click)="closeMessageBar()">
                                    <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <!-- THE ENTIRE APP CONTENT FLOWS THROUGH HERE -->
                        <router-outlet></router-outlet>
                    </div>
                    <!-- clipboard drawer -->
                    <ng-container *ngIf="clipboardAvailable">
                        <clipboard-drawer></clipboard-drawer>
                    </ng-container>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
