@use '~@angular/material' as mat;
@mixin datepicker-component-theme() {

    .dp-selected {
        // background: if($is-dark, true-value, false-value);
        background: mat.get-color-from-palette($primary, default);
    }

    .calendar-container {
        background-color: mat.get-color-from-palette($background, card);
        color: mat.get-color-from-palette($foreground, text);

        .mat-calendar-body-not-current {
            background-color: mat.get-color-from-palette($background, hover);

            .mat-calendar-body-cell-content {
                color: mat.get-color-from-palette($foreground, disabled);
            }
        }

        .mat-calendar-body-disabled {
            background: repeating-linear-gradient(
                45deg,
                rgba($black, .03),
                rgba($black, .03) 2px,
                rgba($black, .05) 2px,
                rgba($black, .05) 4px
            );
        }
    }
}
